// pagenav
.page-automobile {
  .pagenav {
    @include tablet {
      display: none;
    }
  }
}
.pagenav {
  display: flex;
  flex-direction: row;
  padding: 30px 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 14px $shadow50;

  &__item {
    list-style: none;
    position: relative;

    &:after { // link underline
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        display: block;
        width: 100%;
        height: 5px;
        border-radius: 6px;
        background: $red;
        opacity: 0;
        transform: translateY(10px);
        transition: $tr;
      }
    &--active, &:hover {

      &:after { // link underline hover
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
  &__item + &__item{
    margin-left: 50px;
  }
  &__link {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    padding: 10px 0px;
  }
  &--smallgap {
    .pagenav__item + .pagenav__item {
      margin-left: 30px;
    }
  }
}
// eof pagenav

// color-choose section

.color-selector {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // align-items: flex-start;

  &__item {
    width: 55px;
    height: 55px;
    border-radius: 6px;
    margin-top: 17px;
    border: 1px solid #B5B7B3;
    list-style: none;
    cursor: pointer;
    will-change: transform;
    transition: $tr;

    &--c1 {
      background-image: linear-gradient(45deg, rgba(222, 222, 222, 1) 27.07%, rgba(222, 222, 222, .8) 49.72%, rgba(222, 222, 222, 1) 70.96%);
    }
    &--c2 {
      background-image: linear-gradient(45deg, rgba(0, 0, 0, 1) 27.07%, rgba(0, 0, 0, .8) 49.72%, rgba(0, 0, 0, 1) 70.96%);
    }
    &--c3 {
      background-image: linear-gradient(45deg, rgba(242, 242, 240, 1) 27.07%, rgba(242, 242, 240, .8) 49.72%, rgba(242, 242, 240, 1) 70.96%);
    }
    &--c4 {
      background-image: linear-gradient(45deg, rgba(82, 82, 82, 1) 27.07%, rgba(82, 82, 82, .8) 49.72%, rgba(82, 82, 82, 1) 70.96%);
    }
    &--c5 {
      background-image: linear-gradient(45deg, rgba(1, 25, 36, 1) 27.07%, rgba(1, 25, 36, .8) 49.72%, rgba(1, 25, 36, 1) 70.96%);
    }
    &--c6 {
      background-image: linear-gradient(45deg, rgba(0, 0, 13, 1) 27.07%, rgba(0, 0, 13, .8) 49.72%, rgba(0, 0, 13, 1) 70.96%);
    }
    &--c7 {
      background-image: linear-gradient(45deg, rgba(157, 23, 35, 1) 27.07%, rgba(157, 23, 35, .8) 49.72%, rgba(157, 23, 35, 1) 70.96%);
    }
    &--c8 {
      background-image: linear-gradient(45deg, rgba(107, 94, 77, 1) 27.07%, rgba(107, 94, 77, .8) 49.72%, rgba(107, 94, 77, 1) 70.96%);
    }
    &--c9 {
      background-image: linear-gradient(45deg, rgba(219, 219, 219, 1) 27.07%, rgba(219, 219, 219, .8) 49.72%, rgba(219, 219, 219, 1) 70.96%);
    }
    &--c10 {
      background-image: linear-gradient(45deg, rgba(42, 34, 28, 1) 27.07%, rgba(42, 34, 28, .8) 49.72%, rgba(42, 34, 28, 1) 70.96%);
    }
    &:hover, &--active {
      transform: scale(1.1);
    }
  }
  &__item + &__item {
    margin-left: 20px;
  }
}


.color-choose-buttons {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;

  .btn + .btn {
    margin-left: 50px;
  }
}
// eof color-choose



.car-card {
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;

  &--big {
    @extend .wrapper;
    margin-top: 67px;
    margin-bottom: 50px;
  }
  &__img {
    width: 100%;
    height: auto;
  }
  &__info {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    width: 42%;
    padding: 30px 50px;
    box-sizing: border-box;
    box-shadow: 4px 4px 24px rgba(77, 79, 83, 0.25);
  }
  &__heading {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    font-family: $f-td;
    letter-spacing: .1em;
  }
  .text-simple {
    margin: 0;
  }
  &__fuel {
    display: flex;
    align-items: center;
    .ico--fuel {
      padding: 15px;
    }
    p {
      margin: 0;
    }
  }
} // eof car-card


// variant
.variant-table {
  margin-top: 50px;
}
.table {

  @include tablet {
    overflow: auto;
  }
  
  .filter-block__switch-label {
    width: auto;
    padding: 0;
    margin-bottom: 10px;
  }
  input[type="checkbox"] + .checkbox-label::before {
    margin-right: 0;
  }

  &__group {
    // padding: 25px 0;

    &--hidden {
      display: none;
    }
  }
  img, svg {
    user-select: none;
  }

  &__icon {
    color: #B5B7B3;

    svg path {
      fill: currentColor;
    }
  }
  &__row-wrapper {
    box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);

    @include tablet {
      min-width: 1200px;
    }
  }
  &__row {
    @include row-flex();
    @include wrapper();

    @include tablet {
      min-width: 1200px;
    }
    
  }
  &__col {
    @include col();
    @include size(2);
    min-height: 68px;
    box-sizing: border-box;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:first-of-type {
      @include size(3);
      text-align: left;
      align-items: flex-start;
    }
    &--highlight {
      background-color: $blue;
      background: linear-gradient(90deg, #1D71B8 0%, #0F82C9 25.41%, #0094DB 49.17%, #0F82C9 74.03%, #1D71B8 99.45%);
      box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);

      .link {
        color: #fff;
      }
      .table__icon  {
        color: #fff;
      }
    }
  }
  &__link {
    color: $blue;
    font-style: italic;
    font-size: 12px;
    text-decoration: none;
    margin: 7px 0;

    &:hover {
      text-decoration: underline;
    }
  }
  &__text {
    font-style: italic;
    font-size: 14px;
    letter-spacing: .05em;

    &--small {
      font-size: 12px;
      margin: 7px 0;
    }
    &--medium {
      font-size: 14px;
      margin: 7px 0;
      font-style: normal;
      letter-spacing: normal;
    }
    &--strong {
      font-weight: bold;
    }
    &--italic {
      font-style: italic;
      font-size: 14px;
    }
    &--line {
      font-size: 12px;
      text-decoration: line-through;
      margin: 7px 0;
    }
  }
  &__heading {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: .05em;
  }
  &__car {
    position: relative;
    margin-top: 8px;
    user-select: none;
    opacity: .6;
    transition: $tr;
    will-change: opacity;
    margin-bottom: 40px;

    
    img {
      max-width: 100%;
      width: 144px;
      transition: $tr;
    }
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      color: #fff;
      transform: translate(-50%,-50%);
    }
    &--active {
      opacity: 1;

      img {
        width: 170px;
      }
    }
  } //eof table__car
  &__price {
    display: flex;
  }
  &__price-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }
}
// eof variant



// specs
.specs-table {
  margin-top: 50px;
}
.specs-more {
  margin-top: 30px;
  color: $red;
  text-decoration: none;
  font: $f-td;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: .1em;

  img {
    transform: rotate(90deg);
    margin-left: 10px;
  }
}
// eof specs



// photo-grid
.photo-grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 32vw;
  margin-top: 50px;
  font-size: 0;
  box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);

  @include mobile {
    display: none;
  }

  &__col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;

    &--m {
      width: 56%;
    }
  }
  &__item {
    overflow: hidden;
    cursor: pointer;

    &:hover .photo-grid__img {
      transform: scale(1.05);
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
    will-change: transform;
  }
}
.photo-grid__col--s {
  width: 44%;

  .photo-grid__item {

    &:nth-of-type(1) {
      width: 100%;
      height: 73%;
    }
    &:nth-of-type(2),
    &:nth-of-type(3) {
      width: 50%;
      height: 27%;
    }
  }
}

.photo-grid__col--m {
  width: 56%;

  .photo-grid__item {
    width: 50%;
    height: 50%;
  }
}
// eof photo-grid


// docs
.docs {
  @include wrapper();
  display: flex;
  margin-bottom: 200px;
  border: 1px solid #CBCDC9;
  box-shadow: 0px 0px 62px rgba(77, 79, 83, 0.3);

  @include tablet {
    box-shadow: none;
    justify-content: center;
    border: none;
  }

  .section-title {
    margin-top: 50px;
  }

  &__part {
    position: relative;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    min-height: 100px;

    @include tablet {
      @include col();
      @include size(10);
    }
    @include mobile {
      @include size(12);
    }

    &:after {
      content: "";
      position: absolute;
      left: 20px;
      top: 20px;
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      border: 1px solid #CBCDC9;
      border-radius: 3px;
      z-index: -1;

      @include tablet {
        display: none;
      }
    }

    &:first-of-type {
      border-right: 1px solid #CBCDC9;
      text-align: center;

      @include tablet {
        display: none;
      }
    }
  } //eof part

  &__img {
    width: 83%;
    margin-bottom: 45px;
  }

  &__listing {
    padding: 115px 35px;
    box-sizing: border-box;
  }
  &__item {
    margin-bottom: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__link {
    color: inherit;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;

    &--alt {
      font-style: italic;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  .ico--pdf {
    margin-right: 18px;
  }
}
// eof docs



// video-wrapper
.video-wrapper {
  min-height: 1000px; //TODO: check
  padding: 70px 0;
  text-align: center;
  @include tablet {
    background-image: none;
    background-color: #fff;
    color: $black;
  }

  @include tablet {
    min-height: 0;
  }

  &__subtitle {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    font-family: $f-td;
  }

  .btn {
    margin: 30px 0;
  }

  iframe {
    max-width: 1290px;
    height: 720px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;

    @include tablet {
      display: none;
      max-width: 610px;
      height: 344px;
    }
    @include mobile {
      max-width: 298px;
      height: 168px;
    }
  }
}
// eof video-wrapper
