.page-availible-head{
  background-image: url(../img/bg-available.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color:white;
  padding-bottom: 0;
  box-shadow: 0px 0px 14px $shadow50;
}
.available-card{
  margin-top: 100px;
  position: relative;
  @extend .clearfix;

  &__description{
    background: white;
    box-shadow: 4px 4px 24px $shadow25;
    border-radius: 2px;
    color: $black;
    padding:50px 20px;
    @include col();
    @include size(5);
    //width: percentage(5/12);
    position: absolute;
    transform: translateY(15%);
    z-index: 1;
  }
  &__title{
    margin: 0 0 10px;
    font-family: $f-td;
    line-height: normal;
    font-size: 24px;
    letter-spacing: .1em;
    font-weight: bold;
  }
  &__text{
    margin: 10px 0;
    line-height: normal;
    font-size: 18px;
  }
  &__line{
    margin: 7px 0;
    line-height: normal;
    font-size: 18px;
  }
  &__more{
    display: inline-block;
    margin-top: 20px;
  }
  &__image{
    box-shadow: 4px 4px 14px $shadow25;
    border-radius: 2px;
    @include col();
    @include size(8);
    //width: percentage(8/12);
    height: 600px;
    float: right;
    position: relative;
    img{
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
}
