.page-availible-head{
  box-shadow: 0px 0px 14px $shadow50;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 300px;
  margin-bottom: 0;
  background-color: #767676;
  background-image: url(../img/bg-available.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  color:white;
}
.car-card{
  margin-top: 100px;
  position: relative;
  display: flow-root;

  &__description{
    background: white;
    box-shadow: 4px 4px 24px $shadow25;
    border-radius: 2px;
    color: $black;
    padding:50px 20px;
    width: percentage(5/12);
    position: absolute;
    transform: translateY(15%);
  }
  &__title{
    font-family: $f-td;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 2.4px;
    font-weight: bold;
  }
  &__info{
    padding-top: 10px;
    line-height: normal;
    font-size: 18px;
  }
  &__line{
    padding-top: 10px;
    line-height: normal;
    font-size: 18px;
    &:before{
      width: 41px;
      height: 31px;
      display: inline-block;
      content: "";
      margin-right: 15px;
      vertical-align: middle;
    }
  }
  &__more{
    padding-top: 35px;
  }
  &__image{
    box-shadow: 4px 4px 14px $shadow25;
    border-radius: 2px;
    width: percentage(8/12);
    max-height: 580px;
    float: right;
    img{
      width: 100%;
    }
  }
}
