.page-contacts-head{
  background-image: url(../img/bg-available.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color:white;
  padding-bottom: 0;
  box-shadow: 0px 0px 14px $shadow50;
}
.page-contacts-content {
  padding: 200px 0;
  @include tablet {
    padding: 100px 0;
  }
}
.contacts-card{
  @include row-flex();
      width: 100%;
  &__image{
    @include size(4.2);
    @include col();
    position: relative;
    height: 870px;
    @include tablet {
      display: none;
    }
    img{
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
  &__ico{
    @include size(2);
    @include col();
        margin-top: 20px;
  }
  &__info{
    @include size(7);
    @include col();
    display: flex;
    flex-wrap: wrap;
    @include tablet {
      @include size(10);
      @include shift-left(1);
    }
    @include mobile {
      @include size(12);
      @include shift-left(0);
      flex-direction: column;
    }

  }
  &__title{
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 0.1em;
  }
  &__p{
    margin-top: 5px;
    span{
      display: block;
    }
  }
  &__text{
    margin-bottom: 40px;
    @include size(10);
    @include col();
    @include mobile {
      margin-bottom: 20px;
    }
  }
}
#map-contacts{
  height: 735px;
  @include tablet {
    height: 385px;
  }
  @include mobile {
    height: 150px;
  }
}
.contacts-map {
  &__text {
    margin-top: 50px;
    @include size(10);
    @include shift-left(1);
    @include tablet {
      @include size(12);
      @include shift-left(0);
    }
  }
  &__p {
    padding-left: 20px;
    margin-top: 20px;
    
    li{
      padding-bottom: 20px;
    }
  }
}
