// grid example
// .grid {
//   @include row-flex();
//   @include wrapper(); // outer container 1290px for now

//   &--item {
//     @include col();
//     @include size(2); // col count
//     @include shift-right(4);
//     background-color: red;
//     height: 100px;
//     margin-bottom: 20px;
//   }

html {
  box-sizing: border-box;
  user-select: $red;

}

body {
  font-size: 18px;
  font-family: "Toyota Text", "Roboto", Helvetica, Arial, sans-serif;
  color: $black;
  box-sizing: border-box;
}

section {
  padding-bottom: 200px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
//TODO: remove before deploy
// clearfix usage example:
// selector {
//   @extend .clearfix;
//   your styles
// }
.page-head{
  overflow: hidden;
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 300px;
  padding-bottom: 0;
  z-index: 1;
}

.container {
  max-width: 1310px;
}

.wrapper {
    box-sizing: border-box;
    width: 1310px;
    position: relative;
    display: block;
    margin: 0 auto;
    @extend .clearfix;
}
.bg-radial{
  background: #303A41;
  background-image: radial-gradient(851px at 50% 50%, rgba(176, 178, 173, 0.7) 0%, rgba(196, 196, 196, 0) 100%);
}
.bg-cyan{
  background: url(../img/bg-models-filter.jpg);    //Странный серый бекграунд
}
.section-title {                                  //Заголовок 40px со значком тойота
  font-size: 40px;
  font-family: $f-td, arial, sans-serif;
  letter-spacing: .1em;
  line-height: 47px;
  text-align: center;
  font-weight: bold;

  @media (max-width: 1024px) {
    font-size: 26px;
    letter-spacing: .1em;
  }
  //icon
  &:before {
    content: "";
    display: block;
    width: 39px;
    height: 26px;
    margin: 0 auto 10px;
    background-image: url("../img/i-toyota.svg");
    background-size: contain;
    background-repeat: no-repeat; //TODO: shorthand

    @media (max-width: 1024px) {
      width: 30px;
      height: 20px;
    }
  }
  &--simple { // without icon
    &:before {
      display: none;
    }
  }
}
.section-subtitle {
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 50px; //TODO: combine with subtitle
  font-style: italic;
  text-align: center;
}

/*хлебные крошки с белыми точками , если нужны черные, то прописать
.breadcrumbs__item:not(:first-child)::before {
    background: $black;
}  для нужного section
*/
.breadcrumbs{
  padding-top: 110px;

  &__list {
    padding: 0;
    font-size: 0;
    text-align: center;
  }
  &__item{
    position: relative;
    display: inline-block;
    padding-left: 15px;
    vertical-align: top;
    line-height: normal;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.05em;

    &:not(:first-child)::before {
      position: absolute;
      top: 8px;
      left: 5px;
      width: 3px;
      height: 3px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      content: '';
      background: white;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child{
      text-decoration: underline;
    }
  }
  &__title{
    font-family: $f-td;
    line-height: normal;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0;

    &-wrap{
      padding-top: 15px;
    }
  }
}
.is-checked{
  &:after {
    display: inline-block;
    content: "";
    width: 30px;
    height: 12px;
    margin-left: auto;
    background: url('../img/i-comparison-check.svg') center no-repeat;
    vertical-align: middle;
  }
  &-o{
    &:after {
      display: inline-block;
      content: "";
      width: 30px;
      height: 30px;
      margin-left: auto;
      background: url('../img/i-comparison-check-o.svg') center no-repeat;
      vertical-align: middle;
    }
  }
}
.btn{       // просто тело кнопки
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: inherit;
  outline: none;
  border: none;
  color: #fff;
  box-sizing: border-box;
  padding: 17px 40px;
  box-shadow: 4px 4px 24px rgba(44, 1, 12, 0.3);
  border-radius: 100px;
  vertical-align: middle;
  cursor: pointer;
  letter-spacing: .1em;
  transition: all .3s;
  &-typical {                    // главная кнопка
    background: $red;
    &:hover {
      background-color: $red-dark;
    }
  }
  &-typical-o{                    // кнопка без бекграунда (пустая)
    border: 3px solid $red;
    color: $black;
    &:hover {
      background: $red;
      color: #fff;
    }
    &:active {
      border: 3px solid $red-dark;
      background-color: $red-dark;
    }
  }
  &:active {
    transform: translateY(1px);
    outline: none;
  }
}
.btn-more{
  cursor: pointer;
  font-family: $f-td;
  line-height: normal;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: $red;
  font-weight: bold;
  text-decoration: none;
  &:after{
    width: 18px;
    height: 18px;
    display: inline-block;
    content: "";
    margin-left: 10px; //20px in some cases? (mainpage news)
    background: url('../img/i-more-arrow.svg') center no-repeat;
    vertical-align: middle;
  }
  &:focus{
    outline: none;
  }
  &:hover {
    text-decoration: underline;
  }
}


/* Ex:
label.filter-block__switch-label
  input.filter-block__switch-box(type="checkbox")
  span.checkbox-label Компактні автомобілі
*/
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + .checkbox-label::before {
    display:inline-block;
    width:22px;
    height:22px;
    margin-right: 10px;
    vertical-align:middle;
    background:url(../img/i-check-box.svg) center no-repeat;
    cursor:pointer;
    content:"";
    box-sizing: border-box;
}

input[type="checkbox"]:checked + .checkbox-label::before {
    background:url(../img/i-check-tick.svg) center no-repeat;
}

input[type="checkbox"] + .checkbox-label:hover::before {
    border: 3px solid rgba(29, 113, 184, 0.5);
    border-radius: 7px;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + .checkbox-label::before {
    display:inline-block;
    width:22px;
    height:22px;
    margin-right: 10px;
    vertical-align:middle;
    background:url(../img/i-radio-o.svg) center no-repeat;
    cursor:pointer;
    content:"";
    box-sizing: border-box;
}

input[type="radio"]:checked + .checkbox-label::before {
    background:url(../img/i-radio-select.svg) center no-repeat;
}

input[type="radio"] + .checkbox-label:hover::before {
    border: 3px solid rgba(29, 113, 184, 0.5);
    border-radius: 50%;
}


.ico{
  &:before{
  width: 80px;
  height: 60px;
  display: block;
  content: "";
  margin: 0 auto 10px;
  vertical-align: middle;
  }
  &__price80:before{    //page 2 icons over  80x60
    background: url('../img/i-price80x60.svg') center no-repeat;
  }
  &__bodytype80:before{
    background: url('../img/i-bodytype80x60.svg') center no-repeat;
  }
  &__consumption80:before{
    background: url('../img/i-consumption80x60.svg') center no-repeat;
  }
  &__transmission80:before{
    background: url('../img/i-transmission80x60.svg') center no-repeat;
  }
  &__gastype80:before{
    background: url('../img/i-gastype80x60.svg') center no-repeat;
  }
  &__forest:before{
    width: 150px;
    height: 150px;
    background: url('../img/i-forest.svg') center no-repeat;
  }
  &__city:before{
    width: 150px;
    height: 150px;
    background: url('../img/i-city.svg') center no-repeat;
  }
  &__track:before{
    width: 150px;
    height: 150px;
    background: url('../img/i-track.svg') center no-repeat;
  }
}

.i-inline{
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  font-style: italic;
  color: $black;
  display: inline-block;
  &__bodytype{
    &:before{
      display: inline-block;
      content: "";
      vertical-align: middle;
      width: 41px;
      height: 31px;
      margin-right: 15px;
      background: url('../img/i-bodytype.svg') center no-repeat;
    }
  }
  &__capacity{
    &:before{
      display: inline-block;
      content: "";
      vertical-align: middle;
      width: 41px;
      height: 31px;
      margin-right: 15px;
      background: url('../img/i-capacity.svg') center no-repeat;
    }
  }
  &__transmission{
    &:before{
      display: inline-block;
      content: "";
      vertical-align: middle;
      width: 41px;
      height: 31px;
      margin-right: 15px;
      background: url('../img/i-transmission.svg') center no-repeat;
    }
  }
  &__gastype{
    &:before{
      display: inline-block;
      content: "";
      vertical-align: middle;
      width: 41px;
      height: 31px;
      margin-right: 15px;
      background: url('../img/i-gastype.svg') center no-repeat;
    }
  }
  &__path{
    &:before{
      display: inline-block;
      content: "";
      vertical-align: middle;
      width: 41px;
      height: 31px;
      margin-right: 15px;
      background: url('../img/i-path.svg') center no-repeat;
    }
  }
  &__available{
    &:before{
      display: inline-block;
      content: "";
      vertical-align: middle;
      width: 41px;
      height: 31px;
      margin-right: 15px;
      background: url('../img/i-available-tick.svg') center no-repeat;
    }
  }
  &__price{
    &:before{
      display: inline-block;
      content: "";
      vertical-align: middle;
      width: 41px;
      height: 31px;
      margin-right: 15px;
      background: url('../img/i-price.svg') center no-repeat;
    }
  }
  &__testdrive{
    &:before{
      display: inline-block;
      content: "";
      vertical-align: middle;
      width: 16px;
      height: 16px; // fixed hidden part of image
      margin-right: 10px;
      background: url('../img/i-testdrive.svg') center no-repeat;
    }
  }
  &__available{
    &:before{
      display: inline-block;
      content: "";
      vertical-align: middle;
      width: 16px;
      height: 12px;
      margin-right: 10px;
      background: url('../img/i-available.svg') center no-repeat;
    }
  }
  &__phone{
    &:before{
      width: 19px;
      height: 26px;
      display: inline-block;
      content: "";
      margin-right: 10px;
      background: url('../img/i-phone-black.svg') center no-repeat;
      vertical-align: middle;
    }
  }
}

.toggle-active{
  text-decoration: underline;
}

.toggle-active{
  text-decoration: underline;
}


.link {
  font-size: 14px;
  letter-spacing: .1em;
  color: $black;
  font-style: italic;
  transition: $tr;

  &:hover {
    color: $blue;
  }
}
.video {
  width: 100%;
  height: auto;
}
