html {
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: "Toyota Text", "Roboto", arial, sans-serif; //TODO: add more fallback fonts
  color: $black;
}
.wrapper {
    box-sizing: border-box;
    width: 1310px;
    position: relative;
    display: block;
    margin: 0 auto;
}
