.header {
  box-sizing: border-box;

  &-adress {
    margin-left: 40px;
    font-style: italic;
    font-size: 14px;

    &__icon {
      vertical-align: middle;
      margin-right: 18px;
    }
    &__text {
      vertical-align: middle;
    }
  }
}
// top-bar
.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  padding: 0 50px;
  background: linear-gradient(180deg, #F0F2F2 0%, #FFFFFF 100%);
 box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
}
.logo-part {
  display: flex;
  align-items: center;
  &__logo {
    display: flex;
    flex-direction: column;
  }
}
// eof top-bar

// navigation
nav {
  position: relative;
}
.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  // align-items: center;
  align-items: stretch;
  height: 70px;
  margin: 0;
  padding: 0 50px 0 25px;
  background: linear-gradient(180deg, #F0F2F2 0%, #FFFFFF 100%);
  box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);

  @include tablet {
    display: none;
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  &__item {
    list-style: none;
    display: flex;
    align-items: center;

    &:hover {
      .nav__nav-secondary {
        max-height: 80px;

      }
    }

    &__link {
      text-decoration: none;
      color: $black;
      padding: 0 25px;
      white-space: nowrap;


      &--has-child {
        &:after {
          display: inline-block;
          content: "";
          width: 7px;
          height: 4px;
          margin-left: 10px;
          background: url('../img/i-nav-arrow.svg') center no-repeat;;
          vertical-align: middle;
          transition: all .3s;
          will-change: transform;
        }
        &:hover {

          &:after {
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}

.nav-badge {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  height: 140px;
  position: absolute;
  top: 0;
  right: 55px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 60;

  // hack: partial box shadow
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 69px;
    bottom: 0;
    left: 0;
    box-shadow: 0px 7px 14px rgba(77, 79, 83, 0.3);
  }

  img {
    max-width: 100%;
    height: auto;
  }
  &__logo {
    width: 88%;
  }

}

.nav__nav-secondary {
  @extend .nav;
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 3;
  justify-content: center;
  transition: all .3s ease-out;

  .nav__item__link {
    &:after{
      display: none;
    }
  }
}
// eof navigation
