.header {
  box-sizing: border-box;

  &-adress {
    margin-left: 40px;

    &__icon {
      vertical-align: middle;
      margin-right: 18px;
    }
    &__text {
      vertical-align: middle;
    }
  }
}
.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  padding: 0 50px;
  background: linear-gradient(180deg, #F0F2F2 0%, #FFFFFF 100%);
 box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
}
.logo-part {
  display: flex;
  align-items: center;
}

// navigation
.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  margin: 0;
  padding: 0 50px 0 25px;
  background: linear-gradient(180deg, #F0F2F2 0%, #FFFFFF 100%);
  box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);

  &__item {
    list-style: none;

    &__link {
      text-decoration: none;
      color: inherit;
      padding: 0 25px;
      white-space: nowrap;

      &--has-child {
        &:after {
          display: inline-block;
          content: "";
          width: 7px;
          height: 4px;
          margin-left: 10px;
          background: url('/img/i-nav-arrow.svg') center no-repeat;;
          vertical-align: middle;
        }
      }
    }
  }
}
// eof navigation
