.page-lising-head{
  color:white;
  background-image: url(../img/bg-lising-head.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 0;
  box-shadow: 0px 0px 14px $shadow50;
}
