.page-models-head{
  overflow: hidden;
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 210px;
  margin-bottom: 0;
  z-index: 10;
  color:$black;

  .breadcrumbs{
    padding-top: 70px;
    &__item:not(:first-child)::before {
      background: $black;
    }
  }
}

.page-models-filter{
  background: url(/img/bg-models-filter.jpg);
  padding:50px 0;
}
.filter{
  width: percentage(11/12);
  margin: 0 auto;
  text-align: center;
  &__title{
    font-size: 24px;
    text-align: center;
    letter-spacing: 2.4px;
    color: $black;
    font-weight: bold;
  }
  &__icons{
    padding: 50px 0;
    display: flow-root;
  }
  &__item{
    line-height: normal;
    font-size: 18px;
    color: $black;
    float:left;
    width: percentage(2/12);
    padding-left: 13px;
    padding-right: 13px;
  }
  &__price:before{
    width: 80px;
    height: 60px;
    display: block;
    content: "";
    margin: 0 auto 10px;
    background: url('/img/i-price80x60.svg') center no-repeat;
    vertical-align: middle;
  }
  &__bodytype:before{
    width: 80px;
    height: 60px;
    display: block;
    content: "";
    margin: 0 auto 10px;
    background: url('/img/i-bodytype80x60.svg') center no-repeat;
    vertical-align: middle;
  }
  &__consumption:before{
    width: 80px;
    height: 60px;
    display: block;
    content: "";
    margin: 0 auto 10px;
    background: url('/img/i-consumption80x60.svg') center no-repeat;
    vertical-align: middle;
  }
  &__transmission:before{
    width: 80px;
    height: 60px;
    display: block;
    content: "";
    margin: 0 auto 10px;
    background: url('/img/i-transmission80x60.svg') center no-repeat;
    vertical-align: middle;
  }
  &__gastype:before{
    width: 80px;
    height: 60px;
    display: block;
    content: "";
    margin: 0 auto 10px;
    background: url('/img/i-gastype80x60.svg') center no-repeat;
    vertical-align: middle;
  }

  &__dragndrop{
    padding: 60px 110px;
    border: 3px dashed #B5B7B3;
    &__text{
      line-height: normal;
      font-size: 24px;
      letter-spacing: 2.4px;
      color: #B5B7B3;
      font-weight: bold;
    }
  }
}
.cars-list{
  padding: 60px 0;
  display: flow-root;
  text-align: center;
  &__item{
    float: left;
    width: percentage(4/12);
    padding: 40px 0;
    min-height: 280px;
  }
  &__image{
    width: 100%;
    padding-bottom: 20px;
  }
  &__title{
    line-height: normal;
    font-size: 24px;
    text-align: center;
    letter-spacing: 2.4px;
    color: $black;
    font-weight: bold;
  }
  &__price{
    line-height: normal;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: $black;
    font-style: italic;
    padding-top: 5px;
  }
  &__icons{
    width: percentage(6/12);
    margin: 10px auto;
  }
  &__testdrive{
    line-height: normal;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-decoration-line: underline;
    font-style: italic;
    color: $black;
    display: inline-block;
    &:before{
      width: 16px;
      height: 12px;
      display: inline-block;
      content: "";
      margin-right: 10px;
      background: url('/img/i-testdrive.svg') center no-repeat;
      vertical-align: middle;
    }
  }
  &__available{
    line-height: normal;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-decoration-line: underline;
    font-style: italic;
    color: $black;
    display: inline-block;
    margin-left: 10px;
    &:before{
      width: 16px;
      height: 12px;
      display: inline-block;
      content: "";
      margin-right: 10px;
      background: url('/img/i-available.svg') center no-repeat;
      vertical-align: middle;
    }
  }
}
.available-car-info{
  padding: 100px 0;
  &__description{
    width: percentage(5/12);
    background: white;
    box-shadow: 4px 4px 24px $shadow25;
    border-radius: 2px;
    color: $black;
    padding:50px 35px 50px 115px;
    float:right;
    transform: translateY(15%);
  }
  &__image{
    box-shadow: 4px 4px 14px $shadow25;
    border-radius: 2px;
    width: percentage(6/12);
    max-height: 580px;
    position: absolute;
    img{
      width: 100%;
      object-fit: contain;
    }
  }
  &__title{
    line-height: normal;
    font-size: 24px;
    letter-spacing: 2.4px;
    font-weight: bold;
  }
  &__info{
    padding-top: 10px;
    line-height: normal;
    font-size: 18px;
  }
  &__more{
    padding-top: 20px;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 2.4px;
    color: $red;
    font-weight: bold;
    &:after{
      width: 18px;
      height: 18px;
      display: inline-block;
      content: "";
      margin-left: 10px;
      background: url('/img/i-more-arrow.svg') center no-repeat;
      vertical-align: middle;
    }
  }
}
