.page-models-head{
  overflow: hidden;
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 300px;
  margin-bottom: 0;
  z-index: 10;
  color:$black;

  .breadcrumbs{
    padding-top: 70px;
    &__item:not(:first-child)::before {
      background: $black;
    }
  }
}
