.feedback {
  position: fixed;
  bottom: 40px;
  right: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: $layer5;

  @include tablet {
    display: none;
  }

  &__item {
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 300px;
    border: 5px solid $black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 24px rgba(44, 1, 12, 0.3);
    cursor: pointer;

    &:last-of-type {
      margin-bottom: 0px;
    }
    &:hover {
      .feedback__inner {
        max-width: 300px;
        margin-left: 10px;
        margin-right: 15px;
      }
    }

    &--small {
      margin-right: 20px;
      height: 60px;
      border: 2px solid $black;

      .feedback__icon {
        width: 56px;
        height: 56px;
      }
    }
  }
  
  &__inner {
    overflow: hidden;
    max-width: 0px;
    transition: all .5s linear;
    transition-delay: .3s;
    white-space: nowrap;
    margin: 0;
    font-size: 18px;
  }
  &__icon {
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;

    &--testdrive {
      background-image: url("../img/i-popup-calendar.svg");
    }
    &--service {
      background-image: url("../img/i-popup-tools.svg");
    }
    &--to {
      background-image: url("../img/i-popup-service.svg");
    }
    &--call {
      background-image: url("../img/i-popup-phone.svg");
    }
  }
}

.popup {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  color: $black;
  overflow: auto;
  z-index: $layertop;

  &--controls {
    .popup__body {
      border-radius: 0 5px 5px 5px;
    }
  }

  &--visible {
    display: flex;
    .popup__body {
      animation: reveal .7s forwards;
    }
  }
  &__dim {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
    z-index: $layer5;
  }
  &__control {
    position: absolute;
    bottom: 100%;
    left: 0;
    display: flex;
  }
  &__switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100px;
    height: 60px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    background-color: #C4C4C4;
    transition: $tr;
    user-select: none;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      // width: calc(100% - 28px);
      // height: 100%;
      // height: calc(100% - 14px);
      // box-shadow: 0px 0px 14px #4D4F53;
      // box-shadow: 0px 0px 14px #4D4F53 inset;
    }

    &--active {
      background-color: #fff;

      &:after {

      }
    }

    img {
      max-width: 100%;
      // position: absolute;
      // left: 50%;
      // top: 50%;
    }

  }
  &__body {
    position: relative;
    background-color: #fff;
    width: 690px;
    max-width: 90vw;
    padding: 70px 30px 65px;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: $layertop;
    will-change: transform;
  }
  &__main {
    display: none;

    &--active {
      display: block;
    }
  }
  &__close {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    position: absolute;
    right: -40px;
    top: 0;
    cursor: pointer;
    background-image: url("../img/i-popup-close.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  &__subtitle {
    margin-bottom: 30px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;

    .textfield {
      margin-bottom: 30px;
    }
    textarea {
      width: 100%;
    }
  }

  &__cancel {
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: .1em;
    color: $black;
    font-style: italic;
    font-family: inherit;
    transition: $tr;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    display: inline-block;
    
    &:hover {
      color: $blue;
    }
  }
}
.loader {
  // display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $layer5;
  background-color: rgba(255,255,255,.85);
  &__spinner {
    width: 95px;
    height: 95px;
    background: url('../img/i-loader.png') center no-repeat;
    // animation: spin 3s infinite linear;
    will-change: transform;
  }
}
.popup--sending {
  .loader {
    display: flex;
  }
  .loader__spinner {
    animation: spin 3s infinite linear;
  }
}
// popup appereance animation
@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  70% {
    opacity: .9;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

// loader spin animation 
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}