.feedback {
  position: fixed;
  bottom: 40px;
  right: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include tablet {
    display: none;
  }

  &__item {
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 300px;
    border: 5px solid $black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 24px rgba(44, 1, 12, 0.3);
    cursor: pointer;
    &:hover {
      .feedback__inner {
        max-width: 300px;
        margin-left: 10px;
        margin-right: 15px;
      }
    }

    &--small {
      margin-right: 20px;
      height: 60px;
      border: 2px solid $black;

      .feedback__icon {
        width: 56px;
        height: 56px;
      }
    }
  }
  
  &__inner {
    overflow: hidden;
    max-width: 0px;
    transition: all .5s;
    transition-delay: .3s;
    white-space: nowrap;
    margin: 0;
    font-size: 18px;
  }
  &__icon {
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;

    &--testdrive {
      background-image: url("../img/i-popup-calendar.svg");
    }
    &--service {
      background-image: url("../img/i-popup-tools.svg");
    }
    &--to {
      background-image: url("../img/i-popup-service.svg");
    }
    &--call {
      background-image: url("../img/i-popup-phone.svg");
    }
  }
}

.popup {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  z-index: $layer5;

  &--visible {
    display: flex;
    .popup__body {
      animation: reveal .7s forwards;
    }
  }
  &__dim {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
    z-index: $layer5;
  }
  &__body {
    position: relative;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    width: 400px;
    max-width: 90vw;
    border-radius: 10px;
    z-index: $layertop;
    will-change: transform;
  }
  &__header {
    position: relative;
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  &__close {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    position: absolute;
    right: -40px;
    top: 0;
    cursor: pointer;
  }
}

// popup appereance animation
@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  80% {
    opacity: .8;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}