.page-protect {
  @include wrapper();
}

.protect-info {
  @include row-flex();

  &__image-wrapper {
    @include col();
    @include size(5);
  }
  &__image {
    width: 130%;
    float: right;
  }

  &__text {
    @include col();
    @include size(7);
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 30px;
    margin-top: 30px;
    box-sizing: border-box;
    // background-color: #fafafa; // moved to after pseudo-element

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 122%;
      height: 100%;
      border-radius: 5px;
      background-color: #fafafa;
      z-index: -1;
      background-image: url("../img/bg-toyota-alt.svg");
      background-position: -262% 163%;
      background-repeat: no-repeat;
    }
  }
}

.protect-banner {
  margin-top: 100px;
  
  &__image {
    width: 100%;
  }
}