.page-service-c-head{
  background-image: url(../img/bg-service-c-head.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color:white;
  padding-bottom: 0;
  box-shadow: 0px 0px 14px $shadow50;
}
.page-service-c{
  padding-bottom: 150px;
  @include tablet {
    padding-bottom: 0px;
  }
}
.service-c-card{
  padding: 100px 0 0;
  &__description{
    background: none;
  }
  &__btn{
    margin-top: 20px;
    margin-right: 40px;
    @include mobile {
        margin-right: 0px;
    }
  }
  &__text{
    padding-left: 0;
  }
}
.service-c-photo{
  @include row-flex();
  justify-content: space-between;
  margin: 0;
  @include mobile {
      margin-right: -15px;
      margin-left: -15px;
  }
  &__item{
    width: calc(100% / 12 * 4 - 15px);
    position: relative;
    height: 375px;
    @include tablet {
      height: 180px;
    }
    @include mobile {
      width: calc(100% / 12 * 12 - 15px);
      height: 235px;
      margin-bottom: 20px;
    }
    img{
      bottom: 0;
      right: 0;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
}
