// fotorama mainpage
.mainslider {
  position: relative;
  clip-path: ellipse(175vw 230vw at 50% calc(100% - 229.7vw)); // TODO: review
  border-bottom: 1px solid red;
  z-index: $layer5;

 }
 .mainslider-wrapper {
  position: relative;
  overflow: hidden;

  &__bg { // color circles 
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  // &:before {
  //   content:"";
  //   position: absolute;
  //   width: 220vw;
  //   height: 140vw;
  //   background: url(../img/bg-circle-m.svg) bottom center no-repeat;
  //   // border: 300px solid $red;
  //   background-size: contain;
  //   bottom: 0px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   z-index: -1;

  // }
  // &:after {
  //   content:"";
  //   position: absolute;
  //   width: 382vw;
  //   height: 243vw;
  //   background: url(../img/bg-circle-l.svg) bottom center no-repeat;
  //   background-size: contain;
  //   bottom: 0px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   border-radius: 50%;
  //   // z-index: $layer5;
  //   z-index: 0;
  // }
 }
.fotorama__nav-wrap {
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 10;
  
}
.fotorama__dot {
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  border: 1px solid $red;
  background-color: #fff;
  transition: all .3s;
}
.fotorama__nav__frame.fotorama__active .fotorama__dot {
  @extend .fotorama__dot;
  border-color: #fff;
  position: relative;
  &:after {
    display: block;
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: $red;
    border-radius: 50%;
  }
}
.fotorama__arr {
  margin-top: 0;
  margin-left: 5px;
  margin-right: 5px;
  width: 12px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  position: static;
  background: url("../img/i-slider-arrow-prev.svg") center center no-repeat;
  // background-size: contain;
}
.fotorama__arr--next {
  background-image: url("../img/i-slider-arrow-next.svg");
}
// .fotorama__arr--next {
//   display: inline-block;
//   position: static;
//   margin: 0;

// }
.fotorama__dot {
  // position: static;
  left: auto;
  top: auto;
  margin: 0;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 5px;
  // position: absolute;
  // top: 50%;
  box-shadow: 1px 1px 7px rgba(44, 1, 12, 0.3);
}

.fotorama__nav--dots .fotorama__nav__frame {
  width: auto;
  display: inline-flex;
  align-items: center;
  // position: relative;
}
.fotorama__nav__shaft {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: center;
}
// eof fotorama mainpage


// footer slider
  .footer-slider {
    width: 100%;
    overflow: hidden;

    @include tablet {
      display: none;
    }

    &__item {
      width: 301px; // TODO: remove magic numbers
      height: 176px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      outline: none; // to remove blue line between slides

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(35, 23, 26, 0.4);
        box-shadow: $shadow25;
        
      }
    }
  }
// eof footer slider

// 04 slider
.slick-slide {
  outline: none !important;
}
.slick-slider {
  width: 100%;
  overflow: hidden;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.slider-carousel {
  width: 100%;
  overflow: hidden;

  &__item {
    width: 360px;
    height: 180px;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      outline: none;
      cursor: pointer;
    }
  }
  
}
// eof 04 slider