.offer {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0;
  overflow: hidden;
}

.offer-item {
  @include row-flex();
  @include wrapper();
  align-items: center;

  &__info {
    @include col();
    @include size(6);
    padding-left: 20px;
    padding-top: 70px;
    padding-bottom: 70px; //TODO:: shorthand
    box-shadow: 4px 4px 24px rgba(77, 79, 83, 0.25);
    border-radius: 2px;
    box-sizing: border-box;
    padding-right: 9%;
    
    p { // style content p without class
      margin-bottom: 30px;
      margin-top: 30px;
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__img-wrap {
    @include col();
    @include size(6);
    margin-left: -6.8%;
    font-size: 0; // for fixed whitespace
  }
  &__img {
    width: 141%;
  }
} // eof offer-item
