.breadcrumbs-story-alone{
  padding-top: 70px;
}
.page-story-head{
  min-height: 210px;
}
.story-alone{
  &__content{
    @include col();
    @include size(8);
    @include shift-left(2);
    @include tablet {
      @include size(12);
      @include shift-left(0);
    }
  }
  &__image{
    height: 600px;
    position: relative;
    @include tablet {
      height: 380px;
    }
    @include mobile {
      height: 150px;
    }
    img{
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      box-shadow: 4px 4px 14px rgba(77, 79, 83, 0.25);
      border-radius: 5px;
    }
  }
  &__video{
    iframe{
      height: 600px;
      width: 100%;
      @include tablet {
        height: 380px;
      }
      @include mobile {
        height: 245px;
      }
    }
  }
  &__text{
    margin: 30px 0;
    &-img{
      float: left;
      margin: 0 20px 0 0;
      @include tablet {
        margin: 0 10px 0 0;
      }
      @include mobile {
        margin: 0;
        float:none;
        img{
          width: 100%;
        }
      }
    }
  }
  &__nav{
    font-weight: bold;
    @include row-flex();
        align-items: center;
    &-back-btn{
      cursor: pointer;
      @include col();
      @include size(2);
      @include mobile {
        @include size(4);
        @include shift-left(4);
        justify-content: space-between;
        padding: 50px 0;
      }
      &:hover{
        text-decoration: underline;
      }
      &::before{
        display: inline-block;
        content: "";
        vertical-align: middle;
        width: 11px;
        height: 10px;
        margin-right: 10px;
        background: url('../img/i-back.svg') center no-repeat;
      }
    }
    &-share{
      @include row-flex();
      @include col();
      @include size(8);
      @include shift-left(2);
      justify-content: flex-end;
      align-items: center;
      @include mobile {
        @include size(12);
        @include shift-left(0);
        justify-content: space-between;
      }
      &-btn{
        cursor: pointer;
        margin-left: 20px;
        margin-right: 0;
        background: #FFFFFF;
        box-shadow: 2px 2px 6px rgba(44, 1, 12, 0.3);
      }
    }
  }
}
.a-news-grid{
  padding-bottom: 50px;
  &-item{
    text-decoration: none;
    color: $black;
    margin-left: 15px;
    margin-right: 15px;
    @include size(3);
    @include tablet {
      @include size(4);
    }
    @include mobile {
      width: 100%;
      margin: 0;
    }
    &__date{
      display: none;
      @include tablet {

        display: inline-block;
        margin: 20px 10px 0;
        &:before{
          content: "";
          display: inline-block;
          height: 18px;
          width: 6px;
          margin-right: 10px;
          background-color: #CC0033;
          border-radius: 100px;
        }
      }
    }
    &__title{
      margin: 20px 10px 0;
      display: inline-block;
      @include tablet {
        margin: 10px 10px 0;
        &:after{
          width: 18px;
          height: 18px;
          display: inline-block;
          content: "";
          margin-left: 10px; //20px in some cases? (mainpage news)
          background: url('../img/i-more-arrow.svg') center no-repeat;
          vertical-align: middle;
        }
      }
    }
    &__img{
      width: 100%;

    }
  }
}
