.page-touch {
  @include wrapper();
  padding-bottom: 0;
}

.page-touch-listing {
  padding-bottom: 200px;
  &__wrapper {
    @include row-flex();
  }

  &__item {
    @include row-flex();
    align-items: center;
    box-sizing: border-box;
    margin-top: 100px;
  }
  &__slider {
    @include col();
    @include size(5);

    img {
      width: 100%;
    }
    .fotorama__arr {
      width: 28px;
      height: 38px;
      margin-left: -3px;
      margin-right: -3px;
    }

    .fotorama__nav-wrap {
      position: static;
      margin-top: 20px;
    }
  }

  &__text {
    @include col();
    @include size(7);
    position: relative;

    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 30px;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 122%;
      height: 100%;
      background-color: #fafafa;
      z-index: -1;
      border-radius: 5px;
    }
  }

  &--shift {
    .page-touch-listing__item:nth-of-type(2n) {
      flex-direction: row-reverse;
      
      .page-touch-listing__text {
          &:after {
            width: 200%;
          }
      }

    }
  }
}

.touch-form {
  padding: 70px 0;
  background-color: #F3F4F6; //TODO: change to gradient

  &__inner {
    @include wrapper();
  }

  .textfield {
    @include size(4);
  }
  .btn {
    margin-left: auto;
    margin-right: auto;
  }
}