.page-touch {
  @include wrapper();
}



.page-touch-listing {
  &__wrapper {
    @include row-flex();
  }

  &__item {
    @include row-flex();
    align-items: center;
    margin-top: 100px;
  }
  &__slider {
    @include col();
    @include size(5);

    img {
      width: 100%;
    }
  }

  &__text {
    @include col();
    @include size(7);
  }
}