.page-tradein-head{
  background: url(../img/bg-tradein.jpg), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color:white;
  padding-bottom: 0;
  box-shadow: 0px 0px 14px $shadow50;
}
.page-tradein-content{
  padding-bottom: 200px;
}
.tradein-available-marks{
  margin-top:70px;
  &__text{
    font-family: $f-td;
    font-size: 24px;
    letter-spacing: 0.1em;
    font-weight: bold;
    display: inline-block;
    @include tablet {
      @include col();
      @include size(12);
      display: block;
      margin-bottom: 40px;
    }
  }
  &__tag{
    display: inline-block;
    margin: 0 0 0 20px;

    @include mobile {
      @include col();
      margin-bottom: 40px;
    }
  }
}
.tradein-card{
  margin-top: 70px;
  &__description{
    transform: translateY(4%);
    @include tablet {
      transform: none;
      margin: 0;
    }
    @include mobile {
      transform: translateY(-6%);
    }
  }
  &__title{
    margin: 0;
  }
  &__line{
    padding-top: 5px;
  }
  &__ico {
    display: inline-block;
    padding-right: 30px;
  }
}
.page-tradein-bottom{
  padding: 70px 0;
  text-align: center;
}
.tradein-form{
  @include col();
  @include size(12);
  //width: percentage(8/12);
  margin: 0 auto;
  &__engine{
    @include col();
    @include size(2);
    margin: 50px 15px 15px;
    @include tablet {
      @include size(3);
    }
    @include mobile {
      margin-top:10px;
      @include size(12);
    }
  }
  &__year{
    @include col();
    @include size(2);
    margin: 50px 15px 15px;
    @include tablet {
      @include size(4);
    }
    @include mobile {
      margin-top:10px;
      @include size(12);
    }
  }
  &__prob{
    @include col();
    @include size(2);
    margin: 50px 15px 15px;
    @include tablet {
      @include size(4);
    }
    @include mobile {
      margin-top:10px;
      @include size(12);
    }
  }
  &__mark{
    @include col();
    @include size(2);
    @include shift-left(2);
    margin: 50px 15px 15px;
    @include tablet {
      @include size(3);
    }
    @include mobile {
      margin-top:30px;
      @include size(12);
    }
  }
  &__name{
    @include col();
    @include size(4);
    @include shift-left(2);
    margin: 50px 15px 15px;
    @include mobile {
      margin-top:10px;
      @include size(12);
    }
  }
  &__tel{
    @include col();
    @include size(4);
    margin: 50px 15px 15px;
    @include mobile {
      margin-top:10px;
      @include size(12);
    }
  }
  &__submit{
    display: block;
    margin: 15px auto 0;
  }
}
