include partials/_mixins.pug

//- title as parameter
//- example:
//- head("page title")
+head("02 models")
body
  include partials/_header.pug
    
  //- main content
  section.page-head.page-models-head
    .wrapper
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item Головна
          li.breadcrumbs__item Модельний ряд
        .breadcrumbs__title-wrap
          h1.breadcrumbs__title Модельний ряд Toyota
  section.page-models-filter.bg-cyan
    .wrapper
      .filter
        h2.filter__title Скористайтеся фільтром для підбору моделей
        .filter__icons
          a.filter__item.ico.ico__price80(data-toggle=".filter-price" href="") Підбір по ціні          
          a.filter__item.ico.ico__bodytype80(data-toggle=".filter-bodytype" href="") По типу кузова          
          a.filter__item.ico.ico__consumption80(data-toggle=".filter-consumption" href="") Використання пального          
          a.filter__item.ico.ico__transmission80(data-toggle=".filter-transmission" href="") Коробка передач          
          a.filter__item.ico.ico__gastype80(data-toggle=".filter-gastype" href="") Вид пального        
    .filter-wrapper.filter-price
      .wrapper.filter-block
        .filter-block__title Підбір по ціні: 
        .filter-block__switches
          label.filter-block__switch-label
            input.filter-block__switch-box(type="checkbox")
            span.checkbox-label Компактні автомобілі 
          label.filter-block__switch-label 
            input.filter-block__switch-box(type="checkbox") 
            span.checkbox-label Сімейні авто 
          label.filter-block__switch-label
            input.filter-block__switch-box(type="checkbox")
            span.checkbox-label Седани 
          label.filter-block__switch-label 
            input.filter-block__switch-box(type="checkbox")
            span.checkbox-label Універсали  
          label.filter-block__switch-label 
            input.filter-block__switch-box(type="checkbox")
            span.checkbox-label Повнопривідні 4х4  
          label.filter-block__switch-label 
            input.filter-block__switch-box(type="checkbox")
            span.checkbox-label Гібридні  
    .filter-wrapper.filter-bodytype
      .wrapper.filter-block
        .filter-block__title Підбір по типу кузова:
        .filter-block__switches
          label.filter-block__switch-label
            input.filter-block__switch-box(type="checkbox")
            span.checkbox-label Компактні автомобілі 
          label.filter-block__switch-label 
            input.filter-block__switch-box(type="checkbox") 
            span.checkbox-label Сімейні авто 
          label.filter-block__switch-label
            input.filter-block__switch-box(type="checkbox")
            span.checkbox-label Седани 
          label.filter-block__switch-label 
            input.filter-block__switch-box(type="checkbox")
            span.checkbox-label Універсали  
          label.filter-block__switch-label 
            input.filter-block__switch-box(type="checkbox")
            span.checkbox-label Повнопривідні 4х4  
          label.filter-block__switch-label 
            input.filter-block__switch-box(type="checkbox")
            span.checkbox-label Гібридні  
    .filter-wrapper.filter-consumption
      .wrapper.filter-block
        .filter-block__title
        .filter-block__switches
    .filter-wrapper.filter-transmission
      .wrapper.filter-block
        .filter-block__title
        .filter-block__switches
    .filter-wrapper.filter-gastype
      .wrapper.filter-block
        .filter-block__title
        .filter-block__switches  
        
    .wrapper
      .filter    
        .filter__dragndrop
          .filter__dragndrop__text Для порівняння моделей перенесіть авто в цю область
  section.page-models-cars
    .wrapper
      .car-grid
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-yaris.png", alt="")
          .car-grid-item__heading yaris
          .car-grid-item__price Ціна від 110 000 грн.
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
          //- a.car-grid-item__link.link(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-auris.png", alt="")
          .car-grid-item__heading CAMRY 
          .car-grid-item__price Ціна від 699 000 грн.
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-corolla.png", alt="")
          .car-grid-item__heading COROLLA
          .car-grid-item__price Ціна від 410 400 грн.
          //- a.car-grid-item__link.link(href="#") Тестдрайв
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-rav4.png", alt="")
          .car-grid-item__heading RAV4 
          .car-grid-item__price Ціна від 793 555 грн.
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-rav4-hybrid.png", alt="")
          .car-grid-item__heading RAV4 HYBRID
          .car-grid-item__price Ціна від 793 555 грн.
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-highlander.png", alt="")
          .car-grid-item__heading HIGHLANDER
          .car-grid-item__price Ціна від 1 109 080 грн.
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-lc-prado.png", alt="")
          .car-grid-item__heading LC Prado
          .car-grid-item__price Ціна від 110 000 грн
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-lc-200.png", alt="")
          .car-grid-item__heading LC 200
          .car-grid-item__price Ціна від 1 998 000 грн.
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-c-hr.png", alt="")
          .car-grid-item__heading C-HR
          .car-grid-item__price Ціна від  604 824 грн.
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-hilux.png", alt="")
          .car-grid-item__heading HILUX
          .car-grid-item__price Ціна від 843 885 грн.
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
            
      .available-car-info
        .available-car-info__image
          img(src="img/available-car-info.jpg")
        .available-car-info__description
          h2.available-car-info__title Можливість особисто ознайомитись з авто в салоні.
          p.available-car-info__info В офіційній дилерській мережі ПІІ «Тойота-Україна» діє унікальна програма допомоги в дорозі під назвою Toyota Assistancе. Купуючи офіційний автомобіль Toyota, його власник автоматично отримує професійну підтримку та допомогу в дорозі не тільки у технічних питаннях, але й у нестандартних ситуаціях. Послуга Toyota Assistance діє протягом 3-х років з дня першої реєстрації автомобіля без обмеження пробігу.
          p.available-car-info__info_p Звертаємо вашу увагу на те, що програма Toyota Assistancе унікальна у своєму класі і що в межах цієї програми надається безпрецедентно повний спектр послуг із підтримки автомобіля в дорозі.
          a.available-car-info__more.btn-more Подивитись автомобілі в наявності
        
  section.page-models-testdrive
    .wrapper
      .test-drive__wrapper
        h2.test-drive__title Відчуй себе за кермом жаданого автомобіля безкоштовно
        p.test-drive__descr Аби заощадити ваш час, автосалон «Тойота Центр Львів «Діамант» пропонує вам записатись на тест-драйв моделі Toyota, яка вам сподобалася, безпосередньо на нашому сайті.
        p.test-drive__descr Для цього вам необхідно лише заповнити спеціальну форму, вказавши модель автомобіля, бажаний час та дату тест-драйву.
        p.test-drive__descr Через деякий час консультанти відділу продажу автомобілів зв'яжуться з вами, щоб підтвердити вашу заявку та уточнити необхідну інформацію.
        a.test-drive__button.btn.btn-typical
          .test-drive__button-text ДІЗНАТИСЬ БІЛЬШЕ ПРО ТЕСТДРАЙВ
          
        
        
            
         
        
    
  
  //- eof main content
    
  include partials/_footer.pug
  include partials/_scripts.pug
