doctype html
html(lang="ua")
  head
    title mainpage
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css", rel="stylesheet")
    link(href="css/main.css", rel="stylesheet")
  body
    include partials/_header.pug
    
    //- main content
    section.page-models-head
      .wrapper
        .breadcrumbs
          ul.breadcrumbs__list
            li.breadcrumbs__item Головна
            li.breadcrumbs__item Модельний ряд
          .breadcrumbs__title-wrap
            h1.breadcrumbs__title Модельний ряд Toyota
    section.page-models-filter
      .wrapper
        .filter
          .filter__title Скористайтеся фільтром для підбору моделей
          .filter__icons
            .filter__item
              .filter__price Підбір по ціні
            .filter__item
              .filter__bodytype По типу кузова
            .filter__item
              .filter__consumption Використання пального
            .filter__item
              .filter__transmission Коробка передач
            .filter__item
              .filter__gastype Вид пального
          .filter__dragndrop
            .filter__dragndrop__text Для порівняння моделей перенесіть авто в цю область
    section.page-models-cars
      .wrapper
        .cars-list
          .cars-list__item
            img.cars-list__image(src="/img/c-list-yaris.png")
            .cars-list__title YARIS
            .cars-list__price Ціна від 110 000 грн.
            .cars-list__icons
  
          .cars-list__item
            img.cars-list__image(src="/img/c-list-auris.png")
            .cars-list__title AURIS
            .cars-list__price Ціна від 110 000 грн.
            .cars-list__icons
              
          .cars-list__item
            img.cars-list__image(src="/img/c-list-corolla.png")
            .cars-list__title COROLLA
            .cars-list__price Ціна від 410 400 грн.
            .cars-list__icons              
              .cars-list__available В салоні
              
          .cars-list__item
            img.cars-list__image(src="/img/c-list-camry.png")
            .cars-list__title CAMRY
            .cars-list__price Ціна від 699 000 грн.
            .cars-list__icons
              .cars-list__testdrive Тестдрайв
              .cars-list__available В салоні  
              
          .cars-list__item
            img.cars-list__image(src="/img/c-list-rav4.png")
            .cars-list__title RAV4
            .cars-list__price Ціна від 793 555 грн.
            .cars-list__icons        
              
          .cars-list__item
            img.cars-list__image(src="/img/c-list-rav4-hybrid.png")
            .cars-list__title RAV4 HYBRID
            .cars-list__price Ціна від 793 555 грн.
            .cars-list__icons
              .cars-list__available В салоні
                    
          .cars-list__item
            img.cars-list__image(src="/img/c-list-highlander.png")
            .cars-list__title HIGHLANDER
            .cars-list__price Ціна від 1 109 080 грн.
            .cars-list__icons
              .cars-list__testdrive Тестдрайв
              .cars-list__available В салоні  
              
          .cars-list__item
            img.cars-list__image(src="/img/c-list-lc-prado.png")
            .cars-list__title LC Prado
            .cars-list__price Ціна від 110 000 грн.
            .cars-list__icons        
              .cars-list__available В салоні
              
          .cars-list__item
            img.cars-list__image(src="/img/c-list-lc-200.png")
            .cars-list__title LC 200
            .cars-list__price Ціна від 1 998 000 грн.
            .cars-list__icons
              
          .cars-list__item
            img.cars-list__image(src="/img/c-list-c-hr.png")
            .cars-list__title C-HR
            .cars-list__price Ціна від 604 824 грн.
            .cars-list__icons        
              
          .cars-list__item
            img.cars-list__image(src="/img/c-list-hilux.png")
            .cars-list__title HILUX
            .cars-list__price Ціна від 843 885 грн.
            .cars-list__icons
              .cars-list__testdrive Тестдрайв
              .cars-list__available В салоні
              
        .available-car-info
          .available-car-info__image
            img(src="/img/available-car-info.jpg")
          .available-car-info__description
            .available-car-info__title Land Cruiser Prado Comfort
            .available-car-info__info В офіційній дилерській мережі ПІІ «Тойота-Україна» діє унікальна програма допомоги в дорозі під назвою Toyota Assistancе. Купуючи офіційний автомобіль Toyota, його власник автоматично отримує професійну підтримку та допомогу в дорозі не тільки у технічних питаннях, але й у нестандартних ситуаціях. Послуга Toyota Assistance діє протягом 3-х років з дня першої реєстрації автомобіля без обмеження пробігу.
            span.available-car-info__info_p Звертаємо вашу увагу на те, що програма Toyota Assistancе унікальна у своєму класі і що в межах цієї програми надається безпрецедентно повний спектр послуг із підтримки автомобіля в дорозі.
            .available-car-info__more Подивитись автомобілі в наявності
          
    section.page-models-testdrive
      .wrapper
        .test-drive__wrapper
          .test-drive__title Відчуй себе за кермом жаданого автомобіля безкоштовно
          .test-drive__descr1 Аби заощадити ваш час, автосалон «Тойота Центр Львів «Діамант» пропонує вам записатись на тест-драйв моделі Toyota, яка вам сподобалася, безпосередньо на нашому сайті.
          .test-drive__descr2 Для цього вам необхідно лише заповнити спеціальну форму, вказавши модель автомобіля, бажаний час та дату тест-драйву.
          .test-drive__descr3 Через деякий час консультанти відділу продажу автомобілів зв'яжуться з вами, щоб підтвердити вашу заявку та уточнити необхідну інформацію.
          .test-drive__button
            .test-drive__button-text ДІЗНАТИСЬ БІЛЬШЕ ПРО ТЕСТДРАЙВ
            
          
          
              
           
          
      
    
    //- eof main content
    
    include partials/_footer.pug
    include partials/_scripts.pug
