include partials/_mixins.pug

//- title as parameter
//- example:
//- head("page title")
+head("03 available")
body
  include partials/_header.pug
    
  //- main content
  section.page-head.page-availible-head
    .wrapper
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item Головна
          li.breadcrumbs__item Модельний ряд
          li.breadcrumbs__item Автомобілі в салоні
        .breadcrumbs__title-wrap
          h1.breadcrumbs__title Автомобілі в салоні
  section.page-availible-content        
    .wrapper
      .available-card
        .available-card__description
          h2.available-card__title Land Cruiser Prado Comfort
          p.available-card__text За десятки років виробництва безпечних та надійних автомобілів «Тойота» здобула репутацію виробника особливо якісних транспортних засобів. Ми не перед чим не зупинимося, щоб зберегти цю репутацію незаплямованою.
          p.available-card__line.i-inline__bodytype Седан
          p.available-card__line.i-inline__capacity 1,8л
          p.available-card__line.i-inline__transmission 6 ступенева автоматична
          p.available-card__line.i-inline__gastype Бензин
          a.available-card__more.btn-more(href="") Більше інформації
        .available-card__image
          img(src="img/car-card.jpg")
      
      .available-card
        .available-card__description
          h2.available-card__title Land Cruiser Prado Comfort
          p.available-card__text За десятки років виробництва безпечних та надійних автомобілів «Тойота» здобула репутацію виробника особливо якісних транспортних засобів. Ми не перед чим не зупинимося, щоб зберегти цю репутацію незаплямованою.
          p.available-card__line.i-inline__bodytype Седан
          p.available-card__line.i-inline__capacity 1,8л
          p.available-card__line.i-inline__transmission 6 ступенева автоматична
          p.available-card__line.i-inline__gastype Бензин
          a.available-card__more.btn-more(href="") Більше інформації
        .available-card__image
          img(src="img/car-card.jpg")
            
      .available-card
        .available-card__description
          h2.available-card__title Land Cruiser Prado Comfort
          p.available-card__text За десятки років виробництва безпечних та надійних автомобілів «Тойота» здобула репутацію виробника особливо якісних транспортних засобів. Ми не перед чим не зупинимося, щоб зберегти цю репутацію незаплямованою.
          p.available-card__line.i-inline__bodytype Седан
          p.available-card__line.i-inline__capacity 1,8л
          p.available-card__line.i-inline__transmission 6 ступенева автоматична
          p.available-card__line.i-inline__gastype Бензин
          a.available-card__more.btn-more(href="") Більше інформації 
        .available-card__image
          img(src="img/car-card.jpg")
           
        
    
  
  //- eof main content
  
  include partials/_footer.pug
  include partials/_scripts.pug
