include partials/_mixins.pug

//- title as parameter
//- example:
//- head("page title")
+head("mainpage")
body
  include partials/_header.pug
    
  //- main content
  section.page-availible-head
    .wrapper
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item Головна
          li.breadcrumbs__item Модельний ряд
          li.breadcrumbs__item Автомобілі в салоні
        .breadcrumbs__title-wrap
          h1.breadcrumbs__title Автомобілі в салоні
  section.page-availible-content        
    .wrapper
      .car-card
        .car-card__description
          .car-card__title Land Cruiser Prado Comfort
          .car-card__info За десятки років виробництва безпечних та надійних автомобілів «Тойота» здобула репутацію виробника особливо якісних транспортних засобів. Ми не перед чим не зупинимося, щоб зберегти цю репутацію незаплямованою.
          .car-card__line.ico__bodytype Седан
          .car-card__line.ico__capacity 1,8л
          .car-card__line.ico__transmission 6 ступенева автоматична
          .car-card__line.ico__gastype Бензин
          .car-card__more.btn-more Більше інформації
        .car-card__image
          img(src="/img/car-card.jpg")
      
      .car-card
        .car-card__description
          .car-card__title Land Cruiser Prado Comfort
          .car-card__info За десятки років виробництва безпечних та надійних автомобілів «Тойота» здобула репутацію виробника особливо якісних транспортних засобів. Ми не перед чим не зупинимося, щоб зберегти цю репутацію незаплямованою.
          .car-card__line.ico__bodytype Седан
          .car-card__line.ico__capacity 1,8л
          .car-card__line.ico__transmission 6 ступенева автоматична
          .car-card__line.ico__gastype Бензин
          .car-card__more.btn-more Більше інформації
        .car-card__image
          img(src="/img/car-card.jpg")
            
      .car-card
        .car-card__description
          .car-card__title Land Cruiser Prado Comfort
          .car-card__info За десятки років виробництва безпечних та надійних автомобілів «Тойота» здобула репутацію виробника особливо якісних транспортних засобів. Ми не перед чим не зупинимося, щоб зберегти цю репутацію незаплямованою.
          .car-card__line.ico__bodytype Седан
          .car-card__line.ico__capacity 1,8л
          .car-card__line.ico__transmission 6 ступенева автоматична
          .car-card__line.ico__gastype Бензин
          .car-card__more.btn-more Більше інформації
        .car-card__image
          img(src="/img/car-card.jpg")
           
        
    
  
  //- eof main content
  
  include partials/_footer.pug
  include partials/_scripts.pug
