include partials/_mixins.pug
+head("04 automobile")
body
  include partials/_header.pug
  
  //- main content
  .slider
    img(src="img/automobile-slider.jpg", alt="slider image")
    img(src="img/automobile-slider.jpg", alt="slider image")
    img(src="img/automobile-slider.jpg", alt="slider image")
    img(src="img/automobile-slider.jpg", alt="slider image")
    img(src="img/automobile-slider.jpg", alt="slider image")
    img(src="img/automobile-slider.jpg", alt="slider image")
  .slider-carousel
    .slider-carousel__item
      img(src="img/automobile-slider-thumb.png", alt="slider thumb")
    .slider-carousel__item
      img(src="img/automobile-slider-thumb.png", alt="slider thumb")
    .slider-carousel__item
      img(src="img/automobile-slider-thumb.png", alt="slider thumb")
    .slider-carousel__item
      img(src="img/automobile-slider-thumb.png", alt="slider thumb")
    .slider-carousel__item
      img(src="img/automobile-slider-thumb.png", alt="slider thumb")
    .slider-carousel__item
      img(src="img/automobile-slider-thumb.png", alt="slider thumb")
  ul.pagenav
    li.pagenav__item.pagenav__item--active
      a.pagenav__link(href="#color-choose") Опис та колір
    li.pagenav__item
      a.pagenav__link(href="#") Ціна та комплектація
    li.pagenav__item
      a.pagenav__link(href="#") Технічні  характеристики
    li.pagenav__item
      a.pagenav__link(href="#") Галлерея

  .wrapper
  section.color-choose#color-choose
    p.section-title.section-title--simple Виберіть колір:
    p.text-simple.text-simple--centered.js-color-name Перлинно-білий перламутр (070) 

    ul.color-selector
      li.color-selector__item.color-selector__item--c1.color-selector__item--active(data-color="Перлинно-білий перламутр (070)")
      li.color-selector__item.color-selector__item--c2(data-color="Чорний")
      li.color-selector__item.color-selector__item--c3(data-color="Білий")
      li.color-selector__item.color-selector__item--c4(data-color="Сірий")
      li.color-selector__item.color-selector__item--c5(data-color="Темно-синій")
      li.color-selector__item.color-selector__item--c6(data-color="Чорний 2")
      li.color-selector__item.color-selector__item--c7(data-color="Червоний")
      li.color-selector__item.color-selector__item--c8(data-color="Коричневий")
      li.color-selector__item.color-selector__item--c9(data-color="Молочний")
      li.color-selector__item.color-selector__item--c10(data-color="Темний")

    .car-card.car-card--big
      img.car-card__img(src="img/c-car-card-big.jpg", alt="")
      .car-card__info
        .car-card__heading Land Cruiser Prado
        p.text-simple Переможною ходою долає будь-які шляхи 
        p Сучасний Land Cruiser Prado, що належить до 150 серії, став наслідком невтомної праці найкращих конструкторів компанії «Тойота» протягом останніх 60 років. На цьому автомобілі ви зможете вирушити із самісінького центра міста у найвіддаленіші райони у сільській місцевості стильно та з комфортом. Його сучасне зовнішнє оформлення поєднано з напрочуд міцною та витривалою системою повного приводу. У чудово оформленому салоні передбачено можливість складати задні сидіння, завдяки чому Prado має неабияку універсальність у використанні.
        .car-card__fuel
          p.text-simple Споживання пального
          p від 7,4 л/100 км



    .color-choose-buttons
      .btn.btn-typical-o ЗАМОВИТИ ОНЛАЙН
      .btn.btn-typical-o ЗАПИСАТИСЯ НА ТЕСТДРАЙВ
      .btn.btn-typical-o ОТРИМАТИ КОНСУЛЬТАЦІЮ

    
  section.variant
  section.specs
  section.photo-grid
  .docs

  .video-wrapper
    //- https://www.youtube.com/watch?v=B0ddPNsp1Tw 
    //- iframe.video(src="https://www.youtube.com/embed/B0ddPNsp1Tw?rel=0&amp;showinfo=0", frameborder="0", allowfullscreen)


  include partials/_footer.pug
  include partials/_scripts.pug
