include partials/_mixins.pug
+head("04 automobile")
body.page-automobile
  include partials/_header.pug
  
  //- main content
  .slider
    img(src="img/automobile-slider.jpg", alt="slider image")
    img(src="img/automobile-slider.jpg", alt="slider image")
    img(src="img/automobile-slider.jpg", alt="slider image")
    img(src="img/automobile-slider.jpg", alt="slider image")
    img(src="img/automobile-slider.jpg", alt="slider image")
    img(src="img/automobile-slider.jpg", alt="slider image")
    img(src="img/automobile-slider.jpg", alt="slider image")
  .slider-carousel
    .slider-carousel__item
      img(src="img/automobile-slider-thumb.png", alt="slider thumb")
    .slider-carousel__item
      img(src="img/automobile-slider-thumb.png", alt="slider thumb")
    .slider-carousel__item
      img(src="img/automobile-slider-thumb.png", alt="slider thumb")
    .slider-carousel__item
      img(src="img/automobile-slider-thumb.png", alt="slider thumb")
    .slider-carousel__item
      img(src="img/automobile-slider-thumb.png", alt="slider thumb")
    .slider-carousel__item
      img(src="img/automobile-slider-thumb.png", alt="slider thumb")
    .slider-carousel__item
      img(src="img/automobile-slider-thumb.png", alt="slider thumb")
  ul.pagenav
    //- li.pagenav__item.pagenav__item--active
    li.pagenav__item
      a.pagenav__link(href="#color-choose") Опис та колір
      
    li.pagenav__item
      a.pagenav__link(href="#model") Ціна та комплектація
    li.pagenav__item
      a.pagenav__link(href="#specs") Технічні  характеристики
    li.pagenav__item
      a.pagenav__link(href="#car-photo") Галерея

  .wrapper
  section.color-choose#color-choose
    .section-title.section-title--simple Виберіть колір:
    p.text-simple.text-simple--centered.js-color-name Перлинно-білий перламутр (070) 

    ul.color-selector
      li.color-selector__item.color-selector__item--c1.color-selector__item--active(data-color="Перлинно-білий перламутр (070)")
      li.color-selector__item.color-selector__item--c2(data-color="Чорний")
      li.color-selector__item.color-selector__item--c3(data-color="Білий")
      li.color-selector__item.color-selector__item--c4(data-color="Сірий")
      li.color-selector__item.color-selector__item--c5(data-color="Темно-синій")
      li.color-selector__item.color-selector__item--c6(data-color="Чорний 2")
      li.color-selector__item.color-selector__item--c7(data-color="Червоний")
      li.color-selector__item.color-selector__item--c8(data-color="Коричневий")
      li.color-selector__item.color-selector__item--c9(data-color="Молочний")
      li.color-selector__item.color-selector__item--c10(data-color="Темний")

    .car-card.car-card--big
      img.car-card__img(src="img/c-car-card-big.jpg", alt="")
      .car-card__info
        .car-card__heading Land Cruiser Prado
        p.text-simple Переможною ходою долає будь-які шляхи 
        p Сучасний Land Cruiser Prado, що належить до 150 серії, став наслідком невтомної праці найкращих конструкторів компанії «Тойота» протягом останніх 60 років. На цьому автомобілі ви зможете вирушити із самісінького центра міста у найвіддаленіші райони у сільській місцевості стильно та з комфортом. Його сучасне зовнішнє оформлення поєднано з напрочуд міцною та витривалою системою повного приводу. У чудово оформленому салоні передбачено можливість складати задні сидіння, завдяки чому Prado має неабияку універсальність у використанні.
        .car-card__fuel
          .ico.ico--fuel
          .car-card__fuel-inner
            p.text-simple Споживання пального
            p від 7,4 л/100 км



    .color-choose-buttons
      .btn.btn-typical-o ЗАМОВИТИ ОНЛАЙН
      .btn.btn-typical-o ЗАПИСАТИСЯ НА ТЕСТДРАЙВ
      .btn.btn-typical-o ОТРИМАТИ КОНСУЛЬТАЦІЮ


  section.variant#model
    .section-title.section-title--simple Моделі та комплектації
    .table.variant-table
      .table__row
        .table__col
        .table__col
          label.filter-block__switch-label
            input.filter-block__switch-box(type="checkbox")
            span.checkbox-label
          .table__text Порівняти
          .table__car
            img(src="img/c-list-lc-prado.png", alt="Land Cruiser Prado")
            span 30 п.
        .table__col
          label.filter-block__switch-label
            input.filter-block__switch-box(type="checkbox", checked)
            span.checkbox-label
          .table__text Порівняти 
          .table__car.table__car--active
            img(src="img/c-list-lc-prado.png", alt="Land Cruiser Prado")
            span 35 п.
        .table__col
          label.filter-block__switch-label
            input.filter-block__switch-box(type="checkbox")
            span.checkbox-label
          .table__text Порівняти
          .table__car
            img(src="img/c-list-lc-prado.png", alt="Land Cruiser Prado")
            span 50 п.
        .table__col
          label.filter-block__switch-label
            input.filter-block__switch-box(type="checkbox")
            span.checkbox-label
          .table__text Порівняти 
          .table__car
            img(src="img/c-list-lc-prado.png", alt="Land Cruiser Prado")
            span 55 п.
      .table__group
        .table__row-wrapper
          .table__row
            .table__col
              .table__heading Комплектації
            .table__col
              .table__heading Base
              .table__text.table__text--small 5 місць
            .table__col
              .table__heading Comfort
              .table__text.table__text--small 5 місць
            .table__col
              .table__heading Elegance
              .table__text.table__text--small 7 місць
            .table__col
              .table__heading Prestige Style
              .table__text.table__text--small 5 місць

        .table__row
            .table__col
              span 2.7, 6 A/T
            .table__col
              .table__price
                .table__price-part
                  .table__text.table__text--line 1 250 000
                  .table__text.table__text--strong 1 100 001
                  a(href="18_credit.html").table__link 1й взнос 230 000
                .table__price-part 
                  .table__text.table__text--small грн.
            .table__col
              img(src="img/i-cross.svg", alt="")
            .table__col
              img(src="img/i-cross.svg", alt="")
            .table__col
              .table__price
                .table__price-part
                  .table__text.table__text--strong 1 100 001
                  a(href="18_credit.html").table__link 1й взнос 230 000
                .table__price-part 
                  .table__text.table__text--small грн.

        .table__row
            .table__col
              span 4.0, 6 A/T
            .table__col
              img(src="img/i-cross.svg", alt="")
            .table__col
              .table__price
                .table__price-part
                  .table__text.table__text--line 1 250 000
                  .table__text.table__text--strong 1 100 001
                  a(href="18_credit.html").table__link 1й взнос 230 000
                .table__price-part 
                  .table__text.table__text--small грн.
            .table__col
              .table__price
                .table__price-part
                  .table__text.table__text--strong 1 100 001
                  a(href="18_credit.html").table__link 1й взнос 230 000
                .table__price-part 
                  .table__text.table__text--small грн.
            .table__col
              img(src="img/i-cross.svg", alt="")

        .table__row
            .table__col
              span 2.8 дизель, 6 A/T
            .table__col
              img(src="img/i-cross.svg", alt="")
            .table__col
              img(src="img/i-cross.svg", alt="")
            .table__col
              .table__price
                .table__price-part
                  .table__text.table__text--line 1 250 000
                  .table__text.table__text--strong 1 100 001
                  a(href="18_credit.html").table__link 1й взнос 230 000
                .table__price-part 
                  .table__text.table__text--small грн.
            .table__col
              .table__price
                .table__price-part
                  .table__text.table__text--strong 1 100 001
                  a(href="18_credit.html").table__link 1й взнос 230 000
                .table__price-part 
                  .table__text.table__text--small грн.

        .table__row
            .table__col
              span Краска белый перламутр
            .table__col
                  .table__text.table__text--small 45000 грн.
            .table__col
                  .table__text.table__text--small 45000 грн.
            .table__col
                  .table__text.table__text--small 45000 грн.
            .table__col


      .table__group
        .table__row-wrapper
          .table__row
            .table__col
              .table__heading Екстер'єр
            .table__col
              .table__text.table__text--italic 5 пунктів
            .table__col
              .table__text.table__text--italic 5 пунктів
            .table__col
              .table__text.table__text--italic 5 пунктів
            .table__col
              .table__text.table__text--italic 5 пунктів

        
        .table__row
            .table__col
              .table__text.table__text--medium Боковые подножки
            .table__col
              .table__icon
                include ../img/i-check.svg 
            .table__col
              .table__icon
                include ../img/i-check-border.svg
            .table__col
              .table__icon
                include ../img/i-check.svg
            .table__col
        
        .table__row
            .table__col
              .table__text.table__text--medium Датчики парковки спереди
            .table__col
              .table__icon
                include ../img/i-check.svg 
            .table__col
              .table__icon
                include ../img/i-check-border.svg
            .table__col
            .table__col
              .table__icon
                include ../img/i-check.svg
        
        .table__row
            .table__col
              .table__text.table__text--medium Датчики парковки сзади
            .table__col
              .table__icon
                include ../img/i-check.svg 
            .table__col
              .table__icon
                include ../img/i-check-border.svg
            .table__col
              .table__icon
                include ../img/i-check.svg
            .table__col
        
        .table__row
            .table__col
              .table__text.table__text--medium Рейлинги на крыше черные
            .table__col
            .table__col
              .table__icon
                include ../img/i-check-border.svg
            .table__col
              .table__icon
                include ../img/i-check.svg
            .table__col
        
        .table__row
            .table__col
              .table__text.table__text--medium Задний интегрированный спойлер
            .table__col
              .table__icon
                include ../img/i-check.svg 
            .table__col
              .table__icon
                include ../img/i-check-border.svg
            .table__col
              .table__icon
                include ../img/i-check.svg
            .table__col
        
        .table__row
            .table__col
              .table__text.table__text--medium Электропривод складывания наружных зеркал заднего вида
            .table__col
              .table__icon
                include ../img/i-check.svg 
            .table__col
            .table__col
              .table__icon
                include ../img/i-check.svg
            .table__col
        
        .table__row
            .table__col
              .table__text.table__text--medium Тонированные задние стекла и стекло задней двери
            .table__col
              .table__icon
                include ../img/i-check.svg 
            .table__col
              .table__icon
                include ../img/i-check-border.svg
            .table__col
            .table__col
        
        .table__row
            .table__col
              .table__text.table__text--medium Торка багажного отделения
            .table__col
              .table__icon
                include ../img/i-check.svg 
            .table__col
            .table__col
              .table__icon
                include ../img/i-check-border.svg
            .table__col
              .table__icon
                include ../img/i-check.svg
        
        .table__row
            .table__col
              .table__text.table__text--medium Боковые пороги с серебристой окантовкой и подсветкой
            .table__col
              .table__icon
                include ../img/i-check.svg 
            .table__col
              .table__icon
                include ../img/i-check-border.svg
            .table__col
              .table__icon
                include ../img/i-check.svg
            .table__col

        .table__row
            .table__col
              .table__text.table__text--medium Электропривод передних и задних стеклоподъемников с функцией Auto и защитой от защемления
            .table__col
              .table__icon
                include ../img/i-check.svg 
            .table__col
              .table__icon
                include ../img/i-check-border.svg
            .table__col
              .table__icon
                include ../img/i-check.svg
            .table__col



  section.specs#specs
    .section-title.section-title--simple Технічні характеристики
    .table.specs-table
      .table__row
        .table__col
        .table__col
          img(src="img/c-engine-1.png")
        .table__col
          img(src="img/c-engine-2.png")
        .table__col
          img(src="img/c-engine-3.png")
      .table__group
        .table__row-wrapper
          .table__row
            .table__col
              .table__heading Двигун:
            .table__col
              .table__text--medium 2.7, 6 A/T
            .table__col
              .table__text--medium 4.0, 6 A/T
            .table__col
              .table__text--medium 2.8 дизель, 6 A/T

        .table__row
          .table__col
            .table__text--medium 2.7, 6 A/T
          .table__col
            .table__text--small 1 250 000 грн.
          .table__col
            img(src="img/i-cross.svg", alt="")
          .table__col
            img(src="img/i-cross.svg", alt="")

        .table__row
          .table__col
            .table__text--medium 4.0, 6 A/T
          .table__col
            img(src="img/i-cross.svg", alt="")
          .table__col
            .table__text--small 1 550 000 грн.
          .table__col
            .table__text--small 2 370 000 грн.

        .table__row
          .table__col
            .table__text--medium 2.8 дизель, 6 A/T
          .table__col
            img(src="img/i-cross.svg", alt="")
          .table__col
            img(src="img/i-cross.svg", alt="")
          .table__col
            .table__text--small 1 870 000 грн.


      .table__group.table__group--hidden
        .table__row-wrapper
          .table__row
            .table__col
              .table__heading Двигун:
            .table__col
              .table__text--medium 2.7, 6 A/T
            .table__col
              .table__text--medium 4.0, 6 A/T
            .table__col
              .table__text--medium 2.8 дизель, 6 A/T

        .table__row
          .table__col
            .table__text--medium 2.7, 6 A/T
          .table__col
            .table__text--small 1 250 000 грн.
          .table__col
            img(src="img/i-cross.svg", alt="")
          .table__col
            img(src="img/i-cross.svg", alt="")

        .table__row
          .table__col
            .table__text--medium 4.0, 6 A/T
          .table__col
            img(src="img/i-cross.svg", alt="")
          .table__col
            .table__text--small 1 550 000 грн.
          .table__col
            .table__text--small 2 370 000 грн.

        .table__row
          .table__col
            .table__text--medium 2.8 дизель, 6 A/T
          .table__col
            img(src="img/i-cross.svg", alt="")
          .table__col
            img(src="img/i-cross.svg", alt="")
          .table__col
            .table__text--small 1 870 000 грн.
            
      .btn-wrapper
        a(href="#").specs-more.js-specs-more Більше інформації
          img(src="img/i-more-arrow.svg", alt="")


  section.car-photo#car-photo
    .section-title.section-title--simple Фотографії Land Cruiser Prado
    .photo-grid
      .photo-grid__col.photo-grid__col--s
        .photo-grid__item
          img.photo-grid__img(src="img/c-photo-grid.jpg", alt="")
        .photo-grid__item
          img.photo-grid__img(src="img/c-photo-grid.jpg", alt="")
        .photo-grid__item
          img.photo-grid__img(src="img/c-photo-grid.jpg", alt="")
      .photo-grid__col.photo-grid__col--m
        .photo-grid__item
          img.photo-grid__img(src="img/c-photo-grid.jpg", alt="")
        .photo-grid__item
          img.photo-grid__img(src="img/c-photo-grid.jpg", alt="")
        .photo-grid__item
          img.photo-grid__img(src="img/c-photo-grid.jpg", alt="")
        .photo-grid__item
          img.photo-grid__img(src="img/c-photo-grid.jpg", alt="")

  .docs
    .docs__part
      .section-title.section-title--simple Завантажте наші буклети
      img.docs__img(src="img/c-docs.png", alt="")
      
    .docs__part
      .docs__listing
        .docs__item
          .ico.ico--pdf
          a(href="#").docs__link Завантажити буклет Toyota Prado
          a(href="#").docs__link.docs__link--alt 0,5Мб
        .docs__item
          .ico.ico--pdf
          a(href="#").docs__link Завантажити буклет аксесуарів Toyota prado
          a(href="#").docs__link.docs__link--alt 0,5Мб
        .docs__item
          .ico.ico--pdf
          a(href="#").docs__link Модельний ряд Toyota
          a(href="#").docs__link.docs__link--alt 0,5Мб

  .video-wrapper.bg-gradient
    .section-title.section-title--simple Запрошуємо на тестдрайв Toyota
    .video-wrapper__subtitle Єдиний спосіб зрозуміти, що саме робить автомобіль Toyota таким особливим — проїхатися на ньому
    .btn.btn-typical ЗАПИСАТИСЯ НА ТЕСТДРАЙВ
    //- https://www.youtube.com/watch?v=B0ddPNsp1Tw
    iframe.video(src="https://www.youtube.com/embed/B0ddPNsp1Tw?rel=0&amp;showinfo=0", frameborder="0", allowfullscreen)


  include partials/_footer.pug
  include partials/_scripts.pug
