include partials/_mixins.pug

//- title as parameter
//- example:
//- head("page title")
+head("mainpage")
body
  include partials/_header.pug
    
  //- main content
  section.page-testdrive-head
    .wrapper
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item Головна
          li.breadcrumbs__item Тестдрайв автомобілів Toyota
        .breadcrumbs__title-wrap
          h1.breadcrumbs__title Тестдрайв автомобілів Toyota
  .wrapper
    .test-drive-card
      .test-drive-card__image
        img(src="../img/c-testdrive-card.jpg")
      .test-drive-card__description
        h2.test-drive-card__title Запишіться на тест-драйв онлайн!
        p.test-drive-card__info Единий спосіб зрозуміти, що саме робить автомобіль Toyota таким особливим — проїхатися на ньому.
        p.test-drive-card_p Аби заощадити ваш час, автосалон «Тойота Фвтосаміт» пропонує вам записатись на тест-драйв моделі Toyota, яка вам сподобалася, безпосередньо на нашому сайті.
        p.test-drive-card_p Через деякий час консультанти відділу продажу автомобілів зв'яжуться з вами, щоб підтвердити вашу заявку та уточнити необхідну інформацію.
        a.test-drive-card__btn.btn.btn-typical(href="") ЗАПИСАТИСЯ НА ТЕСТДРАЙВ
        
    .test-drive-pace
      .test-drive-pace__description
        h2.test-drive-pace__title Траса перша
        p.test-drive-pace__info За десятки років виробництва безпечних та надійних автомобілів «Тойота» здобула репутацію виробника особливо якісних транспортних засобів. Ми не перед чим не зупинимося, щоб зберегти цю репутацію незаплямованою.
        p.test-drive-pace__line.ico__path Відстань 15км.
      .test-drive-pace__map 
        img(src="../img/c-testdrive-map.png")
          
    .test-drive-pace
      .test-drive-pace__description
        h2.test-drive-pace__title Траса друга
        p.test-drive-pace__info За десятки років виробництва безпечних та надійних автомобілів «Тойота» здобула репутацію виробника особливо якісних транспортних засобів. Ми не перед чим не зупинимося, щоб зберегти цю репутацію незаплямованою.
        p.test-drive-pace__line.ico__path Відстань 15км.
      .test-drive-pace__map 
        img(src="../img/c-testdrive-map.png")
          
    .test-drive-pace
      .test-drive-pace__description
        h2.test-drive-pace__title Траса третя
        p.test-drive-pace__info За десятки років виробництва безпечних та надійних автомобілів «Тойота» здобула репутацію виробника особливо якісних транспортних засобів. Ми не перед чим не зупинимося, щоб зберегти цю репутацію незаплямованою.
        p.test-drive-pace__line.ico__path Відстань 15км.
      .test-drive-pace__map 
        img(src="../img/c-testdrive-map.png")
          
  section.page-testdrive-video
    .wrapper    
      iframe.test-drive-video-main(width="100%" height="720" src="https://www.youtube.com/embed/09m0B8RRiEE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen)      
      .test-drive-video-slider
        
  .wrapper
    .test-drive-terms
      h2.test-drive-terms__title.section-title Умови тестдрайву
      .test-drive-terms__subtitle Це обов'язкові умови для допуску до автомобіля
      .test-drive-terms__description
        p.test-drive-terms__description-item 1. Субъект персональных данных: лицо, обратившееся на сайт toyota.ru в сети Интернет и предоставившее свои персональные данные Оператору (далее так же — «Пользователь»).
        p.test-drive-terms__description-item 2. Оператор обработки персональных данных: ООО «Тойота Мотор» (далее — «Тойота Мотор» или «Оператор»), имеющее место нахождения по адресу: 141031, Россия, Московская обл., Мытищинский р-н, МКАД, 84-й км, ТПЗ «Алтуфьево», вл. 5, стр.
        p.test-drive-terms__description-item 3. Цель обработки персональных данных: организация участия Пользователя в мероприятиях, в том числе в качестве участника мероприятия; предоставление информации Пользователю, включая информацию рекламного характера, в том числе, но не ограничиваясь, о наличии специальных предложений, проведении мероприятий, акций.
        p.test-drive-terms__description-item 4. Гібрид здатен легко запускатися за дуже низьких температур, що можуть виявитися не по силах навіть деяким автомобілям з класичними системами ДВЗ. У мороз автомобіль без проблем заводиться керуючим електромотором, а не за допомогою стартера (який використовується у традиційних автомобілях). Керуючий електромотор значно потужніший від стартера і добре працює при низьких температурах.
    
  section.page-testdrive-form.bg-cyan
    .wrapper    
      .test-drive-form
        h2.test-drive-form__title.section-title Заявка на тестдрайв
        .test-drive-form__subtitle Виберіть серед автомобілів в наявності та залиште ваші контактні данні
        .test-drive-form__form
          .test-drive-form__car
            .test-drive-form__car-item
              img.test-drive-form__car-item-img(src="../img/c-list-yaris.png" alt="")
              .test-drive-form__car-item-title YARIS Lounge

            .test-drive-form__car-item
              img.test-drive-form__car-item-img(src="../img/c-list-auris.png" alt="")
              .test-drive-form__car-item-title AURIS Style
                
            .test-drive-form__car-item
              img.test-drive-form__car-item-img(src="../img/c-list-corolla.png" alt="")
              .test-drive-form__car-item-title COROLLA
                
            .test-drive-form__car-item
              img.test-drive-form__car-item-img(src="../img/c-list-camry.png" alt="")
              .test-drive-form__car-item-title CAMRY
  
            .test-drive-form__car-item
              img.test-drive-form__car-item-img(src="../img/c-list-rav4.png" alt="")
              .test-drive-form__car-item-title RAV4

            .test-drive-form__car-item
              img.test-drive-form__car-item-img(src="../img/c-list-rav4-hybrid.png" alt="")
              .test-drive-form__car-item-title RAV4 HYBRID

            .test-drive-form__car-item
              img.test-drive-form__car-item-img(src="../img/c-list-highlander.png" alt="")
              .test-drive-form__car-item-title HIGHLANDER
          
          input.test-drive-form__input.field-typical(type="text" placeholder="Ваше Ім’я")
          input.test-drive-form__input.field-typical(type="text" placeholder="Телефон +38 0")
          input.test-drive-form__submit.btn.btn-typical(value="ВІДПРАВИТИ" type="button")
          .test-drive-form__clear очистити  
          
          

          
          
        
        
      
    
  
      
      
         
        
    
  
  //- eof main content
  
  include partials/_footer.pug
  include partials/_scripts.pug
