include partials/_mixins.pug

//- title as parameter
//- example:
//- head("page title")
+head("06 comparison")
body
  include partials/_header.pug
    
  //- main content
  section.page-head.page-comparison-head
    .wrapper
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item Головна
          li.breadcrumbs__item Модельний ряд
          li.breadcrumbs__item Порівняння моделей
        .breadcrumbs__title-wrap
          h1.breadcrumbs__title Порівняння моделей
  section.page-comparison-models
    .wrapper
      .chosen-models      
        .chosen-models__model.model-first
          .chosen-models__car
            img.car-grid-item__img.chosen-models__img(src="img/c-list-auris.png", alt="")
            .car-grid-item__heading COROLLA 
            .car-grid-item__price Ціна від 699 000 грн.
          .chosen-models__select
            .chosen-models__select-label Модель
            select.chosen-models__select-block
              option(value="corolla") COROLLA
            .chosen-models__select-label Тип двигуна
            select.chosen-models__select-block
              option(value="corolla") 1,6    
        .chosen-models__model
          .chosen-models__car
            img.car-grid-item__img.chosen-models__img(src="img/c-list-camry.png", alt="")
            .car-grid-item__heading CAMRY 
            .car-grid-item__price Ціна від 699 000 грн.
          .chosen-models__select
            .chosen-models__select-label Модель
            select.chosen-models__select-block
              option(value="corolla") COROLLA
            .chosen-models__select-label Тип двигуна
            select.chosen-models__select-block
              option(value="corolla") 1,6        
        .chosen-models__model
          .chosen-models__car
            img.car-grid-item__img.chosen-models__img(src="img/c-list-add-more.png", alt="")
            .car-grid-item__heading Додати ще модель
          .chosen-models__select
            .chosen-models__select-label Модель
            select.chosen-models__select-block
              option(value="choose_model") Вибрати
              option(value="corolla") COROLLA
            .chosen-models__select-label Тип двигуна
            select.chosen-models__select-block
              option(value="choose_type") Вибрати
              option(value="corolla") 1,6  
      
  section.comparison-table
    .comparisone-table__tr-wrapper.comparisone-table__thead-wrapper
      .comparisone-table__tr
        .comparisone-table__td.comparisone-table__title Двигун
        .comparisone-table__td 5 пунктів
        .comparisone-table__td 5 пунктів
        .comparisone-table__td
    .comparisone-table__tr-wrapper       
      .comparisone-table__tr
        .comparisone-table__td Кількість циліндрів
        .comparisone-table__td.is-checked-o
        .comparisone-table__td
        .comparisone-table__td
    .comparisone-table__tr-wrapper      
      .comparisone-table__tr
        .comparisone-table__td Розташування циліндрів
        .comparisone-table__td.is-checked-o
        .comparisone-table__td
        .comparisone-table__td
    .comparisone-table__tr-wrapper     
      .comparisone-table__tr
        .comparisone-table__td Тип двигуна
        .comparisone-table__td.is-checked
        .comparisone-table__td.is-checked
        .comparisone-table__td
    .comparisone-table__tr-wrapper      
      .comparisone-table__tr
        .comparisone-table__td Робочий об’ем, см3
        .comparisone-table__td
        .comparisone-table__td
        .comparisone-table__td
    .comparisone-table__tr-wrapper      
      .comparisone-table__tr
        .comparisone-table__td Потужність, к.с. (КВт) при об / хв 146
        .comparisone-table__td
        .comparisone-table__td.is-checked-o
        .comparisone-table__td 
    .comparisone-table__tr-wrapper   
      .comparisone-table__tr
        .comparisone-table__td Паливна система Електронна (EFI) Електронна (EFI) Електронна (EFI)
        .comparisone-table__td
        .comparisone-table__td
        .comparisone-table__td 
    .comparisone-table__tr-wrapper   
      .comparisone-table__tr
        .comparisone-table__td Тип живлення розподілене розподілене розподілене
        .comparisone-table__td
        .comparisone-table__td.is-checked-o
        .comparisone-table__td 
    .comparisone-table__tr-wrapper   
      .comparisone-table__tr
        .comparisone-table__td Клапанної механізм 16, DOHC
        .comparisone-table__td
        .comparisone-table__td
        .comparisone-table__td 
    .comparisone-table__tr-wrapper   
      .comparisone-table__tr
        .comparisone-table__td Тип палива Бензин А95 і вище
        .comparisone-table__td.is-checked
        .comparisone-table__td.is-checked
        .comparisone-table__td 
    .comparisone-table__tr-wrapper    
      .comparisone-table__tr
        .comparisone-table__td Krutnyy moment, Nm pry ob / khv 187/3 700-3900 187/3 700-3900 187/3 600
        .comparisone-table__td
        .comparisone-table__td
        .comparisone-table__td  
        
    .comparisone-table__tr-wrapper.comparisone-table__thead-wrapper
      .comparisone-table__tr
        .comparisone-table__td.comparisone-table__title Трансмісія
        .comparisone-table__td 5 пунктів
        .comparisone-table__td 5 пунктів
        .comparisone-table__td
    .comparisone-table__tr-wrapper       
      .comparisone-table__tr
        .comparisone-table__td Кількість циліндрів
        .comparisone-table__td.is-checked-o
        .comparisone-table__td
        .comparisone-table__td
    .comparisone-table__tr-wrapper      
      .comparisone-table__tr
        .comparisone-table__td Розташування циліндрів
        .comparisone-table__td.is-checked-o
        .comparisone-table__td
        .comparisone-table__td
    .comparisone-table__tr-wrapper     
      .comparisone-table__tr
        .comparisone-table__td Тип двигуна
        .comparisone-table__td.is-checked
        .comparisone-table__td.is-checked
        .comparisone-table__td
    .comparisone-table__tr-wrapper      
      .comparisone-table__tr
        .comparisone-table__td Робочий об’ем, см3
        .comparisone-table__td
        .comparisone-table__td
        .comparisone-table__td
    .comparisone-table__tr-wrapper      
      .comparisone-table__tr
        .comparisone-table__td Потужність, к.с. (КВт) при об / хв 146
        .comparisone-table__td
        .comparisone-table__td.is-checked-o
        .comparisone-table__td 
    .comparisone-table__tr-wrapper   
      .comparisone-table__tr
        .comparisone-table__td Паливна система Електронна (EFI) Електронна (EFI) Електронна (EFI)
        .comparisone-table__td
        .comparisone-table__td
        .comparisone-table__td 
    .comparisone-table__tr-wrapper   
      .comparisone-table__tr
        .comparisone-table__td Тип живлення розподілене розподілене розподілене
        .comparisone-table__td
        .comparisone-table__td.is-checked-o
        .comparisone-table__td 
    .comparisone-table__tr-wrapper   
      .comparisone-table__tr
        .comparisone-table__td Клапанної механізм 16, DOHC
        .comparisone-table__td
        .comparisone-table__td
        .comparisone-table__td 
    .comparisone-table__tr-wrapper   
      .comparisone-table__tr
        .comparisone-table__td Тип палива Бензин А95 і вище
        .comparisone-table__td.is-checked
        .comparisone-table__td.is-checked
        .comparisone-table__td 
    .comparisone-table__tr-wrapper    
      .comparisone-table__tr
        .comparisone-table__td Krutnyy moment, Nm pry ob / khv 187/3 700-3900 187/3 700-3900 187/3 600
        .comparisone-table__td
        .comparisone-table__td
        .comparisone-table__td   
          
          

          
        
        
            
         
        
    
  
  //- eof main content
    
  include partials/_footer.pug
  include partials/_scripts.pug
