include partials/_mixins.pug

//- title as parameter
//- example:
//- head("page title")
+head("07 trade-in")
body
  include partials/_header.pug
    
  //- main content
  section.page-head.page-tradein-head
    .wrapper
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item Головна
          li.breadcrumbs__item Автомобили trade-in
        .breadcrumbs__title-wrap
          h1.breadcrumbs__title Автомобили trade-in
  section.page-tradein-content        
    .wrapper
      .tradein-available-marks
        .tradein-available-marks__text Марки автомобілів в наявності:
        a.tradein-available-marks__tag.btn.btn-typical-o(href="") TOYOTA
        a.tradein-available-marks__tag.btn.btn-typical-o(href="") NISSAN
        a.tradein-available-marks__tag.btn.btn-typical-o(href="") VOLKSWAGEN
      .available-card.tradein-card
        .available-card__description.tradein-card__description
          h2.available-card__title Land Cruiser Prado Comfort
          p.available-card__info За десятки років виробництва безпечних та надійних автомобілів «Тойота» здобула репутацію виробника особливо якісних транспортних засобів. Ми не перед чим не зупинимося, щоб зберегти цю репутацію незаплямованою.
          p.available-card__line.i-inline__bodytype Седан
          p.available-card__line.i-inline__capacity 1,8л
          p.available-card__line.i-inline__transmission 6 ступенева автоматична
          p.available-card__line.i-inline__gastype Бензин
          .tradein-card__line
            .available-card__line.i-inline__available-tick.tradein-card__ico В наявності
            .available-card__line.i-inline__price.tradein-card__ico Ціна: 100 000 грн.
          a.available-card__more.btn-more(href="") Більше інформації
        .available-card__image
          img(src="img/car-card.jpg")
      
      .available-card.tradein-card
        .available-card__description.tradein-card__description
          h2.available-card__title Land Cruiser Prado Comfort
          p.available-card__text За десятки років виробництва безпечних та надійних автомобілів «Тойота» здобула репутацію виробника особливо якісних транспортних засобів. Ми не перед чим не зупинимося, щоб зберегти цю репутацію незаплямованою.
          p.availabler-card__line.i-inline__bodytype Седан
          p.available-card__line.i-inline__capacity 1,8л
          p.available-card__line.i-inline__transmission 6 ступенева автоматична
          p.available-card__line.i-inline__gastype Бензин
          .tradein-card__line
            .available-card__line.i-inline__available-tick.tradein-card__ico В наявності
            .available-card__line.i-inline__price.tradein-card__ico Ціна: 100 000 грн.
          a.available-card__more.btn-more(href="") Більше інформації
        .available-card__image
          img(src="img/car-card.jpg")
      
      .available-card.tradein-card
        .available-card__description.tradein-card__description
          h2.available-card__title Land Cruiser Prado Comfort
          p.available-card__info За десятки років виробництва безпечних та надійних автомобілів «Тойота» здобула репутацію виробника особливо якісних транспортних засобів. Ми не перед чим не зупинимося, щоб зберегти цю репутацію незаплямованою.
          p.available-card__line.i-inline__bodytype Седан
          p.available-card__line.i-inline__capacity 1,8л
          p.available-card__line.i-inline__transmission 6 ступенева автоматична
          p.available-card__line.i-inline__gastype Бензин
          .tradein-card__line
            .available-card__line.i-inline__available-tick.tradein-card__ico В наявності
            .available-card__line.i-inline__price.tradein-card__ico Ціна: 100 000 грн.
          a.available-card__more.btn-more(href="") Більше інформації
        .available-card__image
          img(src="img/car-card.jpg")
            
  section.page-tradein-bottom.bg-cyan
    .wrapper
      .tradein-form
        .tradein-form__title.section-title Заявка на трейдин
        .tradein-form__fields
          fieldset.textfield.tradein-form__mark
            input.textfield__input.field-typical(type="text")
            label.textfield__placeholder(for="") Марка
          fieldset.textfield.tradein-form__prob
            input.textfield__input.field-typical(type="text")
            label.textfield__placeholder(for="") Пробіг
          fieldset.textfield.tradein-form__year
            input.textfield__input.field-typical(type="text")
            label.textfield__placeholder(for="") Рік виготовлення
          fieldset.textfield.tradein-form__engine
            input.textfield__input.field-typical(type="text")
            label.textfield__placeholder(for="") Об'єм двигуна
          fieldset.textfield.tradein-form__name
            input.textfield__input.field-typical(type="text")
            label.textfield__placeholder(for="") Ваше ім'я
          fieldset.textfield.tradein-form__tel
            input.textfield__input.field-typical(type="text")
            label.textfield__placeholder(for="") Телефон +38 0
          input.tradein-form__submit.btn.btn-typical(value="ВІДПРАВИТИ" type="button")        
           
          
      
    
  //- eof main content
  
  include partials/_footer.pug
  include partials/_scripts.pug
