include partials/_mixins.pug

//- title as parameter
//- example:
//- head("page title")
+head("mainpage")
body
  include partials/_header.pug
    
  //- main content
  section.page-tradein-head
    .wrapper
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item Головна
          li.breadcrumbs__item Автомобили trade-in
        .breadcrumbs__title-wrap
          h1.breadcrumbs__title Автомобили trade-in
  section.page-tradein-content        
    .wrapper
      .tradein-available-marks
        .tradein-available-marks__text Марки автомобілів в наявності:
        .tradein-available-marks__tag.btn-main-o TOYOTA
        .tradein-available-marks__tag.btn-main-o NISSAN
        .tradein-available-marks__tag.btn-main-o VOLKSWAGEN
      .car-card.tradein-card
        .car-card__description.tradein-card__description
          .car-card__title Land Cruiser Prado Comfort
          .car-card__info За десятки років виробництва безпечних та надійних автомобілів «Тойота» здобула репутацію виробника особливо якісних транспортних засобів. Ми не перед чим не зупинимося, щоб зберегти цю репутацію незаплямованою.
          .car-card__line.ico__bodytype Седан
          .car-card__line.ico__capacity 1,8л
          .car-card__line.ico__transmission 6 ступенева автоматична
          .car-card__line.ico__gastype Бензин
          .tradein-card__line
            .car-card__line.ico__available.tradein-card__ico В наявності
            .car-card__line.ico__price.tradein-card__ico Ціна: 100 000 грн.
          .car-card__more.btn-more Більше інформації
        .car-card__image
          img(src="/img/car-card.jpg")
      
      .car-card.tradein-card
        .car-card__description.tradein-card__description
          .car-card__title Land Cruiser Prado Comfort
          .car-card__info За десятки років виробництва безпечних та надійних автомобілів «Тойота» здобула репутацію виробника особливо якісних транспортних засобів. Ми не перед чим не зупинимося, щоб зберегти цю репутацію незаплямованою.
          .car-card__line.ico__bodytype Седан
          .car-card__line.ico__capacity 1,8л
          .car-card__line.ico__transmission 6 ступенева автоматична
          .car-card__line.ico__gastype Бензин
          .tradein-card__line
            .car-card__line.ico__available.tradein-card__ico В наявності
            .car-card__line.ico__price.tradein-card__ico Ціна: 100 000 грн.
          .car-card__more.btn-more Більше інформації
        .car-card__image
          img(src="/img/car-card.jpg")
      
      .car-card.tradein-card
        .car-card__description.tradein-card__description
          .car-card__title Land Cruiser Prado Comfort
          .car-card__info За десятки років виробництва безпечних та надійних автомобілів «Тойота» здобула репутацію виробника особливо якісних транспортних засобів. Ми не перед чим не зупинимося, щоб зберегти цю репутацію незаплямованою.
          .car-card__line.ico__bodytype Седан
          .car-card__line.ico__capacity 1,8л
          .car-card__line.ico__transmission 6 ступенева автоматична
          .car-card__line.ico__gastype Бензин
          .tradein-card__line
            .car-card__line.ico__available.tradein-card__ico В наявності
            .car-card__line.ico__price.tradein-card__ico Ціна: 100 000 грн.
          .car-card__more.btn-more Більше інформації
        .car-card__image
          img(src="/img/car-card.jpg")
            
  section.page-tradein-bottom.bg-cyan
    .wrapper
      .tradein-form
        .tradein-form__title.section-title Заявка на трейдин
        .tradein-form__form                    
          input.tradein-form__input.input-main(type="text" placeholder="Ваше Ім’я")
          input.tradein-form__input.input-main(type="text" placeholder="Телефон +38 0")
          input.tradein-form__submit.btn-typical(value="ВІДПРАВИТИ" type="button")        
           
          
      
    
  //- eof main content
  
  include partials/_footer.pug
  include partials/_scripts.pug
