include partials/_mixins.pug

//- title as parameter
//- example:
//- head("page title")
+head("09 service")
body
  include partials/_header.pug
    
  //- main content
  section.page-head.page-service-head
    .wrapper
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item Головна
          li.breadcrumbs__item Сервіс
        .breadcrumbs__title-wrap
          h1.breadcrumbs__title Сервіс
  .wrapper    
    .service-card.card-big
      .service-card__image-right.card-big__image.card-big__image-right
        img(src="img/c-service.jpg")
      .service-card__description-right.card-big__description.card-big__description-right
        h2.service-card__title.card-big__title.card-big__title-right.section-title Тойота сервіс
        .service-card__right.card-big__info.card-big__info-right
          p Сервисная станция Тойота Центр Киев «Автосамит» является самой большой станцией по обслуживанию автомобилей Toyota на территории Украины. Общий объем производственных площадей составляет:
          ul
            li Цех технического обслуживания и ремонта — 1268 кв. м 
            li Цех кузовного ремонта и окраски автомобилей — 892 кв.м. 
            li Оснащенность станции позволяет производить весь комплекс услуг по техническому обслуживанию автомобилей — начиная от мойки и чистки салона, заканчивая особо сложными ремонтами. 
          p Обслуживание автомобилей осуществляется согласно предварительной записи в удобное для клиентов время: с 8:00 до 21:00 по будням. с 9:00 до 21:00 в субботу c 9:00 до 20:00 в воскресенье. Оставить автомобиль для обслуживания Вы можете в любое время суток, воспользовавшись программой «Ранняя пташка».
          .btn.btn-typical.service-card__btn ЗАПИСАТИСЯ НА СЕРВІС

    .service-card.card-big
      .service-card__image-left.card-big__image.card-big__image-left
        img(src="img/c-service1.jpg")
      .service-card__description-left.card-big__description.card-big__description-left
        h2.service-card__title.card-big__title.card-big__title-left.section-title Зручний сервіс
        .service-card__left.card-big__info.card-big__info-left
          p Для удобства посетителей в сервисном центре оборудовано кафе и комната отдыха клиентов с возможностью просмотра телевизионных и видеопрограмм. Специалисты сервисной станции Тойота Центр Киев «Автосамит» имеют опыт работы более 10 лет. Их квалификация подтверждена дипломами о достижении автомобильного мастерства различных профилей.  
          p При необходимости или по желанию клиентов сервисный консультант может проводить владельца автомобиля в ремонтную зону, дать техническую консультацию по эксплуатации. С целью обеспечения быстрого и качественного технического обслуживания и проведения ремонта автомобилей Toyota в цехах установлено сервисное оборудование ведущих мировых фирм, таких как: MARUMA, ORLANDINI, HOFMANN, стенд развал-схождения BEISSBART, стенд расттяжки кузовов GLOBALJIG, покрасочная камера METRON. В процессе работ используется краска фирмы GLASURIT.
          
    .service-terms
      h2.service-terms__title.section-title Сезонні рекомендації
      .service-terms__subtitle.section-subtitle Специально для владельцев автомобилей Toyota сотрудники сервиса Тойота Центр Киев «Автосамит» подготовили сезонные рекомендации по эксплуатации и уходу за автомобилем.
      .service-terms__wraper
        .service-terms__item
          .service-terms__item-head
            .service-terms__item-head-text Комплекты для ухода за лакокрасочным покрытием кузова
          .service-terms__item-container
            .service-terms__item-content
              .service-terms__item-container-text
              
        .service-terms__item
          .service-terms__item-head
            .service-terms__item-head-text Как снизить износ щеток
          .service-terms__item-container
            .service-terms__item-content
              .service-terms__item-container-text
              
        .service-terms__item
          .service-terms__item-head
            .service-terms__item-head-text Как не разориться на топливе
          .service-terms__item-container
            .service-terms__item-content
              .service-terms__item-container-text
              
        .service-terms__item
          .service-terms__item-head
            .service-terms__item-head-text Что нужно делать во время заноса автомобиля
          .service-terms__item-container
            .service-terms__item-content
              .service-terms__item-container-text
              
        .service-terms__item
          .service-terms__item-head
            .service-terms__item-head-text Как и чем удалить битум с лакокрасочного покрытия кузова автомобиля
          .service-terms__item-container
            .service-terms__item-content
              .service-terms__item-container-text
                p.service-terms__bold Вимоги:
                ul 
                 li Освіта: середньо-спеціальна 
                 li Кат. В, С 
                 li Досвід роботи від 2 років 
                 li Знання пневматики, механіки, електроніки, гідравліки. 
                p Ми будемо раді бачити в нашій команді активних, молодих людей, спрямованих на постійний розвиток та досягнення результату 
                p.service-terms__bold Функціональні обов'язки: 
                ul
                 li Технічне обслуговування та ремонт швейного обладнання: 
                 li Виконання налагоджень; 
                 li Випуск автомобілей на лінію; 
                 li Ремонт і проведення ТО складської техніки 
                p.service-terms__bold Умови роботи: 
                ul
                 li Високий рівень доходу; 
                 li Графік роботи: пн-пт з 9:00 до 18:00; 
                 li Офіційне працевлаштування, дотримання КЗпП; 
                 li Оплачувані: лікарняні та відпустки; 
                 li Харчування; 
                 li Можливість професійного зростання; 
                 li Соц. забезпечення (корпоративний відпочинок, подарунки на всі державні свята та дні народження, знижку - 20% на всю продукцію представлену в мережі магазинів Папірус); 
                 li Виробництво знаходиться у м. Вишневому.
              .service-terms__item-container-img(style="background: url(../img/c-vacancies-1.jpg) right bottom no-repeat; background-size: contain;")
        
  .service-save
    h2.service-save__title.section-title Зберігання шин
    .service-save__wraper
      .service-save__col.service-save__col-left
        .service-save__col-left-img
          img(src="img/c-service-save1.jpg" alt="")
        .service-save__col-left-img
          img(src="img/c-service-save2.jpg" alt="")
      .service-save__col.service-save__col-mid
        p В шинном отеле поддерживается оптимальная температура и влажность – здесь резина скрыта от прямых солнечных лучей и сохраняет свойства. При размещении соблюдаются правила расположения колес:
        ul 
         li Шины с дисками хранятся в подвешенном состоянии или укладываются в стопки друг на друга. Ежемесячно нижние ряды перекладываются наверх. 
         li Шины без дисков ожидают нового сезона стоя рядом. Один раз в месяц их поворачивают, чтобы избежать деформации. 
         li При хранении по инструкции проблем с резиной не возникает – шины исправно служат весь положенный срок. 
         li Преимущества хранения в дилерском центре 
        p При использовании складов Тойота Центр Измайлово и Тойота Центр Люберцы владелец избавляется от забот, связанных с хранением, транспортировкой и заменой шин. Требуется установить летний или зимний комплект? Позвоните в дилерский центр, выберите время и приезжайте. Сотрудники вынесут и поменяют колеса, отправят снятую резину на хранение. Одновременно с шиномонтажом рекомендуется провести общую подготовку автомобиля к сезону, проверить сход-развал, оценить состояние подвески после зимы. При таком обслуживании механики вовремя замечают и устраняют дефекты. Как отправить шины на сезонный отдых 
        p Чтобы «пристроить» комплект резины на склад официального дилера, свяжитесь с администратором или приезжайте в автоцентр с рабочее время. Стандартная цена размещения – от 4-х рублей за колесо в сутки. Покрышки помоют, просушат и сложат с соблюдением правил хранения. Здесь шины будут под присмотром и без потерь дождутся следующего сезона.
      .service-save__col.service-save__col-right
        .service-save__col-right-img
          img(src="img/c-service-save3.jpg" alt="")
        .service-save__col-right-img
          img(src="img/c-service-save4.jpg" alt="")

          
  //- eof main content
  
  include partials/_footer.pug
  include partials/_scripts.pug
