include partials/_mixins.pug

//- title as parameter
//- example:
//- head("page title")
+head("11 loyalty")
body
  include partials/_header.pug
    
  //- main content
  section.page-head.page-loyalty-head
    .wrapper
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item Головна
          li.breadcrumbs__item Сервіс
          li.breadcrumbs__item Програма лояльності, з нами комфортно
        .breadcrumbs__title-wrap
          h1.breadcrumbs__title Програма лояльності, з нами комфортно
  section.page-loyalty-cards
    .wrapper
      .loyalty-about-card.card-big
        .card-big__image.card-big__image-right.loyalty-about-card__image
          img(src="img/c-loyalty-about.jpg")
        .card-big__description.card-big__description-right.loyalty-about-card__description
          h2.card-big__title-right.section-title.loyalty-about-card__title Про програму
          p.card-big__p Програма лояльності «Drive2U», учасником якої можна стати отримавши картку в дилерській мережі Корпорації "УкрАВТО", дозволяє накопичувати кошти під час обслуговування або ремонту Вашого автомобіля і, в подальшому, отримувати дисконт та різноманітні бонуси. 
           span Програма розповсюджується на всі марки автомобілів, які офіційно представляє Корпорація "УкрАВТО" в Україні, а також на автомобілі інших брендів, які були придбані не в мережі дилерських центрів Корпорації "УкрАВТО". Незалежно від того, чи перебуває Ваш автомобіль на гарантії чи ні, Ви можете стати учасником програми лояльності «Drive2U» та користуватись всіма бонусами та привілеями, які надає картка.
            
      .loyalty-terms-card.card-big
        .card-big__image.card-big__image-left.loyalty-terms-card__image
          img(src="img/c-loyalty-terms.jpg")
        .card-big__description.card-big__description-left.loyalty-terms-card__description
          h2.card-big__title-left.section-title.loyalty-terms-card__title Умови корисування
          .card-big__info.card-big__info-left
            p.card-big__p.card-big__p-left Звернувшись до одного з дилерських центрів Корпорації "УкрАВТО" та пройшовши обслуговування або ж здійснивши ремонт автомобіля, Ви отримуєте картку та стаєте учасником програми лояльності та можете, вже при наступному звернені, отримати дисконт згідно з умовами нижче. 
             span Щоб отримувати знижки та бонуси, що передбачені програмою лояльності, Вам необхідно пред’являти дисконтну карту перед кожним розрахунком за товари чи послуги. В процесі користування карткою на Вашому особовму рахунку буде накопичуватись обсяг коштів, в залежності від якого буде збільшуватись розмір дисконту на обслуговування та запасні частини.
              
  section.page-loyalty-types
    .wrapper
      h2.section-title Види програм
      .loyalty-types__wrapper
        .loyalty-types__item
          .loyalty-types__image
            .loyalty-types__title РАННЯ ПТАШКА
            img(src="img/c-loyalty-item1.jpg")
          .loyalty-types__descr
            p Для зручності клієнтів станція технічного обслуговування працює без вихідних з 8:00 до 21:00. Але, якщо проблема з Вашим автомобілем виникла в інший час, Ви можете залишити свій автомобіль на парковці Тойота Центр Київ «Автосаміт», передавши ключі охоронцеві. Диспетчер відділу сервісу передзвонить Вам вранці (або у зручний для Вас час), фахівці СТО негайно зв'яжуться з Вами і, після необхідних погоджень, приступлять до ремонту Вашого авто. **
            p ** Автомобіль, що знаходиться на території гостьової парковки, не перебуває під охороною до моменту, поки покупець не оформить замовлення-наряд. Охорона не відповідає за стан автомобіля або за погіршення його стану, а також за цінні речі, які в ньому залишені.
            p Однак, територія гостьової парковки, як і вся територія Тойота Центр Київ «Автосаміт», знаходиться під цілодобовою охороною.
            
        .loyalty-types__item
          .loyalty-types__image
            .loyalty-types__title ГАРАНТИЯ НА АВТОМОБИЛИ
            img(src="img/c-loyalty-item2.jpg")
          .loyalty-types__descr
            p На автомобили марки Toyota, приобретённые у официальных дилеров Toyota в Украине, предоставляется гарантия сроком на три года или на 100 тыс. км пробега (в зависимости от того, что наступит ранее). Техническое обслуживание и текущий ремонт автомобилей проводится только на станциях технического обслуживания (СТО) официальных дилеров Toyota в Украине. 
            p Условия гарантии
            p Компанией «Тойота Мотор Европа» (Toyota Motor Europe) устанавлены такие виды гарантии для автомобилей марки Toyota, которые реализуются на территории Украины:
            p - на новые автомобили Toyota, приобретённые через сеть официальных дилеров Toyota в Украине...
            a.available-card__more.btn-more(href="") Більше інформації
            
        .loyalty-types__item
          .loyalty-types__image
            .loyalty-types__title ДОСТАВКА АВТОМОБІЛЯ
            img(src="img/c-loyalty-item3.jpg")
          .loyalty-types__descr
            p Клієнт, який опинився в складній технічної ситуації, в будь-який час доби може викликати технічну допомогу. При цьому оплатити виклик евакуатора можна після закінчення ремонтних робіт на СТО. 
            p При необхідності, евакуювати автомобіль можливо до найближчої дилерської станції. Для виклику технічної допомоги телефонуйте, будь ласка, за телефонами сервісної станції. 
            p Для власників автомобілів Toyota з датою з датою придбання з 01.06.2005 р працює програма Toyota Assistance. Пропонуємо скористатися послугами даної системи по телефону гарячої лінії (044) 494-22-98 (вказано на картці технічної підтримки).

  //- eof main content

  include partials/_footer.pug
  include partials/_scripts.pug
