include partials/_mixins.pug

//- title as parameter
//- example:
//- head("page title")
+head("13 service-c")
body
  include partials/_header.pug
    
  //- main content
  section.page-head.page-service-c-head
    .wrapper
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item Головна
          li.breadcrumbs__item Сервіс
          li.breadcrumbs__item Сервісні кампанії
        .breadcrumbs__title-wrap
          h1.breadcrumbs__title Сервісні кампанії
  section.page-service-c
    .wrapper
    
      .service-c-card.card-big
        .card-big__image.card-big__image-right
          img(src="img/c-campaigns.jpg")
        .card-big__description.card-big__description-right.service-c-card__description
          h2.card-big__title.card-big__title-right.section-title Дякуємо за вибір автомобіля Toyota
          .card-big__info.card-big__info-right.service-c-card__text
            p Ми щиро сподіваємось, що Ви знаходите Ваш автомобіль Toyota надійним та комфортним у використанні. 
            p Одним з найголовніших пріоритетів компанії Toyota є питання якості та надійності своїх автомобілів. Ми постійно відстежуємо експлуатаційні якості наших автомобілів, використовуючи найрізноманітніші методи. 
            p Цінуючи свою репутацію і ставлячи турботу про клієнта за всіма аспектами діяльності своїм найвищим пріоритетом, компанія Toyota запроваджує Спеціальні Сервісні Кампанії, для запобігання можливості виникнення ситуації, коли певні компоненти чи аспекти автомобіля можуть не відповідати нашим високим стандартам. 
            p За допомогою програми перевірки, Ви можете перевірити чи залучений Ваш автомобіль до проведення Спеціальних Сервісних Кампаній. 
            p Програма перевірки містить перелік автомобілів марки Toyota, що були продані виключно через мережу офіційних дилерських центрів Toyota в Україні. Автомобілі, що були продані в інших країнах, не можуть бути перевірені за допомогою цієї програми.
            .btn.btn-typical.service-c-card__btn перейти на сайт перевірки автомобіля
            
  section.page-service-c-photo
    .service-c-photo
      .service-c-photo__item
        img(src="img/c-service-c-photo-1.jpg")
      .service-c-photo__item
        img(src="img/c-repair-1.jpg")
      .service-c-photo__item
        img(src="img/c-service-c-photo-3.jpg")

  //- eof main content

  include partials/_footer.pug
  include partials/_scripts.pug
