include partials/_mixins.pug
+head("17 touch")
body
  include partials/_header.pug
  
  //- main content
  section.page-head.page-head--touch
    .wrapper
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item Головна
          li.breadcrumbs__item Запчастини
        .breadcrumbs__title-wrap
          h1.breadcrumbs__title Toyota touch
  
  section.page-touch
    

    .page-touch-listing
      .section-title Toyota touch 2 з навігаційним блоком GO
      .section-subtitle 2D та 3D карти у вашому автомобілі
      .page-touch-listing__item
        .page-touch-listing__slider
          img(src="img/c-touch-slider-2-1.jpg", alt="")
        .page-touch-listing__text
          .section-title.section-title--simple.section-title--left Навігаційна система
          p Все що потрібно для подорожі Європою: розширені функції з 2D та 3D картами, онлайн сервіси та інші додатки, які знадобляться Вам для планування та здійснення подорожей доступні в оновленому меню.

          p Нова функція Автоматична навігація дозволяє складати до чотирьох маршрутів на кожен день тижня. Тому коли ви будете готові вирушати у подорож, обраний пункт призначення автоматично активується та прокладається маршрут.

      .page-touch-listing__item
        .page-touch-listing__slider
          img(src="img/c-touch-slider-2-1.jpg", alt="")
        .page-touch-listing__text
          .section-title.section-title--simple.section-title--left Зрозуміла навігація
          p Завдяки функції панорамного перегляду вулиць Google Street View™ Toyota Touch 2 з навігаційним блоком Go можливо переглянути зображення вашого поточного місця перебування або призначення та інформацію про погоду.

      .page-touch-listing__item
        .page-touch-listing__slider
          img(src="img/c-touch-slider-2-1.jpg", alt="")
        .page-touch-listing__text
          .section-title.section-title--simple.section-title--left Уважно слідкуйте за дорогою
          p Функція розпізнавання голосу тепер може бути використана для запуску та управління додатками, що робить навігацію простішою та взаємодіючи з Apple, Siri Eyes Free ще зручнішою. Для цього потрібно натиснути кнопку розпізнавання голосу на кермі, що дозволяє віддавати команди безпосередньо до Siri, а функція перетворення тексту в мову читає ваші вхідні SMS-повідомлення вголос, це дає змогу зосередитися на дорозі та не відволікатись. Крім того ви отримуєте доступ до Toyota Online послуг, завдяки точці доступу до Wi-Fi підключення чи створивши мобільну точку доступу, використовуючи свій смартфон

  //- eof main content
  
  include partials/_footer.pug
  include partials/_scripts.pug
