include partials/_mixins.pug
+head("16 protect")
body
  include partials/_header.pug
  
  //- main content
  section.page-head.page-head--protect
    .wrapper
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item Головна
          li.breadcrumbs__item Запчастини
        .breadcrumbs__title-wrap
          h1.breadcrumbs__title Toyota protect
  
  section.page-protect
    .protect-info
      .protect-info__image-wrapper
        img(src="/img/c-protect-1.png", alt="toyota protect").protect-info__image
      .protect-info__text
        .section-title Захисти свій автомобіль 
        p Toyota ProTect - продукт, який забезпечує неперевершений захист автомобіля завдяки герметичному шару покриття зовнішніх пофарбованих поверхонь кузова, тканинних поверхонь салону та легкосплавних дисків. Toyota ProTect забезпечує висококласну захист як нових автомобілів, так і автомобілів з пробігом.
          br
          | Засіб для тривалого захисту кузова - це не воскової або полімерний герметик, а передова спеціальна технологія на основі кремнію, яка формує молекулярну зв'язок з поверхнями, на яких вона застосована; вона стійка до забруднень, впливу погодних умов, автотранспортних викидів, забруднень тваринного походження тощо.
        p Засіб для захисту легкосплавних дисків - нагріті до високих температур (до 400 ° C) частинки пилу на гальмах не проникнуть через поверхню легкосплавного диска, захищеного цим засобом, що дозволить легко змити всю пилюку водою.
          br
          | Ця технологія розроблена, випробувана і схвалена як оригінальний продукт Toyota в Японії компанією Toyota Motor Corporation і її багаторічним партнером в хімічній галузі, компанією Three Bond Co. Ltd. Japan. Технологія, яка використовується в Toyota ProTect, вперше була створена в NASA (Національному управлінні США з аеронавтики і дослідження космічного простору) як засіб для покриття супутників і параболічних тарілок. Продажі в Японії і на Тайвані відзначаються неабияким успіхом, що спонукало Toyota висновку даного продукту на європейський ринок.

    .protect-banner
      img(src="/img/c-protect-2.png", alt="")

  //- eof main content
  
  include partials/_footer.pug
  include partials/_scripts.pug
