include partials/_mixins.pug

//- title as parameter
//- example:
//- head("page title")
+head("19 leasing")
body
  include partials/_header.pug
    
  //- main content
  section.page-head.page-lising-head
    .wrapper
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item Головна
          li.breadcrumbs__item Кредит
          li.breadcrumbs__item Лізинг
        .breadcrumbs__title-wrap
          h1.breadcrumbs__title Лізинг
  .wrapper
    .lising-card
      .lising-card__description
        p.lising-card__info Лізинг - це один із сучасних ефективних фінансових інструментів, який дозволяє як юридичним особам всіх форм власності, так і фізичним особам (в т.ч. приватним підприємцям) придбати необхідне майно, одержавши його відразу після підписання договору фінансового лізингу і здійснюючи розрахунки протягом довгострокового періоду (від 1 до 5 років залежно від об'єкта та ін.).
        p.lising-card__line.ico__path Після закінчення терміну лізингу і виплати лізингових платежів Лізингоодержувач стає власником даного майна.
      .lising-card__image
        img(src="img/c-testdrive-map.png")
          
    
          
  section.page-testdrive-video.bg-radial
    .wrapper    
      iframe.test-drive-video-main(width="100%" height="720" src="https://www.youtube.com/embed/09m0B8RRiEE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen)      
      .test-drive-video-slider
        
    
  section.page-lising-form.bg-cyan
    .wrapper    
      .lising-form
        h2.lising-form__title.section-title Ми будемо раді проконсультуваи вас
        .lising-form__subtitle.section-subtitle Вкажіть ваше Ім’я та номер телефону
        .lising-form__form          
          input.lising-form__input.field-typical(type="text" placeholder="Ваше Ім’я")
          input.lising-form__input.field-typical(type="text" placeholder="Телефон +38 0")
          input.lising-form__submit.btn.btn-typical(value="ВІДПРАВИТИ" type="button")
          
          
          

          
          
        
        
      
    
  
      
      
         
        
    
  
  //- eof main content
  
  include partials/_footer.pug
  include partials/_scripts.pug
