include partials/_mixins.pug

//- title as parameter
//- example:
//- head("page title")
+head("19 leasing")
body
  include partials/_header.pug
    
  //- main content
  section.page-head.page-lising-head
    .wrapper
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item Головна
          li.breadcrumbs__item Кредит
          li.breadcrumbs__item Лізинг
        .breadcrumbs__title-wrap
          h1.breadcrumbs__title Лізинг
  .wrapper
    .lising-card
      .lising-card__description
        p.lising-card__info 
        span.bold Лізинг 
        |  - це один із сучасних ефективних фінансових інструментів, який дозволяє як юридичним особам всіх форм власності, так і фізичним особам (в т.ч. приватним підприємцям) придбати необхідне майно, одержавши його відразу після підписання договору фінансового лізингу і здійснюючи розрахунки протягом довгострокового періоду (від 1 до 5 років залежно від об'єкта та ін.).
        p.lising-card__line.ico__path Після закінчення терміну лізингу і виплати лізингових платежів Лізингоодержувач стає власником даного майна.
      .lising-card__image
        img(src="img/c-lising.jpg")
          
    
          
  section.page-lising-steps.bg-gradient
    .wrapper
      .lising-steps
        .lising-steps-title.section-title 4 кроки для придбання автомобіля в лізинг:
        .lising-steps-subtitle.section-subtitle Просто і зручно
      .lising-steps-list
        .lising-steps-list__icon.i-inline__consult
        .lising-steps-list__item 1. Проконсультуватися з фахівцем і отримати комерційну пропозицію.
        .lising-steps-list__icon.i-inline__form
        .lising-steps-list__item 2. Оформити заявку і надати пакет документів (згідно встановленого переліку).
        .lising-steps-list__icon.i-inline__pen
        .lising-steps-list__item 3. Підписати договір, сплатити аванс, страховку.
        .lising-steps-list__icon.i-inline__car
        .lising-steps-list__item 4. Забрати автомобіль.
      .lising-advantage
        .lising-advantage__title Основные преимущества приобретения в финансовый лизинг:
        ul.lising-advantage__list
          li.lising-advantage__item Возможность работы как с юридическими лицами, так и с физическими и СПД.
          li.lising-advantage__item Доступное финансирование в гривнах, долларах и евро.
          li.lising-advantage__item Скорость принятия решений.
          li.lising-advantage__item Возможность выделения остаточной выкупной стоимости с целью уменьшения месячный платежей. 
          li.lising-advantage__item Авансовый взнос – от 35% стоимости предмета лизинга (в зависимости от объекта) 
          li.lising-advantage__item Отсутствие потребности формирования личного автохозяйства.
          li.lising-advantage__item Экономия времени и усилий на поиск и содержание автомобиля, подбора оптимальных и выгодных клиенту условий страхования, обслуживание банковского кредита.
          li.lising-advantage__item Лизинговая компания занимается поиском, резервированием, контролем качества, растамаживанием, сроками поставки автомобиля, оборудованием и т.д.
          li.lising-advantage__item Клиенту не нужно самостоятельно проводить много переговоров и выездных встреч с поставщиками, страховиками, банками, поставщиками дополнительного оборудования, стоять в очередях на регистрацию – этим всем занимается сотрудник лизинговой компании. 
          li.lising-advantage__item Лизинговая компания берет на себя обязанности по регистрации объекта лизинга в уполномоченных органах. 
          li.lising-advantage__item Лизинговая компания производит многочисленные платежи по оплате регистрации, траспортного сбора, конвертации валюты и т.д.
          li.lising-advantage__item На объект лизинга не может быть наложен налоговый арест, отягощения третьих лиц и т.д. 
          li.lising-advantage__item Налоговые преимущества:
            ul.lising-advantage__list
              li.lising-advantage__item 100% комиссии Лизингодателя относится на валовые затраты
              li.lising-advantage__item Амортизационные отчисления от балансовой стоимости предмета лизинга уменьшают базу налогообложения
              li.lising-advantage__item 50% топлива относятся на валовые затраты
              li.lising-advantage__item Страховые затраты в пределах 5% от затрат предприятия за текущий период относятся на валовые затраты
              li.lising-advantage__item Вознаграждение по лизингу не облагается НДС (в пределах двойной учетной ставки НБУ)
              li.lising-advantage__item Возможность получить автомобиль в пользование без значительного отвлечения денежных средств из оборота
              
      .lising-advantage
        .lising-advantage__title Клиент получает дополнительный сервисный пакет, который включает:
        ul.lising-advantage__list
          li.lising-advantage__item техническая помощь на дороге: замена колеса при проколе, подвоз топлива (топливо оплачивается отдельно), запуск двигателя в случае проблем (1 раз в год без ограничения по стоимости услуги).
          li.lising-advantage__item эвакуация автомобиля с места ДТП либо при поломке автомобиля и невозможности его самостоятельно передвижения до ближайшей СТО или к месту постоянного проживания. 
          li.lising-advantage__item телефон горячей линии (вызов ГАИ, МВД, МЧС, скорой помощи, консультации юриста, врача, организация экспертной оценки ущерба автомобиля, передача срочной информации по просьбе клиента по телефону третьим лицам, бронирование авиа и железнодорожных билетов, бронирование гостиницы, информационно-справочный сервис: навигация в дороге, погода, поиск и заказ запчастей, автосалоны, стоянки и многое другое). 
          li.lising-advantage__item администрирование страховых случаев – сопровождение оформления и выплаты страхового возмещения Лизингополучателю. 
          li.lising-advantage__item администрирование покупки топлива – экономия времени и средств Лизингополучателя на проведение закупок и учета топлива. Лизингополучатель сохраняет возможность списания топлива на валовые затраты и получает дисконтную топливную карточку в подарок. 
          li.lising-advantage__item администрирование замены шин – запись на проведение шиномонтажа, поиск шин и другие услуги. 
          li.lising-advantage__item администрирование ремонтов и технического обслуживания – запись на проведение ТО, ремонтов, администрирование гарантийных случаев. 
          li.lising-advantage__item автомобильный набор – в подарок! (аптечка, знак аварийной остановки, огнетушитель, трос, скребок, щетка, рукавицы)
      
    
  section.page-lising-form.bg-cyan
    .wrapper    
      .lising-form
        h2.lising-form__title.section-title Ми будемо раді проконсультуваи вас
        .lising-form__subtitle.section-subtitle Вкажіть ваше Ім’я та номер телефону
        .lising-form__form
          fieldset.textfield.lising-form__input
            input.textfield__input.field-typical(type="text")
            label.textfield__placeholder(for="") Ваше ім'я
          fieldset.textfield.lising-form__input
            input.textfield__input.field-typical(type="text")
            label.textfield__placeholder(for="") Телефон +38 0                    
          input.lising-form__submit.btn.btn-typical(value="ВІДПРАВИТИ" type="button")
          
          
  //- eof main content
  
  include partials/_footer.pug
  include partials/_scripts.pug
