include partials/_mixins.pug

//- title as parameter
//- example:
//- head("page title")
+head("22_news")
body
  include partials/_header.pug
     
  //- main content
  section.page-head.page-head--news
    .wrapper
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item Головна
          li.breadcrumbs__item Про нас
          li.breadcrumbs__item Новини Toyota
        .breadcrumbs__title-wrap
          h1.breadcrumbs__title Новини Toyota
          
  section.news
    .section-title Новини toyota 
    .news-grid
      .news-grid-item.news-grid-item--half
        img.news-grid-item__img(src="img/c-news.png")
        .news-grid-item__text
          .news-grid-item__date 25.09.2019
          .news-grid-item__heading НЕЙМОВІРНА ПРОПОЗИЦІЯ! TOYOTA CAMRY від 699 000 грн!
          p TOYOTA CAMRY від 699 000 грн! У 2017 році легендарний седан Toyota Camry святкує 35 років успіху. Щоб відзначити цю дату, була підготовлена ​​лімітована серія автомобіля - Camry 35th Anniversary, доступна тільки на українському ринку і тільки в цьому році.
          a.btn-more(href="#") Читати далі
      .news-grid-item.news-grid-item--half
        img.news-grid-item__img(src="img/c-news.png")
        .news-grid-item__text
          .news-grid-item__date 25.09.2019
          .news-grid-item__heading Camry 35th Anniversary – лімітована серія
          p TOYOTA CAMRY від 699 000 грн! У 2017 році легендарний седан Toyota Camry святкує 35 років успіху. Щоб відзначити цю дату, була підготовлена ​​лімітована серія автомобіля - Camry 35th Anniversary, доступна тільки на українському ринку і тільки в цьому році.
          a.btn-more(href="#") Читати далі
      
      .news-grid-item.news-grid-item--full
        img.news-grid-item__img(src="img/c-news.png")
        .news-grid-item__text
          .news-grid-item__date 25.09.2019
          .news-grid-item__heading Camry 35th Anniversary – лімітована серія
          p TOYOTA CAMRY від 699 000 грн! У 2017 році легендарний седан Toyota Camry святкує 35 років успіху. Щоб відзначити цю дату, була підготовлена ​​лімітована серія автомобіля - Camry 35th Anniversary, доступна тільки на українському ринку і тільки в цьому році.
          a.btn-more(href="#") Читати далі

      .news-grid-item.news-grid-item--full
        img.news-grid-item__img(src="img/c-news.png")
        .news-grid-item__text
          .news-grid-item__date 25.09.2019
          .news-grid-item__heading Camry 35th Anniversary – лімітована серія
          p TOYOTA CAMRY від 699 000 грн! У 2017 році легендарний седан Toyota Camry святкує 35 років успіху. Щоб відзначити цю дату, була підготовлена ​​лімітована серія автомобіля - Camry 35th Anniversary, доступна тільки на українському ринку і тільки в цьому році.
          a.btn-more(href="#") Читати далі

      .news-grid-item.news-grid-item--full
        img.news-grid-item__img(src="img/c-news.png")
        .news-grid-item__text
          .news-grid-item__date 25.09.2019
          .news-grid-item__heading Camry 35th Anniversary – лімітована серія
          p TOYOTA CAMRY від 699 000 грн! У 2017 році легендарний седан Toyota Camry святкує 35 років успіху. Щоб відзначити цю дату, була підготовлена ​​лімітована серія автомобіля - Camry 35th Anniversary, доступна тільки на українському ринку і тільки в цьому році.
          a.btn-more(href="#") Читати далі

      .news-grid-item.news-grid-item--full
        img.news-grid-item__img(src="img/c-news.png")
        .news-grid-item__text
          .news-grid-item__date 25.09.2019
          .news-grid-item__heading Camry 35th Anniversary – лімітована серія
          p TOYOTA CAMRY від 699 000 грн! У 2017 році легендарний седан Toyota Camry святкує 35 років успіху. Щоб відзначити цю дату, була підготовлена ​​лімітована серія автомобіля - Camry 35th Anniversary, доступна тільки на українському ринку і тільки в цьому році.
          a.btn-more(href="#") Читати далі
    .postnav
      .postnav__inner
        a(href="#").postnav__arrow.postnav__arrow--prev
          img(src="img/i-postnav-arrow.svg", alt="")
        .postnav__links-wrapper
          a(href="#").postnav__link.postnav__link--active 1
          a(href="#").postnav__link 2
          a(href="#").postnav__link 3
          a(href="#").postnav__link 4
        a(href="#").postnav__arrow.postnav__arrow--next
          img(src="img/i-postnav-arrow-next.svg", alt="")


  
  //- eof main content
  
  include partials/_footer.pug
  include partials/_scripts.pug
