include partials/_mixins.pug
+head("26 gallery")
body
  include partials/_header.pug
  
  //- main content
  section.page-head.page-head--gallery
    .wrapper
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item Головна
          li.breadcrumbs__item Про нас
        .breadcrumbs__title-wrap
          h1.breadcrumbs__title Галерея
  
  section.page-gallery
    .gallery
      .gallery__item
        .section-title.section-title--left.section-title--simple.gallery__title Встреча с представителями
        .section-subtitle.section-subtitle--left.gallery__subtitle 25.09.2014  Увлекательная встреча с редкими представителями всемирной организации
        .gallery__grid
          .gallery__col.gallery__col--full
            a(href="img/c-gallery-1.jpg").gallery__tile
              img(src="img/c-gallery-1.jpg", alt="").gallery__img
          .gallery__col
            a(href="img/c-gallery-2.jpg").gallery__tile
              img(src="img/c-gallery-2.jpg", alt="").gallery__img
            a(href="img/c-gallery-3.jpg").gallery__tile
              img(src="img/c-gallery-3.jpg", alt="").gallery__img
            a(href="img/c-gallery-4.jpg").gallery__tile
              img(src="img/c-gallery-4.jpg", alt="").gallery__img
            a(href="img/c-gallery-1.jpg").gallery__tile
              img(src="img/c-gallery-1.jpg", alt="").gallery__img
            a(href="img/c-gallery-2.jpg").gallery__tile
              img(src="img/c-gallery-2.jpg", alt="").gallery__img
            a(href="img/c-gallery-3.jpg").gallery__tile
              img(src="img/c-gallery-3.jpg", alt="").gallery__img
            a(href="img/c-gallery-4.jpg").gallery__tile
              img(src="img/c-gallery-4.jpg", alt="").gallery__img
            a(href="img/c-gallery-1.jpg").gallery__tile
              img(src="img/c-gallery-1.jpg", alt="").gallery__img
            a(href="img/c-gallery-2.jpg").gallery__tile
              img(src="img/c-gallery-2.jpg", alt="").gallery__img

      .gallery__item
        .section-title.section-title--left.section-title--simple.gallery__title Встреча с представителями
        .section-subtitle.section-subtitle--left.gallery__subtitle 25.09.2014  Увлекательная встреча с редкими представителями всемирной организации
        .gallery__grid
          .gallery__col.gallery__col--full
            a(href="img/c-gallery-1.jpg").gallery__tile
              img(src="img/c-gallery-1.jpg", alt="").gallery__img
          .gallery__col
            a(href="img/c-gallery-2.jpg").gallery__tile
              img(src="img/c-gallery-2.jpg", alt="").gallery__img
            a(href="img/c-gallery-3.jpg").gallery__tile
              img(src="img/c-gallery-3.jpg", alt="").gallery__img
            a(href="img/c-gallery-4.jpg").gallery__tile
              img(src="img/c-gallery-4.jpg", alt="").gallery__img
            a(href="img/c-gallery-1.jpg").gallery__tile
              img(src="img/c-gallery-1.jpg", alt="").gallery__img
            a(href="img/c-gallery-2.jpg").gallery__tile
              img(src="img/c-gallery-2.jpg", alt="").gallery__img
            a(href="img/c-gallery-3.jpg").gallery__tile
              img(src="img/c-gallery-3.jpg", alt="").gallery__img
            a(href="img/c-gallery-4.jpg").gallery__tile
              img(src="img/c-gallery-4.jpg", alt="").gallery__img
            a(href="img/c-gallery-1.jpg").gallery__tile
              img(src="img/c-gallery-1.jpg", alt="").gallery__img
            a(href="img/c-gallery-2.jpg").gallery__tile
              img(src="img/c-gallery-2.jpg", alt="").gallery__img

      .gallery__item
        .section-title.section-title--left.section-title--simple.gallery__title Встреча с представителями
        .section-subtitle.section-subtitle--left.gallery__subtitle 25.09.2014  Увлекательная встреча с редкими представителями всемирной организации
        .gallery__grid
          .gallery__col.gallery__col--full
            a(href="img/c-gallery-1.jpg").gallery__tile
              img(src="img/c-gallery-1.jpg", alt="").gallery__img
          .gallery__col
            a(href="img/c-gallery-2.jpg").gallery__tile
              img(src="img/c-gallery-2.jpg", alt="").gallery__img
            a(href="img/c-gallery-3.jpg").gallery__tile
              img(src="img/c-gallery-3.jpg", alt="").gallery__img
            a(href="img/c-gallery-4.jpg").gallery__tile
              img(src="img/c-gallery-4.jpg", alt="").gallery__img
            a(href="img/c-gallery-1.jpg").gallery__tile
              img(src="img/c-gallery-1.jpg", alt="").gallery__img
            a(href="img/c-gallery-2.jpg").gallery__tile
              img(src="img/c-gallery-2.jpg", alt="").gallery__img
            a(href="img/c-gallery-3.jpg").gallery__tile
              img(src="img/c-gallery-3.jpg", alt="").gallery__img
            a(href="img/c-gallery-4.jpg").gallery__tile
              img(src="img/c-gallery-4.jpg", alt="").gallery__img
            a(href="img/c-gallery-1.jpg").gallery__tile
              img(src="img/c-gallery-1.jpg", alt="").gallery__img
            a(href="img/c-gallery-2.jpg").gallery__tile
              img(src="img/c-gallery-2.jpg", alt="").gallery__img


    .postnav
      .postnav__inner
        a(href="#").postnav__arrow.postnav__arrow--prev
          img(src="img/i-postnav-arrow.svg", alt="")
        .postnav__links-wrapper
          a(href="#").postnav__link.postnav__link--active 1
          a(href="#").postnav__link 2
          a(href="#").postnav__link 3
          a(href="#").postnav__link 4
        a(href="#").postnav__arrow.postnav__arrow--next
          img(src="img/i-postnav-arrow-next.svg", alt="")

  //- eof main content
  
  include partials/_footer.pug
  include partials/_scripts.pug