include partials/_mixins.pug

//- title as parameter
//- example:
//- head("page title")
+head("28 contacts")
body
  include partials/_header.pug
    
  //- main content
  section.page-head.page-contacts-head
    .wrapper
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item Головна
          li.breadcrumbs__item Про нас
          li.breadcrumbs__item Контакти
        .breadcrumbs__title-wrap
          h1.breadcrumbs__title Контакти
  section.page-contacts-content        
    .contacts-card
      .contacts-card__image
        img(src="img/c-contacts-card.jpg")
      .contacts-card__info
        .contacts-card__ico.i-inline__logo
        .contacts-card__text
          p.contacts-card__title Тойота центр Київ “Автосаміт”
          p.contacts-card__p  02121, Украина, г. Киев, ул. Харьковское шоссе, 179
        .contacts-card__ico.i-inline__auto-sale
        .contacts-card__text
          p.contacts-card__title Відділ продажу автомобілів:
          p.contacts-card__p  Режим работы: ПН-СБ 8:00–21:00
            span ВС 9:00–20:00 
            span тел.: 044-537-54-52 , 044-537-54-50 
            span Viber (067) 550-09-29 
            span (Данный номер указан для общения в приложении Viber)
        .contacts-card__ico.i-inline__parts-sale
        .contacts-card__text
          p.contacts-card__title Відділ продажу автозапчастин:
          p.contacts-card__p  Режим работы: ПН-СБ 8:00–21:00 
            span ВС 9:00–20:00 
            span тел.: (044) 537 5452 (многоканальный), 560 9328
        .contacts-card__ico.i-inline__sto
        .contacts-card__text
          p.contacts-card__title СТО:
          p.contacts-card__p Режим работы: ПН-СБ 8:00–21:00 
            span ВС 9:00–20:00 тел.: (044) 537-54-51, 537-54-53 
            span Viber (067) 550-09-28 
            span (Данный номер указан для общения в приложении Viber) 
            span Оставить автомобиль для обслуживания Вы можете в любое время суток, воспользовавшись программой «Ранняя пташка».
        .contacts-card__ico.i-inline__accesories
        .contacts-card__text
          p.contacts-card__title Відділ аксесуарів:
          p.contacts-card__p Режим работы: ПН-СБ 9:00–20:00 
            span ВС 9:00–18:00 
            span тел.: (044) 537-54-54
      

  
  //- eof main content
  
  include partials/_footer.pug
  include partials/_scripts.pug
