include partials/_mixins.pug

//- title as parameter
//- example:
//- head("page title")
+head("01 mainpage")
body
  include partials/_header.pug
  
  //- main content
  .mainslider-wrapper
    img.mainslider-wrapper__bg(src="img/bg-circle-m.svg", alt="")
    img.mainslider-wrapper__bg(src="img/bg-circle-l.svg", alt="")
    .mainslider
      img(src="img/main-slider.jpg", alt="slider image")
      img(src="img/main-slider.jpg", alt="slider image")
      img(src="img/main-slider.jpg", alt="slider image")
      img(src="img/main-slider.jpg", alt="slider image")
  .wrapper
    section.cars
      .section-title.cars-title Автомобілі Toyota
      .car-grid
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-yaris.png", alt="")
          .car-grid-item__heading yaris
          .car-grid-item__price Ціна від 110 000 грн.
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-auris.png", alt="")
          .car-grid-item__heading CAMRY
          .car-grid-item__price Ціна від 699 000 грн.
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-corolla.png", alt="")
          .car-grid-item__heading COROLLA
          .car-grid-item__price Ціна від 410 400 грн.
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-rav4.png", alt="")
          .car-grid-item__heading RAV4 
          .car-grid-item__price Ціна від 793 555 грн.
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-rav4-hybrid.png", alt="")
          .car-grid-item__heading RAV4 HYBRID
          .car-grid-item__price Ціна від 793 555 грн.
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-highlander.png", alt="")
          .car-grid-item__heading HIGHLANDER
          .car-grid-item__price Ціна від 1 109 080 грн.
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-lc-prado.png", alt="")
          .car-grid-item__heading LC Prado
          .car-grid-item__price Ціна від 110 000 грн
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-lc-200.png", alt="")
          .car-grid-item__heading LC 200
          .car-grid-item__price Ціна від 1 998 000 грн.
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-c-hr.png", alt="")
          .car-grid-item__heading C-HR
          .car-grid-item__price Ціна від  604 824 грн.
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-hilux.png", alt="")
          .car-grid-item__heading HILUX
          .car-grid-item__price Ціна від 843 885 грн.
          a.car-grid-item__link.link.i-inline__testdrive(href="#") Тестдрайв
          a.car-grid-item__link.link.i-inline__available(href="#") В салоні
  section.services
    .section-title Доступні сервіси
    .section-subtitle Перелік послуг від нашого автосалону
    .services-list-wrapper
      .services-list
        .services-list__item
          img.services-list__icon(src="img/i-services-testdrive.svg")
          a.services-list__name(href="#") Запис на тестдрайв
        .services-list__item
          img.services-list__icon(src="img/i-services-order.svg")
          a.services-list__name(href="#") Замовлення авто онлайн 
        .services-list__item
          img.services-list__icon(src="img/i-services-service.svg")
          a.services-list__name(href="#") Технічне обслуговування
        .services-list__item
          img.services-list__icon(src="img/i-services-parts.svg")
          a.services-list__name(href="#") Замовлення запчастин онлайн
        .services-list__item
          img.services-list__icon(src="img/i-services-assessment.svg")
          a.services-list__name(href="#") Оцінка авто
        .services-list__item
          img.services-list__icon(src="img/i-services-campaign.svg")
          a.services-list__name(href="#") Сервісні кампанії

  section.news
    .section-title Новини toyota 
    .news-grid
      .news-grid-item.news-grid-item--half
        img.news-grid-item__img(src="img/c-news.png")
        .news-grid-item__text
          .news-grid-item__date 25.09.2019
          .news-grid-item__heading НЕЙМОВІРНА ПРОПОЗИЦІЯ! TOYOTA CAMRY від 699 000 грн!
          p TOYOTA CAMRY від 699 000 грн! У 2017 році легендарний седан Toyota Camry святкує 35 років успіху. Щоб відзначити цю дату, була підготовлена ​​лімітована серія автомобіля - Camry 35th Anniversary, доступна тільки на українському ринку і тільки в цьому році.
          a.btn-more(href="#")
            span Читати далі
      .news-grid-item.news-grid-item--half
        img.news-grid-item__img(src="img/c-news.png")
        .news-grid-item__text
          .news-grid-item__date 25.09.2019
          .news-grid-item__heading Camry 35th Anniversary – лімітована серія
          p TOYOTA CAMRY від 699 000 грн! У 2017 році легендарний седан Toyota Camry святкує 35 років успіху. Щоб відзначити цю дату, була підготовлена ​​лімітована серія автомобіля - Camry 35th Anniversary, доступна тільки на українському ринку і тільки в цьому році.
          a.btn-more(href="#")
            span Читати далі
      
      .news-grid-item.news-grid-item--full
        img.news-grid-item__img(src="img/c-news.png")
        .news-grid-item__text
          .news-grid-item__date 25.09.2019
          .news-grid-item__heading Camry 35th Anniversary – лімітована серія
          p TOYOTA CAMRY від 699 000 грн! У 2017 році легендарний седан Toyota Camry святкує 35 років успіху. Щоб відзначити цю дату, була підготовлена ​​лімітована серія автомобіля - Camry 35th Anniversary, доступна тільки на українському ринку і тільки в цьому році.
          a.btn-more(href="#")
            span Читати далі

      .news-grid-item.news-grid-item--full
        img.news-grid-item__img(src="img/c-news.png")
        .news-grid-item__text
          .news-grid-item__date 25.09.2019
          .news-grid-item__heading Camry 35th Anniversary – лімітована серія
          p TOYOTA CAMRY від 699 000 грн! У 2017 році легендарний седан Toyota Camry святкує 35 років успіху. Щоб відзначити цю дату, була підготовлена ​​лімітована серія автомобіля - Camry 35th Anniversary, доступна тільки на українському ринку і тільки в цьому році.
          a.btn-more(href="#")
            span Читати далі

      .news-grid-item.news-grid-item--full
        img.news-grid-item__img(src="img/c-news.png")
        .news-grid-item__text
          .news-grid-item__date 25.09.2019
          .news-grid-item__heading Camry 35th Anniversary – лімітована серія
          p TOYOTA CAMRY від 699 000 грн! У 2017 році легендарний седан Toyota Camry святкує 35 років успіху. Щоб відзначити цю дату, була підготовлена ​​лімітована серія автомобіля - Camry 35th Anniversary, доступна тільки на українському ринку і тільки в цьому році.
          a.btn-more(href="#")
            span Читати далі

      .news-grid-item.news-grid-item--full
        img.news-grid-item__img(src="img/c-news.png")
        .news-grid-item__text
          .news-grid-item__date 25.09.2019
          .news-grid-item__heading Camry 35th Anniversary – лімітована серія
          p TOYOTA CAMRY від 699 000 грн! У 2017 році легендарний седан Toyota Camry святкує 35 років успіху. Щоб відзначити цю дату, була підготовлена ​​лімітована серія автомобіля - Camry 35th Anniversary, доступна тільки на українському ринку і тільки в цьому році.
          a.btn-more(href="#")
            span Читати далі


    .btn-wrapper
      a.btn.btn-typical(href="#") ВСІ НОВИНИ TOYOTA


    
          
  include partials/_footer.pug
  include partials/_scripts.pug
  include partials/_popups.pug
  

