include partials/_mixins.pug

//- title as parameter
//- example:
//- head("page title")
+head("mainpage")
body
  include partials/_header.pug
  
  //- main content
  .mainslider
    img(src="img/main-slider.jpg", alt="slider image")
    img(src="img/main-slider.jpg", alt="slider image")
    img(src="img/main-slider.jpg", alt="slider image")
    img(src="img/main-slider.jpg", alt="slider image")
  .wrapper
    section.cars
      .section-title.cars-title Автомобілі Toyota
      .car-grid
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-auris.png", alt="")
          .car-grid-item__heading yaris
          .car-grid-item__price Ціна від 110 000 грн.
          a.car-grid-item__link.link(href="#") Тестдрайв
          //- a.car-grid-item__link.link(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-auris.png", alt="")
          .car-grid-item__heading CAMRY 
          .car-grid-item__price Ціна від 699 000 грн.
          a.car-grid-item__link.link(href="#") Тестдрайв
          a.car-grid-item__link.link(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-auris.png", alt="")
          .car-grid-item__heading COROLLA
          .car-grid-item__price Ціна від 410 400 грн.
          //- a.car-grid-item__link.link(href="#") Тестдрайв
          a.car-grid-item__link.link(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-auris.png", alt="")
          .car-grid-item__heading RAV4 
          .car-grid-item__price Ціна від 793 555 грн.
          a.car-grid-item__link.link(href="#") Тестдрайв
          a.car-grid-item__link.link(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-auris.png", alt="")
          .car-grid-item__heading RAV4 HYBRID
          .car-grid-item__price Ціна від 793 555 грн.
          a.car-grid-item__link.link(href="#") Тестдрайв
          a.car-grid-item__link.link(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-auris.png", alt="")
          .car-grid-item__heading HIGHLANDER
          .car-grid-item__price Ціна від 1 109 080 грн.
          a.car-grid-item__link.link(href="#") Тестдрайв
          a.car-grid-item__link.link(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-auris.png", alt="")
          .car-grid-item__heading LC Prado
          .car-grid-item__price Ціна від 110 000 грн
          a.car-grid-item__link.link(href="#") Тестдрайв
          a.car-grid-item__link.link(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-auris.png", alt="")
          .car-grid-item__heading LC 200
          .car-grid-item__price Ціна від 1 998 000 грн.
          a.car-grid-item__link.link(href="#") Тестдрайв
          a.car-grid-item__link.link(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-auris.png", alt="")
          .car-grid-item__heading C-HR
          .car-grid-item__price Ціна від  604 824 грн.
          a.car-grid-item__link.link(href="#") Тестдрайв
          a.car-grid-item__link.link(href="#") В салоні
        .car-grid-item
          img.car-grid-item__img(src="img/c-list-auris.png", alt="")
          .car-grid-item__heading HILUX
          .car-grid-item__price Ціна від 843 885 грн.
          a.car-grid-item__link.link(href="#") Тестдрайв
          a.car-grid-item__link.link(href="#") В салоні

  include partials/_footer.pug
  include partials/_scripts.pug
