include partials/_mixins.pug

//- title as parameter
//- example:
//- head("page title")
+head("mainpage")
body
  include partials/_header.pug
  
  //- main content
  .mainslider
    img(src="img/main-slider.jpg", alt="slider image")
    img(src="img/main-slider.jpg", alt="slider image")
    img(src="img/main-slider.jpg", alt="slider image")
    img(src="img/main-slider.jpg", alt="slider image")
  .wrapper
    section.cars
      .section-title Автомобілі Toyota
      
  include partials/_footer.pug
  include partials/_scripts.pug
