<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Page List
body
  ul
    li
      a(href="index.html", target="_blank") index.html
    li
      a(href="02_models.html", target="_blank") 02_models.html
    li
      a(href="03_auto-available.html", target="_blank") 03_auto-available.html
    li
      a(href="04_automobile.html", target="_blank") 04_automobile.html
    li
      a(href="05_test-drive.html", target="_blank") 05_test-drive.html
    li
      a(href="06_comparison.html", target="_blank") 06_comparison.html
    li
      a(href="07_trade-in.html", target="_blank") 07_trade-in.html
    li
      a(href="08_corporate.html", target="_blank") 08_corporate.html
    li
      a(href="09_service.html", target="_blank") 09_service.html
    li
      a(href="10_assistance.html", target="_blank") 10_assistance.html
    li
      a(href="11_loyalty.html", target="_blank") 11_loyalty.html
    li
      a(href="12_repair.html", target="_blank") 12_repair.html
    li
      a(href="13_service-campaigns.html", target="_blank") 13_service-campaigns.html
    li
      a(href="14_parts.html", target="_blank") 14_parts.html
    li
      a(href="15_accessories.html", target="_blank") 15_accessories.html
    li
      a(href="16_protect.html", target="_blank") 16_protect.html
    li
      a(href="17_touch.html", target="_blank") 17_touch.html
    li
      a(href="18_credit.html", target="_blank") 18_credit.html
    li
      a(href="19_lising.html", target="_blank") 19_lising.html
    li
      a(href="20_insurance.html", target="_blank") 20_insurance.html
    li
      a(href="22_news.html", target="_blank") 22_news.html
    li
      a(href="23_story.html", target="_blank") 23_story.html
    li
      a(href="24_special-offers.html", target="_blank") 24_special-offers.html
    li
      a(href="29_customer.html", target="_blank") 29_customer.html
    li
      a(href="31_stuff.html", target="_blank") 31_stuff.html
