@font-face {
  font-family: "Toyota Display";
  src: url("../fonts/woff2/ToyotaDisplay_Rg.woff2"); }

@font-face {
  font-family: "Toyota Display";
  src: url("../fonts/woff2/ToyotaDisplay_Bd.woff2");
  font-weight: bold; }

@font-face {
  font-family: "Toyota Text";
  src: url("../fonts/woff2/ToyotaText_Rg.woff2"); }

@font-face {
  font-family: "Toyota Text";
  src: url("../fonts/woff2/ToyotaText_It.woff2");
  font-style: italic; }

@font-face {
  font-family: "Toyota Text";
  src: url("../fonts/woff2/ToyotaText_Bd.woff2");
  font-weight: bold; }

@font-face {
  font-family: "Toyota Text";
  src: url("../fonts/woff2/ToyotaText_BdIt.woff2");
  font-weight: bold;
  font-style: italic; }

body {
  font-size: 18px;
  font-family: "Toyota Text", "Roboto", Helvetica, Arial, sans-serif;
  color: #23171A; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  max-width: 1310px; }

.wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1310px;
  position: relative;
  display: block;
  margin: 0 auto; }

.section-title {
  margin-top: 50px;
  font-size: 40px;
  font-family: "Toyota Display", arial, sans-serif;
  letter-spacing: .1em;
  line-height: 47px;
  text-align: center;
  font-weight: bold; }
  @media (max-width: 1024px) {
    .section-title {
      font-size: 26px;
      letter-spacing: .1em; } }
  .section-title:before {
    content: "";
    display: block;
    width: 39px;
    height: 26px;
    margin: 0 auto 10px;
    background-image: url("../img/i-toyota.svg");
    background-size: contain;
    background-repeat: no-repeat; }
    @media (max-width: 1024px) {
      .section-title:before {
        width: 30px;
        height: 20px; } }

.fotorama__nav-wrap {
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 10; }

.fotorama__dot, .fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 10px;
  height: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #CC0033;
  background-color: #fff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  border-color: #fff;
  position: relative; }
  .fotorama__nav__frame.fotorama__active .fotorama__dot:after {
    display: block;
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #CC0033;
    border-radius: 50%; }

.fotorama__arr--next {
  display: inline-block;
  position: static; }

.header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .header-adress {
    margin-left: 40px;
    font-style: italic;
    font-size: 14px; }
    .header-adress__icon {
      vertical-align: middle;
      margin-right: 18px; }
    .header-adress__text {
      vertical-align: middle; }

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 70px;
  padding: 0 50px; }

.logo-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

nav {
  position: relative; }

.nav, .nav__nav-secondary {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px;
  margin: 0;
  padding: 0 50px 0 25px;
  -webkit-box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
  box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5); }
  .nav__item {
    list-style: none; }
    .nav__item:hover .nav__nav-secondary {
      max-height: 80px; }
    .nav__item__link {
      text-decoration: none;
      color: #23171A;
      padding: 0 25px;
      white-space: nowrap; }
      .nav__item__link--has-child:after {
        display: inline-block;
        content: "";
        width: 7px;
        height: 4px;
        margin-left: 10px;
        background: url("/img/i-nav-arrow.svg") center no-repeat;
        vertical-align: middle;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        will-change: transform; }
      .nav__item__link--has-child:hover:after {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg); }

.nav-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90px;
  height: 140px;
  position: absolute;
  top: 0;
  right: 55px;
  padding: 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 4; }
  .nav-badge:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 69px;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: 0px 7px 14px rgba(77, 79, 83, 0.3);
    box-shadow: 0px 7px 14px rgba(77, 79, 83, 0.3); }
  .nav-badge img {
    max-width: 100%;
    height: auto; }
  .nav-badge__logo {
    width: 88%; }

.nav__nav-secondary {
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 3;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }
  .nav__nav-secondary .nav__item__link:after {
    display: none; }

.page-availible-head {
  -webkit-box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
  box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
  overflow: hidden;
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 300px;
  margin-bottom: 0;
  background-color: #767676;
  background-image: url(../img/bg-available.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 10;
  color: white; }

.breadcrumbs {
  padding-top: 110px; }

.breadcrumbs__list {
  font-size: 0;
  text-align: center; }

.breadcrumbs__item {
  position: relative;
  display: inline-block;
  padding-left: 15px;
  vertical-align: top;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.7px; }

.breadcrumbs__item:not(:first-child)::before {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  content: '';
  background: white; }

.breadcrumbs__item:first-child {
  padding-left: 0; }

.breadcrumbs__title-wrap {
  padding-top: 15px; }

.breadcrumbs__title {
  line-height: normal;
  font-size: 40px;
  text-align: center;
  letter-spacing: 4px;
  margin: 0; }

.car-card__description {
  background: #FFFFFF;
  -webkit-box-shadow: 4px 4px 24px rgba(77, 79, 83, 0.25);
  box-shadow: 4px 4px 24px rgba(77, 79, 83, 0.25);
  border-radius: 2px;
  color: #000000;
  padding: 50px 20px; }

.car-card__title {
  line-height: normal;
  font-size: 24px;
  letter-spacing: 2.4px;
  font-weight: bold; }

.car-card__info {
  padding-top: 10px;
  line-height: normal;
  font-size: 18px; }

.car-card__bodytype, .car-card__capacity, .car-card__transmission, .car-card__gastype {
  padding-top: 10px;
  line-height: normal;
  font-size: 18px; }

.car-card__more {
  padding-top: 35px;
  line-height: normal;
  font-size: 24px;
  letter-spacing: 2.4px;
  color: #CC0033;
  font-weight: bold; }
