@charset "UTF-8";
@font-face {
  font-family: "Toyota Display";
  src: url("../fonts/woff2/ToyotaDisplay_Rg.woff2"); }

@font-face {
  font-family: "Toyota Display";
  src: url("../fonts/woff2/ToyotaDisplay_Bd.woff2");
  font-weight: bold; }

@font-face {
  font-family: "Toyota Text";
  src: url("../fonts/woff2/ToyotaText_Rg.woff2"); }

@font-face {
  font-family: "Toyota Text";
  src: url("../fonts/woff2/ToyotaText_It.woff2");
  font-style: italic; }

@font-face {
  font-family: "Toyota Text";
  src: url("../fonts/woff2/ToyotaText_Bd.woff2");
  font-weight: bold; }

@font-face {
  font-family: "Toyota Text";
  src: url("../fonts/woff2/ToyotaText_BdIt.woff2");
  font-weight: bold;
  font-style: italic; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 18px;
  font-family: "Toyota Text", "Roboto", Helvetica, Arial, sans-serif;
  color: #23171A;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after, .wrapper:after, .car-card:after, .filter__icons:after, .cars-list:after, .available-car-info:after, .test-drive-card:after, .test-drive-pace:after, .test-drive-terms__description:after, .test-drive-form__car:after {
  content: "";
  display: table;
  clear: both; }

.container {
  max-width: 1310px; }

.wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1310px;
  position: relative;
  display: block;
  margin: 0 auto; }

.bg-cyan {
  background: url(/img/bg-models-filter.jpg); }

.section-title {
  font-size: 40px;
  font-family: "Toyota Display", arial, sans-serif;
  letter-spacing: .1em;
  line-height: 47px;
  text-align: center;
  font-weight: bold; }
  @media (max-width: 1024px) {
    .section-title {
      font-size: 26px;
      letter-spacing: .1em; } }
  .section-title:before {
    content: "";
    display: block;
    width: 39px;
    height: 26px;
    margin: 0 auto 10px;
    background-image: url("../img/i-toyota.svg");
    background-size: contain;
    background-repeat: no-repeat; }
    @media (max-width: 1024px) {
      .section-title:before {
        width: 30px;
        height: 20px; } }

/*хлебные крошки с белыми точками , если нужны черные, то прописать
.breadcrumbs__item:not(:first-child)::before {
    background: $black;
}  для нужного section
*/
.breadcrumbs {
  padding-top: 110px; }
  .breadcrumbs__list {
    font-size: 0;
    text-align: center; }
  .breadcrumbs__item {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    vertical-align: top;
    line-height: normal;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.05em; }
    .breadcrumbs__item:not(:first-child)::before {
      position: absolute;
      top: 8px;
      left: 5px;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      content: '';
      background: white; }
    .breadcrumbs__item:first-child {
      padding-left: 0; }
    .breadcrumbs__item:last-child {
      text-decoration: underline; }
  .breadcrumbs__title {
    font-family: "Toyota Display";
    line-height: normal;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0; }
    .breadcrumbs__title-wrap {
      padding-top: 15px; }

.btn-main-o {
  border: 3px solid #CC0033;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 24px rgba(44, 1, 12, 0.3);
  box-shadow: 4px 4px 24px rgba(44, 1, 12, 0.3);
  border-radius: 30px;
  padding: 15px 40px;
  cursor: pointer; }

.btn-main {
  cursor: pointer;
  background: #CC0033;
  -webkit-box-shadow: 4px 4px 24px rgba(44, 1, 12, 0.3);
  box-shadow: 4px 4px 24px rgba(44, 1, 12, 0.3);
  border-radius: 30px;
  padding: 15px 40px;
  display: inline-block;
  text-align: center;
  color: white; }
  .btn-main:focus {
    outline: none; }

.btn-more {
  cursor: pointer;
  font-family: "Toyota Display";
  line-height: normal;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #CC0033;
  font-weight: bold; }
  .btn-more:after {
    width: 18px;
    height: 18px;
    display: inline-block;
    content: "";
    margin-left: 10px;
    background: url("/img/i-more-arrow.svg") center no-repeat;
    vertical-align: middle; }
  .btn-more:focus {
    outline: none; }

/*стили для основных инпутов*/
.input-main {
  padding: 15px 20px;
  background: #F7F7F7;
  border: 1px solid #4D4F53;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 36px; }
  .input-main:focus {
    outline: none; }
    .input-main:focus::-webkit-input-placeholder {
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
    .input-main:focus::-moz-placeholder {
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
    .input-main:focus:-moz-placeholder {
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
    .input-main:focus:-ms-input-placeholder {
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
  .input-main::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    font-style: italic;
    font-size: 18px;
    color: #B5B7B3; }
  .input-main::-moz-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    font-style: italic;
    font-size: 18px;
    color: #B5B7B3; }
  .input-main:-moz-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    font-style: italic;
    font-size: 18px;
    color: #B5B7B3; }
  .input-main:-ms-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    font-style: italic;
    font-size: 18px;
    color: #B5B7B3; }

/*стили для основных инпутов*/
.input-main {
  padding: 15px 20px;
  background: #F7F7F7;
  border: 1px solid #4D4F53;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 36px; }
  .input-main:focus {
    outline: none; }
    .input-main:focus::-webkit-input-placeholder {
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
    .input-main:focus::-moz-placeholder {
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
    .input-main:focus:-moz-placeholder {
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
    .input-main:focus:-ms-input-placeholder {
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease; }
  .input-main::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    font-style: italic;
    font-size: 18px;
    color: #B5B7B3; }
  .input-main::-moz-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    font-style: italic;
    font-size: 18px;
    color: #B5B7B3; }
  .input-main:-moz-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    font-style: italic;
    font-size: 18px;
    color: #B5B7B3; }
  .input-main:-ms-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    font-style: italic;
    font-size: 18px;
    color: #B5B7B3; }

/* Ex:
label.filter-block__switch-label
  input.filter-block__switch-box(type="checkbox")
  span.checkbox-label Компактні автомобілі
*/
input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + .checkbox-label::before {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(../img/i-check-box.svg) center no-repeat;
  cursor: pointer;
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type="checkbox"]:checked + .checkbox-label::before {
  background: url(../img/i-check-tick.svg) center no-repeat; }

input[type="checkbox"] + .checkbox-label:hover::before {
  border: 3px solid rgba(29, 113, 184, 0.5);
  border-radius: 7px; }

input[type="radio"] {
  display: none; }

input[type="radio"] + .checkbox-label::before {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(../img/i-radio-o.svg) center no-repeat;
  cursor: pointer;
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type="radio"]:checked + .checkbox-label::before {
  background: url(../img/i-radio-select.svg) center no-repeat; }

input[type="radio"] + .checkbox-label:hover::before {
  border: 3px solid rgba(29, 113, 184, 0.5);
  border-radius: 50%; }

/* Иконки возле текста как на странице №3*/
.ico__bodytype:before {
  background: url("/img/i-bodytype.svg") center no-repeat; }

.ico__capacity:before {
  background: url("/img/i-capacity.svg") center no-repeat; }

.ico__transmission:before {
  background: url("/img/i-transmission.svg") center no-repeat; }

.ico__gastype:before {
  background: url("/img/i-gastype.svg") center no-repeat; }

.ico__path:before {
  background: url("/img/i-path.svg") center no-repeat; }

.ico__available:before {
  background: url("/img/i-available-tick.svg") center no-repeat; }

.ico__price:before {
  background: url("/img/i-price.svg") center no-repeat; }

.toggle-active {
  text-decoration: underline; }

.toggle-active {
  text-decoration: underline; }

.link {
  font-size: 14px;
  letter-spacing: .1em;
  color: #23171A;
  font-style: italic;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .link:hover {
    color: #1D71B8; }

.fotorama__nav-wrap {
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 10; }

.fotorama__dot, .fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 10px;
  height: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #CC0033;
  background-color: #fff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  border-color: #fff;
  position: relative; }
  .fotorama__nav__frame.fotorama__active .fotorama__dot:after {
    display: block;
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #CC0033;
    border-radius: 50%; }

.fotorama__arr {
  margin-top: 0;
  margin-left: 5px;
  margin-right: 5px;
  width: 12px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  position: static;
  background: url("../img/i-slider-arrow-prev.svg") center center no-repeat; }

.fotorama__arr--next {
  background-image: url("../img/i-slider-arrow-next.svg"); }

.fotorama__dot, .fotorama__nav__frame.fotorama__active .fotorama__dot {
  left: auto;
  top: auto;
  margin: 0;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 5px; }

.fotorama__nav--dots .fotorama__nav__frame {
  width: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer-slider {
  width: 100%;
  overflow: hidden; }
  .footer-slider__item {
    width: 301px;
    height: 176px;
    overflow: hidden;
    position: relative;
    cursor: pointer; }
    .footer-slider__item img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .footer-slider__item:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(35, 23, 26, 0.4);
      -webkit-box-shadow: rgba(77, 79, 83, 0.25);
      box-shadow: rgba(77, 79, 83, 0.25); }

.header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .header-adress {
    margin-left: 40px;
    font-style: italic;
    font-size: 14px; }
    .header-adress__icon {
      vertical-align: middle;
      margin-right: 18px; }
    .header-adress__text {
      vertical-align: middle; }

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 70px;
  padding: 0 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F0F2F2), to(#FFFFFF));
  background: -webkit-linear-gradient(top, #F0F2F2 0%, #FFFFFF 100%);
  background: -o-linear-gradient(top, #F0F2F2 0%, #FFFFFF 100%);
  background: linear-gradient(180deg, #F0F2F2 0%, #FFFFFF 100%);
  -webkit-box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
  box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5); }

.logo-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

nav {
  position: relative; }

.nav, .nav__nav-secondary {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px;
  margin: 0;
  padding: 0 50px 0 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F0F2F2), to(#FFFFFF));
  background: -webkit-linear-gradient(top, #F0F2F2 0%, #FFFFFF 100%);
  background: -o-linear-gradient(top, #F0F2F2 0%, #FFFFFF 100%);
  background: linear-gradient(180deg, #F0F2F2 0%, #FFFFFF 100%);
  -webkit-box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
  box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5); }
  .nav__item {
    list-style: none; }
    .nav__item:hover .nav__nav-secondary {
      max-height: 80px; }
    .nav__item__link {
      text-decoration: none;
      color: #23171A;
      padding: 0 25px;
      white-space: nowrap; }
      .nav__item__link--has-child:after {
        display: inline-block;
        content: "";
        width: 7px;
        height: 4px;
        margin-left: 10px;
        background: url("/img/i-nav-arrow.svg") center no-repeat;
        vertical-align: middle;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        will-change: transform; }
      .nav__item__link--has-child:hover:after {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg); }

.nav-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90px;
  height: 140px;
  position: absolute;
  top: 0;
  right: 55px;
  padding: 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 11; }
  .nav-badge:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 69px;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: 0px 7px 14px rgba(77, 79, 83, 0.3);
    box-shadow: 0px 7px 14px rgba(77, 79, 83, 0.3); }
  .nav-badge img {
    max-width: 100%;
    height: auto; }
  .nav-badge__logo {
    width: 88%; }

.nav__nav-secondary {
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 3;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }
  .nav__nav-secondary .nav__item__link:after {
    display: none; }

.cars-title {
  margin-top: 50px; }

#map-footer {
  height: 350px; }

.footer-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 90px; }

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  width: 48.837209302325581395%; }
  .footer-form fieldset {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .footer-form .btn-typical {
    margin-left: 20px; }

input, fieldset {
  vertical-align: middle;
  display: inline-block;
  font-size: 18px; }

fieldset {
  position: relative;
  padding: 0;
  margin: 0;
  border: none; }
  fieldset .placeholder {
    position: absolute;
    top: 18px;
    left: 20px;
    font-style: italic;
    font-size: 18px;
    color: #B5B7B3;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    pointer-events: none; }

input:focus + label,
input[data-empty="false"] + label {
  color: #23171A;
  font-size: 14px;
  -webkit-transform: translateY(-38px);
  -ms-transform: translateY(-38px);
  transform: translateY(-38px); }

.field-typical {
  width: 100%;
  padding: 17px 20px 15px;
  border: 1px solid #23171A;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100px;
  outline: none;
  font-family: inherit;
  font-style: italic;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .field-typical:hover {
    border-color: #1D71B8;
    -webkit-box-shadow: 0px 0px 7px rgba(29, 113, 184, 0.8);
    box-shadow: 0px 0px 7px rgba(29, 113, 184, 0.8); }

.btn-typical {
  display: inline-block;
  text-transform: uppercase;
  font-family: inherit;
  background: #CC0033;
  outline: none;
  border: none;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 17px 40px;
  -webkit-box-shadow: 4px 4px 24px rgba(44, 1, 12, 0.3);
  box-shadow: 4px 4px 24px rgba(44, 1, 12, 0.3);
  border-radius: 100px;
  vertical-align: middle;
  cursor: pointer;
  letter-spacing: .1em;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .btn-typical:hover {
    background-color: #9D0004; }
  .btn-typical:active {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
    outline: none; }

.footer-feedback-text {
  width: 48.837209302325581395%; }
  .footer-feedback-text__item {
    font-style: italic;
    margin: 0; }
    .footer-feedback-text__item--strong {
      font-weight: bold;
      font-style: normal;
      margin-bottom: 10px; }

.footer-info {
  padding: 120px 0;
  color: #fff;
  background: #23171A url("../img/bg-footer.png") center bottom no-repeat; }
  .footer-info__item {
    font-size: 14px; }
  .footer-info__heading {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold; }
  .footer-info__creators {
    font-size: 18px;
    color: inherit;
    font-weight: bold;
    text-decoration: none; }
    .footer-info__creators:hover {
      text-decoration: underline; }

.page-availible-head {
  -webkit-box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
  box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
  overflow: hidden;
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 300px;
  margin-bottom: 0;
  background-color: #767676;
  background-image: url(../img/bg-available.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  color: white; }

.car-card {
  margin-top: 100px;
  position: relative; }
  .car-card__description {
    background: white;
    -webkit-box-shadow: 4px 4px 24px rgba(77, 79, 83, 0.25);
    box-shadow: 4px 4px 24px rgba(77, 79, 83, 0.25);
    border-radius: 2px;
    color: #23171A;
    padding: 50px 20px;
    width: 41.66667%;
    position: absolute;
    -webkit-transform: translateY(12%);
    -ms-transform: translateY(12%);
    transform: translateY(12%); }
  .car-card__title {
    font-family: "Toyota Display";
    line-height: normal;
    font-size: 24px;
    letter-spacing: .1em;
    font-weight: bold; }
  .car-card__info {
    padding-top: 10px;
    line-height: normal;
    font-size: 18px; }
  .car-card__line {
    padding-top: 10px;
    line-height: normal;
    font-size: 18px; }
    .car-card__line:before {
      width: 41px;
      height: 31px;
      display: inline-block;
      content: "";
      margin-right: 15px;
      vertical-align: middle; }
  .car-card__more {
    padding-top: 35px; }
  .car-card__image {
    -webkit-box-shadow: 4px 4px 14px rgba(77, 79, 83, 0.25);
    box-shadow: 4px 4px 14px rgba(77, 79, 83, 0.25);
    border-radius: 2px;
    width: 66.66667%;
    max-height: 580px;
    float: right; }
    .car-card__image img {
      width: 100%; }

.page-models-head {
  overflow: hidden;
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 210px;
  margin-bottom: 0;
  z-index: 1;
  color: #23171A; }
  .page-models-head .breadcrumbs {
    padding-top: 70px; }
    .page-models-head .breadcrumbs__item:not(:first-child)::before {
      background: #23171A; }

.page-models-filter {
  padding: 50px 0; }

.filter {
  width: 91.66667%;
  margin: 0 auto;
  text-align: center; }
  .filter__title {
    font-family: "Toyota Display";
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #23171A;
    font-weight: bold; }
  .filter__icons {
    padding: 50px 0 0; }
  .filter__item {
    cursor: pointer;
    line-height: normal;
    font-size: 18px;
    color: #23171A;
    float: left;
    width: 16.66667%;
    padding-left: 13px;
    padding-right: 13px; }
  .filter__price:before {
    width: 80px;
    height: 60px;
    display: block;
    content: "";
    margin: 0 auto 10px;
    background: url("/img/i-price80x60.svg") center no-repeat;
    vertical-align: middle; }
  .filter__bodytype:before {
    width: 80px;
    height: 60px;
    display: block;
    content: "";
    margin: 0 auto 10px;
    background: url("/img/i-bodytype80x60.svg") center no-repeat;
    vertical-align: middle; }
  .filter__consumption:before {
    width: 80px;
    height: 60px;
    display: block;
    content: "";
    margin: 0 auto 10px;
    background: url("/img/i-consumption80x60.svg") center no-repeat;
    vertical-align: middle; }
  .filter__transmission:before {
    width: 80px;
    height: 60px;
    display: block;
    content: "";
    margin: 0 auto 10px;
    background: url("/img/i-transmission80x60.svg") center no-repeat;
    vertical-align: middle; }
  .filter__gastype:before {
    width: 80px;
    height: 60px;
    display: block;
    content: "";
    margin: 0 auto 10px;
    background: url("/img/i-gastype80x60.svg") center no-repeat;
    vertical-align: middle; }
  .filter__dragndrop {
    margin-top: 50px;
    padding: 60px 110px;
    border: 3px dashed #B5B7B3; }
    .filter__dragndrop__text {
      font-family: "Toyota Display";
      line-height: normal;
      font-size: 24px;
      letter-spacing: 0.1em;
      color: #B5B7B3;
      font-weight: bold; }
  .filter-price {
    display: none; }
    .filter-price:after {
      right: 80%;
      margin-right: -25px; }
    .filter-price:before {
      right: 80%;
      margin-right: -28px; }
  .filter-bodytype {
    display: none; }
    .filter-bodytype:after {
      right: 66%;
      margin-right: -25px; }
    .filter-bodytype:before {
      right: 66%;
      margin-right: -28px; }
  .filter-consumption {
    display: none; }
    .filter-consumption:after {
      right: 53%;
      margin-right: -25px; }
    .filter-consumption:before {
      right: 53%;
      margin-right: -28px; }
  .filter-transmission {
    display: none; }
    .filter-transmission:after {
      right: 39%;
      margin-right: -25px; }
    .filter-transmission:before {
      right: 39%;
      margin-right: -28px; }
  .filter-gastype {
    display: none; }
    .filter-gastype:after {
      right: 25%;
      margin-right: -17px; }
    .filter-gastype:before {
      right: 25%;
      margin-right: -20px; }
  .filter-wrapper {
    padding: 50px 0 50px;
    margin: 50px 0 75px;
    background: #FFFFFF;
    border: 3px solid #B5B7B3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative; }
    .filter-wrapper:after {
      content: "";
      position: absolute;
      top: -17px;
      border-bottom: 17px solid #ffffff;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent; }
    .filter-wrapper:before {
      content: "";
      position: absolute;
      top: -22px;
      border-bottom: 20px solid #B5B7B3;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent; }

.cars-list {
  padding: 60px 0;
  text-align: center; }
  .cars-list-item {
    list-style-type: none;
    float: left;
    width: 33.33333%;
    padding: 40px 0;
    min-height: 285px; }
    .cars-list-item__image {
      width: 100%;
      padding-bottom: 20px; }
    .cars-list-item__title {
      font-family: "Toyota Display";
      line-height: normal;
      font-size: 24px;
      text-align: center;
      letter-spacing: 0.1em;
      color: #23171A;
      font-weight: bold; }
    .cars-list-item__price {
      line-height: normal;
      font-size: 14px;
      letter-spacing: 0.1em;
      color: #23171A;
      font-style: italic;
      padding-top: 5px; }
    .cars-list-item__icons {
      width: 50%;
      margin: 10px auto; }
    .cars-list-item__testdrive {
      line-height: normal;
      font-size: 14px;
      letter-spacing: 0.1em;
      -webkit-text-decoration-line: underline;
      text-decoration-line: underline;
      font-style: italic;
      color: #23171A;
      display: inline-block; }
      .cars-list-item__testdrive:before {
        width: 16px;
        height: 12px;
        display: inline-block;
        content: "";
        margin-right: 10px;
        background: url("/img/i-testdrive.svg") center no-repeat;
        vertical-align: middle; }
    .cars-list-item__available {
      line-height: normal;
      font-size: 14px;
      letter-spacing: 0.1em;
      -webkit-text-decoration-line: underline;
      text-decoration-line: underline;
      font-style: italic;
      color: #23171A;
      display: inline-block;
      margin-left: 10px; }
      .cars-list-item__available:before {
        width: 16px;
        height: 12px;
        display: inline-block;
        content: "";
        margin-right: 10px;
        background: url("/img/i-available.svg") center no-repeat;
        vertical-align: middle; }

.filter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .filter-block__title {
    display: block;
    float: left;
    font-family: "Toyota Display";
    line-height: normal;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #23171A;
    font-weight: bold; }
  .filter-block__switches {
    display: block;
    float: left;
    width: 75%; }
  .filter-block__switch-label {
    padding: 15px 0 15px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    width: 33.333%; }

.available-car-info {
  padding: 100px 0; }
  .available-car-info__description {
    width: 47%;
    background: white;
    -webkit-box-shadow: 4px 4px 24px rgba(77, 79, 83, 0.25);
    box-shadow: 4px 4px 24px rgba(77, 79, 83, 0.25);
    border-radius: 2px;
    color: #23171A;
    padding: 50px 35px 50px 140px;
    float: right;
    -webkit-transform: translateY(15%);
    -ms-transform: translateY(15%);
    transform: translateY(15%); }
  .available-car-info__image {
    -webkit-box-shadow: 4px 4px 14px rgba(77, 79, 83, 0.25);
    box-shadow: 4px 4px 14px rgba(77, 79, 83, 0.25);
    border-radius: 2px;
    width: 48%;
    max-height: 450px;
    position: absolute;
    z-index: 1; }
    .available-car-info__image img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      min-height: 450px; }
  .available-car-info__title {
    font-family: "Toyota Display";
    line-height: normal;
    font-size: 24px;
    letter-spacing: 0.1em;
    font-weight: bold;
    width: 84%; }
  .available-car-info__info {
    padding-top: 10px;
    line-height: normal;
    font-size: 18px; }
  .available-car-info__info_p {
    display: block;
    padding-top: 20px; }
  .available-car-info__more {
    padding-top: 20px; }

.page-models-testdrive {
  background: url(/img/bg-testdrive.jpg);
  background-position: left center;
  background-size: cover;
  padding: 160px 0;
  color: white;
  margin-top: 160px; }

.test-drive__wrapper {
  width: calc(50% - 40px);
  margin: 0 0 0 auto; }

.test-drive__title {
  font-family: "Toyota Display";
  line-height: normal;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 30px; }

.test-drive__descr1, .test-drive__descr2 {
  padding-bottom: 20px; }

.test-drive__descr3 {
  padding-bottom: 30px; }

.test-drive__button-text {
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #FFFFFF; }

.page-testdrive-head {
  -webkit-box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
  box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
  overflow: hidden;
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 300px;
  margin-bottom: 0;
  background-color: #767676;
  background-image: url(../img/bg-testdrive-head.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  color: white; }

.test-drive-card {
  padding: 200px 0; }
  .test-drive-card__description {
    width: 47%;
    background: white;
    -webkit-box-shadow: 4px 4px 24px rgba(77, 79, 83, 0.25);
    box-shadow: 4px 4px 24px rgba(77, 79, 83, 0.25);
    border-radius: 2px;
    color: #23171A;
    padding: 50px 35px 50px 140px;
    float: right;
    -webkit-transform: translateY(15%);
    -ms-transform: translateY(15%);
    transform: translateY(15%); }
  .test-drive-card__image {
    -webkit-box-shadow: 4px 4px 14px rgba(77, 79, 83, 0.25);
    box-shadow: 4px 4px 14px rgba(77, 79, 83, 0.25);
    border-radius: 2px;
    width: 48%;
    max-height: 580px;
    position: absolute;
    z-index: 1; }
    .test-drive-card__image img {
      width: 100%; }
  .test-drive-card__title {
    font-family: "Toyota Display";
    line-height: normal;
    font-size: 24px;
    letter-spacing: 0.1em;
    font-weight: bold; }
  .test-drive-card__info {
    padding-top: 30px;
    line-height: normal;
    font-size: 18px; }
  .test-drive-card_p {
    display: block;
    padding-top: 20px; }
  .test-drive-card__btn {
    margin-top: 30px;
    color: white; }

.test-drive-pace {
  margin-top: 60px;
  margin-bottom: 100px;
  position: relative; }
  .test-drive-pace__description {
    background: white;
    -webkit-box-shadow: 4px 4px 24px rgba(77, 79, 83, 0.25);
    box-shadow: 4px 4px 24px rgba(77, 79, 83, 0.25);
    border-radius: 2px;
    color: #23171A;
    padding: 70px 20px;
    width: 41.66667%;
    position: absolute;
    -webkit-transform: translateY(40%);
    -ms-transform: translateY(40%);
    transform: translateY(40%); }
  .test-drive-pace__title {
    font-family: "Toyota Display";
    line-height: normal;
    font-size: 24px;
    letter-spacing: 0.1em;
    font-weight: bold; }
  .test-drive-pace__info {
    padding-top: 10px;
    line-height: normal;
    font-size: 18px; }
  .test-drive-pace__line {
    padding-top: 30px;
    line-height: normal;
    font-size: 18px;
    font-style: italic; }
    .test-drive-pace__line:before {
      width: 41px;
      height: 31px;
      display: inline-block;
      content: "";
      margin-right: 15px;
      vertical-align: middle; }
  .test-drive-pace__map {
    -webkit-box-shadow: 4px 4px 14px rgba(77, 79, 83, 0.25);
    box-shadow: 4px 4px 14px rgba(77, 79, 83, 0.25);
    border-radius: 2px;
    width: 66.66667%;
    max-height: 600px;
    float: right; }
    .test-drive-pace__map img {
      width: 100%;
      max-height: 600px;
      -o-object-fit: cover;
      object-fit: cover; }

.page-testdrive-video {
  background: -webkit-radial-gradient(50% 50%, 851px, rgba(176, 178, 173, 0.7) 0%, rgba(196, 196, 196, 0) 100%);
  background: -o-radial-gradient(50% 50%, 851px, rgba(176, 178, 173, 0.7) 0%, rgba(196, 196, 196, 0) 100%);
  background: radial-gradient(851px at 50% 50%, rgba(176, 178, 173, 0.7) 0%, rgba(196, 196, 196, 0) 100%);
  -webkit-box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
  box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
  padding: 70px 0 40px;
  height: 1100px; }

.test-drive-video-main {
  -webkit-box-shadow: 4px 4px 24px rgba(77, 79, 83, 0.25);
  box-shadow: 4px 4px 24px rgba(77, 79, 83, 0.25);
  border-radius: 10px; }

.test-drive-terms {
  padding: 200px 0; }
  .test-drive-terms__title {
    padding-bottom: 10px; }
  .test-drive-terms__subtitle {
    text-align: center;
    line-height: normal;
    font-size: 14px;
    font-style: italic;
    padding-bottom: 20px; }
  .test-drive-terms__description {
    width: 83.33333%;
    margin: 0 auto; }
    .test-drive-terms__description-item {
      float: left;
      width: 47%;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 30px; }

.test-drive-form {
  padding: 70px 0; }
  .test-drive-form__title {
    padding-bottom: 10px; }
  .test-drive-form__subtitle {
    text-align: center;
    line-height: normal;
    font-size: 14px;
    font-style: italic;
    padding-bottom: 20px; }
  .test-drive-form__car {
    width: 83.33333%;
    margin: 0 auto; }
  .test-drive-form__car-item {
    text-align: center;
    float: left;
    width: 22%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px; }
    .test-drive-form__car-item-img {
      width: 100%; }
    .test-drive-form__car-item-title {
      font-family: "Toyota Display";
      line-height: normal;
      font-size: 18px;
      letter-spacing: 0.1em;
      font-weight: bold; }
  .test-drive-form__input {
    margin: 30px auto 0;
    display: block;
    width: 30%; }
  .test-drive-form__submit {
    margin: 30px auto 0;
    display: block; }
  .test-drive-form__clear {
    cursor: pointer;
    width: 10%;
    margin: 10px auto 0;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline; }

.page-tradein-head {
  -webkit-box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
  box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
  overflow: hidden;
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 300px;
  margin-bottom: 0;
  background: url(../img/bg-tradein.jpg), -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(255, 255, 255, 0)));
  background: url(../img/bg-tradein.jpg), -webkit-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  background: url(../img/bg-tradein.jpg), -o-linear-gradient(top, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  background: url(../img/bg-tradein.jpg), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
  background-size: cover;
  z-index: 1;
  color: white; }

.page-tradein-content {
  padding-bottom: 200px; }

.tradein-available-marks {
  margin-top: 70px; }
  .tradein-available-marks__text {
    font-family: "Toyota Display";
    font-size: 24px;
    letter-spacing: 0.1em;
    font-weight: bold;
    display: inline-block; }
  .tradein-available-marks__tag {
    display: inline-block;
    margin: 0 0 0 20px; }

.tradein-card {
  margin-top: 70px; }
  .tradein-card__description {
    -webkit-transform: translateY(4%);
    -ms-transform: translateY(4%);
    transform: translateY(4%); }
  .tradein-card__line {
    padding-top: 30px; }
  .tradein-card__ico {
    display: inline-block;
    padding-right: 40px; }

.page-tradein-bottom {
  padding: 70px 0;
  text-align: center; }

.tradein-form {
  width: 66.66667%;
  margin: 0 auto; }
  .tradein-form__input {
    width: 46%;
    margin: 50px 15px 15px; }
  .tradein-form__submit {
    display: block;
    margin: 15px auto 0; }
