body {
  font-size: 18px;
  font-family: "Toyota Text", "Roboto", arial, sans-serif;
  color: #23171A; }

.container {
  max-width: 1310px; }

.wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1310px;
  position: relative;
  display: block;
  margin: 0 auto; }

.header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .header-adress {
    margin-left: 40px; }
    .header-adress__icon {
      vertical-align: middle;
      margin-right: 18px; }
    .header-adress__text {
      vertical-align: middle; }

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 70px;
  padding: 0 50px;
  -webkit-box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
  box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5); }

.logo-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px;
  margin: 0;
  padding: 0 50px 0 25px; }
  .nav__item {
    list-style: none; }
    .nav__item__link {
      text-decoration: none;
      color: inherit;
      padding: 0 25px;
      white-space: nowrap; }
      .nav__item__link--has-child:after {
        display: inline-block;
        content: "";
        width: 7px;
        height: 4px;
        margin-left: 10px;
        background: url("/img/i-nav-arrow.svg") center no-repeat;
        vertical-align: middle; }

.page-availible-head {
  -webkit-box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
  box-shadow: 0px 0px 14px rgba(77, 79, 83, 0.5);
  overflow: hidden;
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 300px;
  margin-bottom: 0;
  background-color: #767676;
  background-image: url(../img/bg-available.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 10;
  color: white; }

.breadcrumbs {
  padding-top: 110px; }
  .breadcrumbs__list {
    font-size: 0;
    text-align: center; }
  .breadcrumbs__item {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    vertical-align: top;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.7px; }
    .breadcrumbs__item:not(:first-child)::before {
      position: absolute;
      top: 6px;
      left: 5px;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      content: '';
      background: white; }
    .breadcrumbs__item:first-child {
      padding-left: 0; }
  .breadcrumbs__title {
    line-height: normal;
    font-size: 40px;
    text-align: center;
    letter-spacing: 4px;
    margin: 0; }
    .breadcrumbs__title-wrap {
      padding-top: 15px; }

.car-card {
  margin-top: 100px;
  position: relative; }
  .car-card__description {
    background: #FFFFFF;
    -webkit-box-shadow: 4px 4px 24px rgba(77, 79, 83, 0.25);
    box-shadow: 4px 4px 24px rgba(77, 79, 83, 0.25);
    border-radius: 2px;
    color: #000000;
    padding: 50px 20px;
    margin: 60px 0 65px;
    width: calc(100%/12*5);
    position: absolute; }
  .car-card__title {
    line-height: normal;
    font-size: 24px;
    letter-spacing: 2.4px;
    font-weight: bold; }
  .car-card__info {
    padding-top: 10px;
    line-height: normal;
    font-size: 18px; }
  .car-card__bodytype {
    padding-top: 10px;
    line-height: normal;
    font-size: 18px; }
    .car-card__bodytype:before {
      width: 41px;
      height: 31px;
      display: inline-block;
      content: "";
      margin-right: 15px;
      background: url("/img/i-bodytype.svg") center no-repeat;
      vertical-align: middle; }
  .car-card__capacity {
    padding-top: 10px;
    line-height: normal;
    font-size: 18px; }
    .car-card__capacity:before {
      width: 41px;
      height: 31px;
      display: inline-block;
      content: "";
      margin-right: 15px;
      background: url("/img/i-capacity.svg") center no-repeat;
      vertical-align: middle; }
  .car-card__transmission {
    padding-top: 10px;
    line-height: normal;
    font-size: 18px; }
    .car-card__transmission:before {
      width: 41px;
      height: 31px;
      display: inline-block;
      content: "";
      margin-right: 15px;
      background: url("/img/i-transmission.svg") center no-repeat;
      vertical-align: middle; }
  .car-card__gastype {
    padding-top: 10px;
    line-height: normal;
    font-size: 18px; }
    .car-card__gastype:before {
      width: 41px;
      height: 31px;
      display: inline-block;
      content: "";
      margin-right: 15px;
      background: url("/img/i-gastype.svg") center no-repeat;
      vertical-align: middle; }
  .car-card__more {
    padding-top: 35px;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 2.4px;
    color: #CC0033;
    font-weight: bold; }
    .car-card__more:after {
      width: 18px;
      height: 18px;
      display: inline-block;
      content: "";
      margin-left: 10px;
      background: url("/img/i-more-arrow.svg") center no-repeat;
      vertical-align: middle; }
  .car-card__image {
    background: url(/img/car-card.jpg);
    -webkit-box-shadow: 4px 4px 14px rgba(77, 79, 83, 0.25);
    box-shadow: 4px 4px 14px rgba(77, 79, 83, 0.25);
    border-radius: 2px;
    float: right;
    width: calc(100%/12*7); }
