
<header class="header">
  <div class="top-bar">
    <div class="logo-part">
      <div class="logo-part__logo"><img src="img/logo-new.svg" alt="site logo"/><img src="img/logo-text.svg" alt="site address"/></div>
      <div class="header-adress"><img class="header-adress__icon" src="img/i-header-map-pointer.svg" alt="map pointer"/><span class="header-adress__text">Київ, Харківське шосе, 179</span></div>
    </div>
  </div>
  <nav>
    <ul class="nav">
      <li class="nav__item"><a class="nav__item__link nav__item__link--has-child" href="#">Автомобілі</a></li>
      <li class="nav__item"><a class="nav__item__link" href="javascript:void(0);">Корпоративним клієнтам</a></li>
      <li class="nav__item"><a class="nav__item__link" href="javascript:void(0);">Акції</a></li>
      <li class="nav__item"><a class="nav__item__link" href="javascript:void(0);">Новини</a></li>
      <li class="nav__item"><a class="nav__item__link nav__item__link--has-child" href="javascript:void(0);">Сервіс</a>
        <ul class="nav__nav-secondary">
          <li class="nav__item"><a class="nav__item__link" href="javascript:void(0);">Toyota сервіс</a></li>
          <li class="nav__item"><a class="nav__item__link" href="javascript:void(0);">Ремонт і ТО</a></li>
          <li class="nav__item"><a class="nav__item__link" href="javascript:void(0);">Асістанс</a></li>
          <li class="nav__item"><a class="nav__item__link" href="javascript:void(0);">Сервісні компанії</a></li>
        </ul>
      </li>
      <li class="nav__item"><a class="nav__item__link nav__item__link--has-child" href="javascript:void(0);">Послуги</a></li>
      <li class="nav__item"><a class="nav__item__link" href="javascript:void(0);">Запчастини</a></li>
      <li class="nav__item"><a class="nav__item__link" href="javascript:void(0);">Аксесуари</a></li>
      <li class="nav__item"><a class="nav__item__link nav__item__link--has-child" href="#">Про нас</a></li>
    </ul>
    <div class="nav-badge"><img class="nav-badge__logo" src="img/badge-toyota.png" alt=""/><img class="nav-badge__slogan" src="img/badge-toyota-slogan.jpg" alt=""/></div>
  </nav>
</header>