
<div class="feedback">
  <div class="feedback__item feedback__item--small js-open-popup" data-popup="js-popup-to">
    <div class="feedback__icon feedback__icon--testdrive"></div><span class="feedback__inner">Запис на тестдрайв</span>
  </div>
  <div class="feedback__item feedback__item--small js-open-popup" data-popup="js-popup-to">
    <div class="feedback__icon feedback__icon--service"></div><span class="feedback__inner">Запис на сервіс</span>
  </div>
  <div class="feedback__item feedback__item--small js-open-popup" data-popup="js-popup-to">
    <div class="feedback__icon feedback__icon--to"></div><span class="feedback__inner">Запис на ТО</span>
  </div>
  <div class="feedback__item js-open-popup" data-popup="js-popup-callback">
    <div class="feedback__icon feedback__icon--call"></div><span class="feedback__inner">Замовити двінок або написати листа</span>
  </div>
</div>
<div class="popup js-popup-to">
  <div class="popup__dim"></div>
  <div class="popup__body">
    <div class="loader">
      <div class="loader__spinner"></div>
    </div>
    <div class="popup__close"></div>
    <div class="popup__main">
      <div class="section-title">Онлайн запис на ТО</div>
      <div class="section-subtitle popup__subtitle">Перелік послуг нашого автосалону</div>
      <form class="popup__form">
        <fieldset class="textfield">
          <input class="textfield__input field-typical" type="text"/>
          <label class="textfield__placeholder" for="">Ваше Ім’я</label>
        </fieldset>
        <fieldset class="textfield">
          <input class="textfield__input field-typical" type="text"/>
          <label class="textfield__placeholder" for="">Телефон +38 0</label>
        </fieldset>
        <input class="btn btn-typical js-popup-send" type="submit" value="Відправити"/>
        <button class="popup__cancel">відмінити</button>
      </form>
    </div>
  </div>
</div>
<div class="popup js-popup-order">
  <div class="popup__dim"></div>
  <div class="popup__body">
    <div class="popup__close"></div>
    <div class="popup__main">
      <div class="section-title">Замовлення</div>
      <div class="section-subtitle popup__subtitle">Ваша сума 2545грн.</div>
      <form class="popup__form">
        <fieldset class="textfield">
          <input class="textfield__input field-typical" type="text"/>
          <label class="textfield__placeholder" for="">Ваше Ім’я</label>
        </fieldset>
        <fieldset class="textfield">
          <input class="textfield__input field-typical" type="text"/>
          <label class="textfield__placeholder" for="">Телефон +38 0</label>
        </fieldset>
        <input class="btn btn-typical js-popup-send" type="submit" value="Відправити"/>
        <button class="popup__cancel">відмінити</button>
      </form>
    </div>
  </div>
</div>
<div class="popup popup--controls js-popup-callback popup--visible">
  <div class="popup__dim"></div>
  <div class="popup__body">
    <div class="popup__control">
      <div class="popup__switcher popup__switcher--active"><img src="img/i-popup-phone.svg" alt=""/></div>
      <div class="popup__switcher"><img src="img/i-popup-envelope.svg" alt=""/></div>
    </div>
    <div class="popup__close"></div>
    <div class="popup__main popup__main--active">
      <div class="section-title">Ми раді зателефонувати вам</div>
      <div class="section-subtitle popup__subtitle">Залиште номер та наш менеджер зателефонує вам</div>
      <form class="popup__form">
        <fieldset class="textfield">
          <input class="textfield__input field-typical" type="text"/>
          <label class="textfield__placeholder" for="">Ваше Ім’я</label>
        </fieldset>
        <fieldset class="textfield">
          <input class="textfield__input field-typical" type="text"/>
          <label class="textfield__placeholder" for="">Телефон +38 0</label>
        </fieldset>
        <input class="btn btn-typical js-popup-send" type="submit" value="Передзвоніть"/>
        <button class="popup__cancel">відмінити</button>
      </form>
    </div>
    <div class="popup__main">
      <div class="section-title">Задайте питання через імейл</div>
      <div class="section-subtitle popup__subtitle">Вкажіть ваше ім’я та повідомлення для консультанта Toyota</div>
      <form class="popup__form">
        <fieldset class="textfield">
          <input class="textfield__input field-typical" type="text"/>
          <label class="textfield__placeholder" for="">Ваше Ім’я</label>
        </fieldset>
        <fieldset class="textfield">
          <input class="textfield__input field-typical" type="text"/>
          <label class="textfield__placeholder" for="">Email</label>
        </fieldset>
        <fieldset class="textfield">
          <textarea class="textfield__input textfield__textarea"></textarea>
          <label class="textfield__placeholder" for="">Ваше повідомлення</label>
        </fieldset>
        <input class="btn btn-typical js-popup-send" type="submit" value="Передзвоніть"/>
        <button class="popup__cancel">відмінити</button>
      </form>
    </div>
  </div>
</div>