//- popup call buttons
.feedback
  .feedback__item.feedback__item--small
    .feedback__icon.feedback__icon--testdrive
    span.feedback__inner Запис на тестдрайв

  .feedback__item.feedback__item--small
    .feedback__icon.feedback__icon--service
    span.feedback__inner Запис на сервіс

  .feedback__item.feedback__item--small
    .feedback__icon.feedback__icon--to
    span.feedback__inner Запис на ТО

  .feedback__item
    .feedback__icon.feedback__icon--call
    span.feedback__inner Замовити двінок або написати листа

//- popups
.popup.js-popup-simple
  .popup__dim
  .popup__body
    .popup__header
      .popup__close ×
    .popup__main
      